.field_title { font-size: 14px; }

div.nxs_short_field {
	display: inline-block;
	width: 30%;
	min-width: 150px !important;
	vertical-align: top;
	margin-right: 10px;
}

div.nxs_medium_field {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	min-width: 200px !important;
	margin-right: 20px;
}

div.nxs_small_field {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	margin-right: 10px;
}

div.nxs_checkbox_field {
	padding-top: 25px;
}

button#nxs_add_term_compare, button.nxs_remove_term_compare, button#nxs_add_meta_compare, button.nxs_remove_meta_compare, button#nxs_add_date_period, button.nxs_remove_date_period, button#nxs_add_date_abs_period, button.nxs_remove_date_abs_period {
	height: 37px;
    margin-top: 19px;
}

#nxs_date_metabox .nxs_checkbox_field .nxs-checkbox{
	width: 35px;
	height: 35px;
}

#nxs_date_metabox .nxs_checkbox_field .nxs-checkbox::before{
	margin: -4px 0 0 -8px;
	font-size: 45px;
}

#nxs_date_metabox h2 {
	background-color: rgba(141, 141, 137, 0.21);
}

#poststuffPopup h3 {
/*    background-color: #dbff8a; */ font-size: 18px;

background: rgba(211,245,178,1);
background: -moz-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(211,245,178,1)), color-stop(100%, rgba(247,255,224,1)));
background: -webkit-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: -o-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: linear-gradient(135deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3f5b2', endColorstr='#f7ffe0', GradientType=1 );
}

#poststuffPopup h4 {
    font-size: 15px;
}

#nxs_spFltPopupX,  #nxs_spFltPopup .postbox{
  /*  background-image: url('http://www.nextscripts.com/imgs/ptbg2.png'); background-repeat: no-repeat; background-position: right bottom; */
  border-color: #b5ea7c;
    
    
}