/* This is the standard wppa_style.css file.
/*
/* It is strongly recommended not to modify this file because it will be overwritten by an update
/* Any modifications to styles that are not configurable on the settings page should be made in the standard wp customizer css tab
/*
/* This is version 8.0.07.017
*/

.wppa-container, .wppa-cover-box, .wppa-thumb-area {
	box-sizing:border-box;
}

.wppa-container img {
	border:none;
	padding:0;
	margin:0;
}

.wppa-clear {
	clear: both;
}

.wppa-multitag-table {
	width:100%;
}
.wppa-multitag-table tr td {
	padding-right:4px;
}

/* Navigation */
.prev {
}
.next {
}
.speed0, .startstop, .speed1, .prev-arrow, .next-arrow, .arrow {
	cursor: pointer;
}
/* Admin settings page defines background and border color */
.wppa-nav {
}
/* All boxes. Admin settings page defines border thickness and border radius */
.wppa-box {
	padding: 3px 6px 3px 6px;
	box-sizing: border-box;
	position:relative;
}
.wppa-filmstrip-box {
	box-sizing: content-box;
}
.wppa-mini-box {
}
/* Breadcrumb box. In case covrs are grid, linespacing of the container is set to 0 */
.wppa-bc {
	line-height: 1.5em;
}
/* Boxes in a list like album covers. Admin settings page defines background and border color */
.wppa-even {
}
.wppa-alt {
}
/* Cover and popup photo. Admin settings page defines background color */
.wppa-img {
}
/* Wrapper for albums, and thumbnails when display is like albums */
.albumlist, .thumblist {
	clear: both;
}
/* Wrapper for album etc */
.albumlist .album, .thumblist .thumb {
	padding: 6px;
	float:left;
}
/* Album name */
.wppa-title {
	margin: 0;
	padding: 0;
	clear: none;
}

/* fonts used in wppa boxes, all settable in the settings admin screen */
.wppa-box-text {
}
.wppa-nav-text {
}
.wppa-title {
}
.wppa-fulldesc {
}
.wppa-fulltitle {
}

/* default text attributes */
.wppa-black, .wppa-black:hover {
	font-weight:normal;
	color:black;
	cursor:default;
	text-decoration:none;
}

/* active pagelink item */
.wppa-active-pagelink {
	font-weight: bold;
	background-color: lightgray;
}

/* Wrapper for coverphoto background */
.coverphoto-frame, .thumbphoto-frame {
	text-decoration: none;
}

/* Coverphoto */
.coverphoto-frame .image, .thumbphoto-frame .image {
	position: relative;
	border: none;
	margin: 0;
	padding: 4px;
	border-radius: 3px;
}

/* Wrapper for covertext */
.covertext-frame {
}

/* Wrapper for thumbnail area */
.wppa-thumb-area {
	padding-right: 0px !important; /* experimental */
	position: relative;
	clear: both;
}

/* Wrapper for thumbnail background */
.thumbnail-frame, .thumbnail-frame-comalt {
	float: left;
	background-color: transparent;
	display: inline;
	overflow: hidden;
	text-align: center;
}

/* Text under thumbnail images */
.wppa-thumb-text {
	font-size: 10px;
	line-height: 15px;
	text-align: center;
}

.wppa-masonry {
	margin:0 !important;
	padding:0 !important;
	border:none !important;
}

.wppa-masonry-h {
	width: 105% !important;
}

.wppa-dummy {
	border:none !important;
}

/* The popup small image, here is still a problem with IE6 */
.wppa-popup-frame {
	position: absolute;
	z-index:1000;
	box-sizing:content-box !important;
}

.wppa-popup {
	position: absolute;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	background-color: white;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	box-sizing: content-box;
}

/* Full size photo */
.imagetitle {
    text-align: center;
	cursor: default;
}

.imagedesc {
    text-align: center;
	cursor: default;
}

/* Slideshow */
.slide-frame {
	position: relative;
	width: 100%;
	padding: 0 !important;
	clear: both;
}

.slide-frame img, .slide-frame video {
	box-sizing: content-box;
}

.wideentry .slide-frame {
	padding: 0;
}

.theslide {
	position: absolute;
	background-color: transparent;
	padding: 0 !important;
	min-width: 100% !important;
}

.theimg {
	display: block;
}

.spinner {
	width: 32px;
	height: 32px;
	position: relative;
	background-color: transparent;
}

.no-shadow {
box-shadow: none !important;
}

.wppa-arrow {
}

/* Photo name in breadcrumb */
.bc-pname {
	font-weight: normal;
	color: inherit;
	text-decoration: none;
}

/* Sidebar widgets */
.wppa-widget {
}
.wppa-multitag-widget {
}
.wppa-tagcloud-widget {
}
.wppa-widget-text {
	margin: 5px;
	text-align: center;
}

/* General purpose classes */
.big {
display: block;
margin: 0 auto;
}

.clear {
    clear: both;
}

/* Comment system */
#content .wppa-comment-form, .wppa-comment-form  {
	text-align:left;
	padding:0px;
	border: 0px none;
	width: 100%;
}
#content .wppa-comment-form input, #content .wppa-comment-form textarea, .wppa-comment-form input, .wppa-comment-form textarea  {
	padding:0px 4px;
	margin:0;
	font-size:12px;
	line-height:18px; /**/
}
#content .wppa-comment-form tr td, .wppa-comment-form tr td, #content .wppa-detail tr td, .wppa-detail tr td  {
	padding: 0px 12px;	/* 3 12 */
	border: 0px none; /**/
}
#content .wppa-comment-form table, .wppa-comment-form table, #content .wppa-detail table, .wppa-detail table {
	border: 0px none;
	text-align: left;
	width: 100%;
}


/* The custom box, background color and border is set in Table III, item 10 */
.wppa-custom {
}

/* User upload photos */
.wppa-user-file {
	float:left;
}
.wppa-user-textarea {
}
.wppa-user-submit {
	padding: 0;
/*	height: 23px; */
	float:right;
}

/* Special requests */
.wppa-slideshow-browse-link {
}

.wppa-numberbar {
    z-index: 85;
}

.wppa-numberbar a {
	text-decoration:none;
	cursor:pointer;
}

.wppa-numberbar a.wppa-numbar-current{
 /*   background-color: #000; */
}

/* The NEW indicator images */
.wppa-thumbnew {
}
.wppa-albumnew {
}

.wppa-iptc-label {
/* text-align:right; */
}
.wppa-iptc-value {
	padding-left: 12px !important;
}
.wppa-exif-label {
/* text-align:right; */
}
.wppa-exif-value {
	padding-left: 12px !important;
}

#wppa-overlay-txt table {
text-align:left;
}


.wppa-label {
	padding: 0 3px;
	border: none;
}
.wppa-value {
	padding: 0 3px 0 12px;
	border:none;
}

.wppa-mphoto {
}
.wppa-sphoto {
}

.wppa-td {
padding: 3px 2px 3px 0;
border: 0;
}

.filmwindow {
	position: absolute !important;
}

.wppa-filmthumb-active {
/*	border: 1px solid black !important; */
}

.wppa-cartform {
	margin: 0;
}

/* phpinfo */
#phpinfo {background-color: #ffffff; color: #000000;}
#phpinfo, #phpinfo td, #phpinfo th, #phpinfo h1, #phpinfo h2 {font-family: sans-serif;}
#phpinfo pre {margin: 0px; font-family: monospace;}
#phpinfo a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
#phpinfo a:hover {text-decoration: underline;}
#phpinfo table {border-collapse: collapse;}
#phpinfo .center {text-align: center;}
#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left; width:600px;}
#phpinfo .center th { text-align: center !important; }
#phpinfo td, #phpinfo th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
#phpinfo h1 {font-size: 150%;}
#phpinfo h2 {font-size: 125%;}
#phpinfo .p {text-align: left;}
#phpinfo .e {background-color: #ccccff; font-weight: bold; color: #000000;}
#phpinfo .h {background-color: #9999cc; font-weight: bold; color: #000000;}
#phpinfo .v {background-color: #cccccc; color: #000000;}
#phpinfo .vr {background-color: #cccccc; text-align: right; color: #000000;}
#phpinfo img {float: right; border: 0px;}
#phpinfo hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}

/* Fix for weaver II and theme 2013	*/
#wppa-overlay-ic img, #wppa-overlay-ic video {
    box-sizing: content-box;
}

.wppa-download-button, .wppa-vote-button {
padding: 0 4px !important;
}

.wppa-viewlink {
/* min-height: 50px;	/* accomodate for 2 line */
}

.IN-widget {
float:left;
}

/* widgets */
.wppa-tagcloud, .wppa-multitag, .wppa-upldr {
	margin-top:6px;
}

/* Fix for css3 transition that interferes with jQuery animation */
#wppa-overlay-ic img, .wppa-popup a img, .wppa-popup img {
transition: width 0s ease-in-out 0s, left 0s ease-in-out 0s, right 0s ease-in-out 0s;
}

.wppa-fotomoto-checkout, .wppa-fotomoto-container {
margin-bottom: 3px;
}
.FotomotoBar {
padding: 0 !important;
margin: 0 !important;
/* font-size:12px !important; */
}
.wppa-fotomoto-checkout a {
text-decoration: none;
font-weight: bold;
float:right;
}
.wppa-fotomoto-checkout a:hover {
	text-decoration: underline;
}
.FotomotoBarLink {
float:left !important;
}
.FotomotoECardButton {
float:left !important;
}
.FotomotoClear {
display:none;
}

/* Ajax front upload */
.wppa-progress {
	position:relative;
	width:100%;
	height: 18px;
	border: 1px solid;
	padding: 1px; border-radius: 3px;
	line-height: 18px;
	text-align: center;
}
.wppa-bar {
	background-color: #7f7;
	width:0%;
	height:18px;
	border-radius: 3px;
	line-height: 18px;
	margin: 0;
}
.wppa-percent {
	position:relative;
	display:inline-block;
	top:-19px;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
.wppa-message {
	clear: both;
}

.wppa-minicover-current div {
	color:blue;
}
.wppa-minicover {
	box-sizing:content-box !important;
}

.wppa-searchsel-item label {
	display:inline;
}
.wppa-searchsel-item .screen-reader-text {
	display:none;
}

/* Frontend upload */
.wppa-upload-table {
	border:none;
}
.wppa-upload-th {
	width:40%;
	border:none;
}
.wppa-upload-td {
	text-align:center;
	width:60%;
	border:none;
}

/* Real calendar */
.wppa-real-calendar {

}
.wppa-real-calendar tr td {
	text-align:center;
}
.wppa-real-calendar-table {
	border-collapse:collapse;
	box-sizing:border-box;
}
.wppa-real-calendar-table thead tr td {
	padding:0.25em 0;
}
.wppa-real-calendar-table tbody tr td {
	padding:0 !important;
}
.wppa-real-calendar-navi {
	cursor:pointer;
	color:darkblue;
}
.wppa-real-calendar-head {
	font-weight:bold;
}
.wppa-real-calendar-caption {

	font-size:1.4em;
}
.wppa-real-calendar-days {

}
.wppa-real-calendar-day-label {

}
.wppa-real-calendar-body {

}
.wppa-real-calendar-body tr td {
	padding:0;
}
.wppa-real-calendar-week {

}
.wppa-real-calendar-dummy {
	width:7%;
	padding:0;
	border:1px solid gray;
	background-color:darkgray;
}
.wppa-real-calendar-day {
	width:7%;
	font-size:1.2em;
	line-height:0;
	padding:0;
	border:1px solid gray;
	background-color:lightgray;
}
.wppa-real-calendar-small {

}
.wppa-real-calendar-today {
	color:red;
}
.wppa-real-calendar-inactive {
	opacity:0.35;
	cursor:default;
}
.wppa-current-day {
	border:2px solid red !important;
}

/* Lightbox positioning */
#wppa-overlay-bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200000;
}
#wppa-overlay-ic {
	position:fixed;
	z-index:200005;
	top:50%;
	left:50%;
	opacity:1;
	box-shadow:none;
	box-sizing:content-box;
	text-align:center;
	background-color:transparent;
}
#wppa-overlay-pc, #wppa-overlay-fpc, #wppa-overlay-zpc {
	position:fixed;
	z-index:200005;
	margin-top:0;
	margin-left:0;
	opacity:1;
	box-shadow:none;
	box-sizing:content-box;
	text-align:center;
	background-color:transparent;
}
#wppa-ovl-sphericpan-container, #wppa-ovl-flatpan-container,#wppa-ovl-zoom-container {
	position:fixed;
	top:0;
}

/* Global fs buttons */
#wppa-fulls-btn-1, #wppa-exit-fulls-btn-1, #wppa-ovl-spin {
	z-index:200010;
}

#wppa-pre-curr {
	max-width:48000px !important;
	max-height:48000px !important;
}

/* spheric panorama */
.wppa-pan-div canvas {
	background-color:transparent;
}

/* Contest */
.wppa-content-table th{
	text-align:center;
}
.wppa-content-table td{
	text-align:left;
}
.wppa-contest-table-photo{
	text-align:center;
	width:30% !important;
}
.wppa-contest-table-photo img{
	width:100% !important;
}
.wppa-contest-table-points{
	text-align:right !important;
	padding-right: 2% !important;
}
