html div#conblock_div_id{
    border: 4px double #c5c5c5 !important;
    padding: 5px !important;
}

div#conblock_div_id p[class="conblock_block_para"],div#conblock_div_id form[class="conblock_block_form"]{
    text-align: center;
}

div#conblock_div_id [placeholder]{
    text-align: center;
    padding: 10px;    
}

.conblock_div input[type="submit"]{
    border:1px solid #c5c5c5;
    padding: 10px;     
    height: 100%;  
}

.conblock_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

div.conblock_div .conblock_block_form div.ays_sccp_bc_form_fields{
    margin-right: 10px;    
    margin-top: 10px;
}