.wpdiscuz-wrapper {background:#F1F1F1;padding: 10px;}
.wpdiscuz-wrapper input[type="text"].wpd-form-title{background-color: #fff; line-height:22px; width:98%; font-size: 1.2em; height: 30px; margin: 10px auto;  outline: 0 none; padding: 3px 8px; border: 1px solid #ddd; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset; color: #32373c; transition: border-color 50ms ease-in-out 0s; }
.wpdiscuz-wrapper input[type="text"], input[type="radio"], input[type="url"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="email"], input[type="number"], select, textarea{padding:5px 10px; margin:0px; font-size:14px; color:#666666; border: 1px solid #ddd; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset; outline: 0 none; transition: border-color 50ms ease-in-out 0s;}
.wpdiscuz-wrapper .wpd-form{width:100%; border:1px solid #dddddd; background:#FbFbFb; padding:30px; box-sizing:border-box; }
.wpdiscuz-wrapper .wpd-form .wpd-field{line-height:16px; color:#666666; border:1px solid #ffffff; vertical-align:bottom; width:100%; padding:7px 10px 5px 10px; margin:0px 2px 15px 2px; text-align:center; box-sizing:border-box; background:#EAEAEA; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 2px rgba(0,0,0,0.2); box-shadow: 0 1px 2px rgba(0,0,0,0.2); -webkit-transition: background-color 0.5s; -moz-transition: background-color 0.5s; -o-transition: background-color 0.5s; transition: background-color 0.5s;}
.wpdiscuz-wrapper .wpd-form .wpd-field-add:hover{background-color:#2DD8B6; color:#ffffff;}
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head{text-align:left; font-size:12px; text-transform:uppercase; margin:0px; padding:3px; cursor:move; }
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head .wpd-field-actions{float:right; color:#999999; text-transform:lowercase; font-size:14px; } 
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head .wpd-field-actions i{cursor:pointer;}
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head i.fa-pencil-alt{color:#18CEAA; vertical-align:bottom; margin-right:5px; }
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head i.fa-trash-alt{color:#FF8989; vertical-align:bottom; margin-left:5px; }
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head i.fa-pencil-alt:hover{color:#07B290; vertical-align:bottom; }
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head i.fa-trash-alt:hover{color:#E53F41; vertical-align:bottom; }
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head-new{text-align:center; font-size:15px; text-transform:uppercase; margin:0px; padding:3px; font-weight:bold;}
.wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head-textarea{text-align:center; font-size:14px; color:#666666; text-transform:uppercase; margin:0px; padding:20px; }
.wpdiscuz-wrapper .wpd-form-options th, .wpdiscuz-wrapper .wpd-form-options td{padding:10px 5px; text-align:left; color:#444444; border-bottom:1px dotted #dbdbdb; font-weight:normal; font-size: 14px; line-height: 1.3em;}
.wpdiscuz-wrapper .wpd-form-options label{display: inline-block; white-space:nowrap; color:#444; font-size:13px;}
.wpdiscuz-wrapper .wpd-form-options .wpd-ct label{min-width:115px; width: 25%;}
.wpdiscuz-wrapper .wpd-form-options input, .wpdiscuz-wrapper .wpd-form-options span, .wpdiscuz-wrapper .wpd-form-options label{vertical-align:middle; }
.wpdiscuz-wrapper .wpd-info{font-size:13px; color:#999999; font-style:italic; line-height:16px; width:90%; padding-left:0px; margin-left:0px; margin:0px; padding:0px; padding-bottom:10px;}
.wpdiscuz-wrapper .wpd-col-wrap {width:100%;}
.wpdiscuz-wrapper .wpd-col-wrap .wpd-col-left{width:49%; box-sizing:border-box; float:left;}
.wpdiscuz-wrapper .wpd-col-wrap .wpd-col-right{width:49%; box-sizing:border-box; margin-left:2%; float:right;}
.wpdiscuz-wrapper .wpd-field-body{ background:#FDFDFD; padding:10px; text-align:left; margin:12px 0px 5px 0px; border-top:1px solid #ddd;}
.wpdiscuz-wrapper .wpd-field-option { width:100%; float:left; margin-left:1%; margin:2px 0px;}
.wpdiscuz-wrapper .wpd-col-full .wpd-field-option { width:100%; float:none; }
.wpdiscuz-wrapper .wpd-field-option label{ display:inline-block; width:40%; font-size:13px;}
.wpdiscuz-wrapper .wpd-field-option input[type="text"],
.wpdiscuz-wrapper .wpd-field-option select{padding:3px 5px; font-size:13px; display:inline-block; width:55%; box-sizing:border-box;}
.wpdiscuz-wrapper .wpd-field-option input[type="checkbox"]{cursor:pointer;}
.wpdiscuz-wrapper .wpd-field-option .wpd-filed-variants{ margin-bottom:10px;}
.wpdiscuz-wrapper .wpd-field-option .wpd-filed-variants input[type="text"]{margin:5px 0px 1px 0px; width:96%}

#TB_title{background:#E9E9E9!important; text-align:left!important; text-transform:uppercase; font-size:16px!important; font-weight:normal!important; line-height:20px!important; padding:5px 10px;}
#TB_ajaxContent{ width:94%!important; }
#TB_ajaxContent .wpd-field-body{ background:#FDFDFD; padding:15px; text-align:left; margin:20px 0px 15px 0px; border:1px solid #eee;}
#TB_ajaxContent .wpd-field-option { width:100%; margin:7px 0px;}
#TB_ajaxContent .wpd-field-option textarea { width:98%; margin:7px 0px;}
#TB_ajaxContent .wpd-field-option label{ display:inline-block; width:50%; font-size:14px; vertical-align: bottom;}
#TB_ajaxContent .wpd-field-option input[type="text"],
#TB_ajaxContent .wpd-field-option select{padding:3px 5px; font-size:13px; display:inline-block; width:55%; box-sizing:border-box;}
#TB_ajaxContent .wpd-field-option input[type="checkbox"]{cursor:pointer;}
#TB_ajaxContent .wpd-field-option .wpd-filed-variants{ margin-bottom:10px;}
#TB_ajaxContent .wpd-field-option .wpd-filed-variants input[type="text"]{margin:5px 0px 1px 0px; width:96%}
#TB_ajaxContent .wpd-info{font-size:13px; color:#999999; font-style:italic; line-height:18px; width:90%; padding: 3px 0 1px; margin:0px;}
#TB_ajaxContent .add-to-form-button-cont{text-align:right;}
#TB_ajaxContent .wpdiscuz-tb-title{ font-size:20px; font-weight:400; color:#555; text-align:right; padding-bottom:10px; border-bottom:1px solid #eaeaea;}
#TB_ajaxContent .wpd-field-button.button, #TB_ajaxContent .wpd-field-button.button{ margin:2px 1px 5px 1px; min-width: 32%;}

.wpdiscuz-wrapper .wpd-form-row-wrap{box-sizing: border-box; min-height: 60px; margin-top:35px; position:relative; border:4px dashed #dedede;}
.wpdiscuz-wrapper .wpd-form-row-wrap .wpd-form-row-actions{background: #dedede;}
.wpdiscuz-wrapper .wpd-form-row-wrap .wpd-form-row-head{height: 30px;position: absolute;right: 0;top: -28px;}
.wpd-form-row-actions{font-size: 18px;border-radius: 5px 5px 0 0;color: #bbb;}
.wpd-form-row-actions .fa-arrows-alt{cursor:move;color:#999;}
.wpd-form-row-actions .fa-trash-alt{cursor: pointer;color: #EF4F4F;}
.wpd-form-row-actions .fa-columns{cursor: pointer;color: #999;}
.wpd-form-columns-two{color: #2DD8B6 !important;}
.wpd-form-row-actions .fas{padding: 5px;}
.wpd-form-row-body .wpd-form-add-filed{width: 100%;text-align: center;}
.wpd-form-row-body .wpd-form-add-filed .fa-plus{cursor: pointer;padding: 10px;font-size: 20px;color: #2DD8B6;}
.wpd-form-row-body .full-col,.wpd-form-row-body .col-body{width: 100%;}
.wpd-form-row-body {display: flex;flex-flow: row wrap;align-items: flex-start;}
.wpd-form-col{flex: 1 1 40%; padding: 7px 10px 7px 7px;margin: 7px;background: #fff; border: 2px dotted #ddd;}
.wpd-form-row-body .col-body{min-height: 10px;}
.wpd-form-row-body .wpd-field-body textarea{width: 100%;}
.wpdFieldLoad{bottom: 0; left: 0; right: 0;  top:0; position: absolute;  margin: auto;}

.wpd-invalid-field{ border: 1px solid red;}
#TB_ajaxContent .wpdiscuz-item{position:relative; }
#TB_ajaxContent .wpdiscuz-item .alert { left:40%!important; left:auto; top:-16px!important;}
.wpd-default-field{background: #D0EAE5 !important;}
.wpdiscuz-wrapper .wpd-form-table td, .wpdiscuz-wrapper .wpd-form-table th{ vertical-align:top; }
.wpdiscuz-wrapper .wpd-form-rel-exixts span{ color:#DD0000;}
.iconpicker-popover.popover{z-index: 1000; width:230px;}
.iconpicker-popover .popover-title .iconpicker-search{width: 100%}
.wpd-advaced-options.wpd-field-option{margin-top: 10px;}
.wpd-advaced-options-title{color: blue;cursor: pointer;}
.wpd-advaced-options-cont{display: none;}

@media screen and (max-width:650px){
	.wpdiscuz-wrapper .wpd-field-option label{ width:100%;}
	.wpdiscuz-wrapper .wpd-field-option input[type="text"],
	.wpdiscuz-wrapper .wpd-field-option select{width:100%; margin-top:3px;}
}

[dir=rtl] .wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head {text-align: right;}
[dir=rtl] .wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head .wpd-field-actions{float: left;}
[dir=rtl] .wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head i.fa-pencil-alt{margin-right: 0px; margin-left: 5px;}
[dir=rtl] .wpdiscuz-wrapper .wpd-form .wpd-field .wpd-field-head i.fa-trash-alt{margin-right: 10px; margin-left: 0px;}
[dir=rtl] .wpdiscuz-wrapper .wpd-form-options th,
[dir=rtl] .wpdiscuz-wrapper .wpd-form-options td {text-align: right;}
[dir=rtl] .wpdiscuz-wrapper .wpd-info {padding-right: 0px; margin-right: 0px;}
[dir=rtl] .wpdiscuz-wrapper .wpd-col-wrap .wpd-col-left {float: right;}
[dir=rtl] .wpdiscuz-wrapper .wpd-col-wrap .wpd-col-right {margin-left: 0; margin-right: 2%;float: left;}
[dir=rtl] .wpdiscuz-wrapper .wpd-field-option{width: 100%; float: right; margin-left: 0; margin-right: 1%;}
[dir=rtl] .wpdiscuz-wrapper .wpd-field-body{text-align: right;}
[dir=rtl] #TB_title {text-align: right!important;}
[dir=rtl] #TB_ajaxContent .wpd-field-body {text-align: right;}
[dir=rtl] #TB_ajaxContent .add-to-form-button-cont {text-align: left;}
[dir=rtl] #TB_ajaxContent .wpdiscuz-tb-title {text-align: left;}
[dir=rtl] .wpdiscuz-wrapper .wpd-form-row-wrap .wpd-form-row-head {right: auto;left: 0;}
[dir=rtl] .wpd-form-col {padding: 7px 7px 7px 10px;}
[dir=rtl] .wpdFieldLoad {right: 0;left: 0;}
[dir=rtl] #TB_ajaxContent .wpdiscuz-item .alert {right: 40%!important;left: auto;}