.wpdiscuz-hidden {display: none!important;}
.wpdiscuz-desc{font-size: 15px!important;}
.wpdiscuz-note{color: #C74A4A!important;}
.wpdiscuz-thankyou{font-size:15px;text-align:center;padding:20px 5%;margin:0;}
#wpdDeactivationReason {}
#wpdDeactivationReason .wpd-deactivation-reason-item {margin-bottom: 5px;}
#wpdDeactivationReason .wpd-deactivation-reason-item label {font-size: 14px;}
#wpdDeactivationReason .wpd-deactivation-reason-more-info {display: none;}
#wpdDeactivationReason .wpd-deactivation-reason-more-info textarea {width: 100%;margin-top: 10px;}
#wpdDeactivationReason .wpd-deactivation-reasons-actions {margin-top: 20px;text-align: center;}
#wpdDeactivationReason .wpd-loading {margin-left: 8px;}

/* fa */

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?jyfesq');
    src:  url('fonts/icomoon.eot?jyfesq#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?jyfesq') format('truetype'),
        url('fonts/icomoon.woff?jyfesq') format('woff'),
        url('fonts/icomoon.svg?jyfesq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-spinner:before {
    content: "\e905";
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#wpdDeactivationReason .deactivation_feedback {
    display: flex;
    flex-wrap: wrap;
}

#wpdDeactivationReason .wpd-info {
    width: 100%;
    padding: 5px 0;
    color: #777;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    line-height: 18px;
    margin: 0;
}

#wpdDeactivationReason .wpddf_left {
    flex-shrink: 0;
    flex-grow: 0;
    align-self: center;
    padding: 0 15px 0 10px;
}

#wpdDeactivationReason .wpddf_right {
    flex-grow: 1;
}

#wpdDeactivationReason .wpddf_right input {
    height: 35px;
    width: 100%;
    padding: 3px 15px;
    font-weight: 100;
    font-style: italic;
}

#wpdDeactivationReason .wpd-deactivation-reason-more-info textarea {
    width: 100%;
    margin-top: 10px;
}

#wpdDeactivationReason .wpd_deactivation_feedback {
    display: flex;
    flex-wrap: wrap;
}