/*******************************************************************************/
/*  C O L O R    S K I N          **********************************************/
/*******************************************************************************/
/* For better compatibility, please change here only following properties:     */
/*
*        background , background-color, background-repeat, background-image,  background-repeat, background-position
*        border
*        box-shadow, -moz-box-shadow, -webkit-box-shadow
*        border-radius, -moz-border-radius, -webkit-border-radius
*        color
*        font-weight
*        text-shadow
*        text-transform
*
*/

/*   S K I N  -  BLUE  **********************************************************************************************/
/* Button */
.wpbc_times_selector div {
	color: #59d;
	border:1px solid #59d;
	border-radius: 5px;
	text-align: center;
	font-weight: 400;
	font-size: 0.9em;
}

/* Button - Mouse Over */
.wpbc_times_selector div:hover{
	background: #f2f9ff;
	box-shadow: 1px 0px #eee;
}
/* Button - Selected */
.wpbc_times_selector div.wpbc_time_selected{
	background: #59d;
	color: #fff;
	box-shadow: 1px 0px #eee;
	font-weight: 600;
}
