/* A theme in dark grays and blacks with light text and dark blue highlighting. */
.mc-main .event-title {
    color: #fff;
}

.mc-main, .mc-list {
    background: #333;
    color: #fff;
}

.mc-main a {
    color: #9cf;
    text-decoration: none;
}

.mc-main a:hover {
    text-decoration: underline;
    color: #fff;
}

.mc-main caption, .mc-main .my-calendar-date-switcher,
.mc-main .category-key, .mc-main .calendar-event .details,
.mc-main .calendar-events {
    background: #222;
    color: #fff;
}

.mc-main .category-key .no-icon {
    border: 1px solid #bbb;
}

.mc-main, .mc-list {
    background: #333;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.mc-main caption, .mc-main .my-calendar-date-switcher, .mc-main .my-calendar-nav li a:hover, .mc-main .category-key {
    border: 1px solid #222;
}

.mc-main .my-calendar-date-switcher {
    padding: 4px;
    margin: 0 0 10px;
}

.mc-main .my-calendar-date-switcher input, .mc-main .my-calendar-date-switcher select {
    margin: 0;
    padding: 0;
    color: #333;
}

.mc-main .my-calendar-date-switcher label {
    margin: 0;
    padding: 0;
    color: #fff;
}

.mc-main .my-calendar-date-switcher .button {
    font-size: .9em;
}

.mc-main .list-event .details, .mc-main td {
    border: 1px solid #222;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    background: #444;
    border: 1px solid #222;
    color: #fff;
}

.mc-main .my-calendar-nav li a, .mc-main .calendar-event .details, .mc-main .calendar-events {
    border: 1px solid #444;
}

.mc-main .list-event .details {
    background: #252525;
    color: #eee;
}

.mc-main .mc-list .odd {
    background: #353535;
}

.mc-main .odd .list-event .details {
    background: #151515;
    border: 1px solid #353535;
}

.mc-main .nextmonth, .mc-main .nextmonth .weekend {
    color: #999;
}

.mc-main .current-day {
    background: #224;
}

.mc-main .current-day .mc-date {
    color: #fff;
    background: #111;
}

.mc-main .weekend {
    background: #555 !important;
    color: #fff !important;
}

.mc-main .mc-date {
    background: #080808;
    color: #fff;
}

.mc-main .my-calendar-nav li a {
    color: #aaf;
    background: #000;
}

.mc-main .my-calendar-nav li a:hover {
    color: #fff;
    border: 1px solid #aaf;
}

.upcoming-events .past-event {
    color: #aaa;
}

.upcoming-events .today {
    color: #eee;
}

.upcoming-events .future-event {
    color: #bbb;
}

.mc-main caption {
    margin: 2px 0;
    font-weight: 700;
    padding: 2px;
}

.mc-main table, .mc-main.calendar {
    width: 100%;
    line-height: 1.2;
    border-collapse: collapse;
}

.mc-main td {
    vertical-align: top;
    text-align: left;
    width: 13%;
    height: 70px;
    padding: 2px !important;
}

.mini td {
    height: auto !important;
}

.mc-main th {
    text-align: center;
    padding: 5px 0 !important;
    letter-spacing: 1px;
}

.mc-main th abbr {
    border-bottom: none;
}

.mc-main h3, .mc-main h3 a {
    display: block;
    font: 700 10px Arial, Verdana, sans-serif;
    margin: 3px 0;
    padding: 0;
    width: 100%;
    color: #fff;
    clear: none;
    line-height: 1;
    text-transform: none;
    letter-spacing: 100%;
}

.mc-main h3 a {
    text-decoration: none;
}

.mc-main h3 a:hover, .mc-main h3 a:focus {
    text-decoration: underline;
}

.mc-main h2 {
    color: #fff;
}

.mc-main h3 img {
    vertical-align: middle;
    margin: 0 3px 0 0 !important;
}

.mc-main .mc-list h3 img {
    vertical-align: middle;
}

.mc-main .list-event h3 {
    font-size: 1.2em;
    margin: 0;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    position: absolute;
    left: 15%;
    width: 70%;
    padding: 5px;
    z-index: 3;
    border: 2px solid #222;
    -moz-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}

.mc-main .details .close img {
    float: right;
    background: #aaa;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
}

.mc-main.mini .details .close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.mc-main .calendar-events {
    width: 200px !important;
    left: 0px;
}

.mc-main .list-event .details {
    margin: 5px 0;
    padding: 5px 5px 0;
}

.mc-main .mc-list {
    margin: 0;
    padding: 0;
}

.mc-main .mc-list li {
    padding: 5px;
    list-style-type: none;
    margin: 0;
    list-style-image: none;
}

.mc-main .mc-date {
    display: block;
    margin: -2px -2px 2px;
    padding: 2px 4px;
}

.mc-main th {
    font-size: .8em;
    text-transform: uppercase;
    padding: 2px 4px 2px 0;
}

.mc-main .category-key {
    padding: 5px;
    margin: 5px 0;
}

.mc-main .category-key ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.mc-main .category-key li {
    margin: 2px 10px;
}

.mc-main .category-key span {
    margin-right: 5px;
    vertical-align: middle;
}

.mc-main .category-key .no-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.mc-list li {
    text-indent: 0;
    margin: 0;
    padding: 0;
}

.mc-main .calendar-event .event-time, .mc-main .list-event .event-time {
    display: block;
    height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: .9em;
}

.mc-main p {
    line-height: 1.5;
    margin: 0 0 1em;
    padding: 0;
}

.mc-main .vcard {
    font-size: .9em;
    margin: 10px 0;
}

.mc-main .calendar-event .vcard {
    margin: 0 0 10px;
}

.mc-main {
    position: relative;
}

.mc-main img {
    border: none;
}

.category-color-sample img {
    margin-right: 5px;
    vertical-align: top;
}

.mc-main .my-calendar-nav ul {
    height: 2em;
    margin: 0 5px;
    padding: 0;
}

.mini .my-calendar-nav ul {
    height: 2em !important;
}

.mc-main .my-calendar-nav li {
    float: left;
    margin: 0 1px;
    padding: 0;
    list-style-type: none !important;
    list-style-image: none; /* It really is pretty important. */
}

.mc-main .my-calendar-nav li:before {
    content: '';
}

.mc-main .my-calendar-nav li a {
    display: block;
    text-align: center;
    padding: 1px 20px;
}

.mini .my-calendar-nav li a {
    padding: 1px 3px !important;
    font-size: .7em;
}

.mc-main .my-calendar-next {
    margin-left: 4px;
    text-align: right;
}

.mc-main.mini .my-calendar-date-switcher label {
    display: block;
    float: left;
    width: 6em;
}

.mc-main.mini .my-calendar-date-switcher {
    padding: 4px;
}

.mc-main.mini td .category-icon {
    display: none;
}

.mc-main.mini h3 {
    font-size: 1.1em;
}

.mc-main.mini .day-with-date span, .mc-main.mini .day-with-date a {
    font: .9em Arial, Verdana, sans-serif;
    padding: 1px;
    color: #fff;
    text-align: center;
}

.mc-main .mini-event .sub-details {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 0 0;
    margin-bottom: 5px;
}

.mc-main .mini-event .details img {
    width: 100%;
}

.mc-main .list-event .details img {
    width: auto;
    max-width: 100%;
}

.mc-main.mini .day-with-date a {
    display: block;
    margin: -2px;
    font-weight: 700;
    text-decoration: underline;
}

.mini td {
    height: auto !important;
}

.mini .my-calendar-nav ul {
    height: 2em !important;
}

.mini .my-calendar-nav li a {
    padding: 1px 3px !important;
    font-size: .7em;
}

.mc-main .nextmonth {
    background: #f6f6f6;
    color: #888;
}

.mc-main .nextmonth .event-title {
    opacity: .7;
}

.mc-main .nextmonth .weekend {
    color: #888;
    background: #161616 !important;
}

.mc-main .nextmonth {
    background: #000;
    color: #666 !important;
}

.mc-main .nextmonth .mc-date {
    background: #161616;
}

.mc-main .vcard, #mc_event .vcard {
    font-size: .9em;
    background: #111;
    border: 1px solid #333;
    padding: 10px;
    float: right;
}

.screen-reader-text {
    position: absolute;
    left: -999em;
}