.mc-main, .mc-list {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #333;
}

.mc-main caption, .mc-main .my-calendar-date-switcher,
.mc-main .category-key, .mc-main .calendar-event .details,
.mc-main .calendar-events {
    background: #edf7ff;
}

.mc-main .category-key .no-icon {
    border: 1px solid #555;
}

.mc-main .my-calendar-date-switcher {
    padding: 4px;
    margin: 0 0 10px;
}

.mc-main .my-calendar-date-switcher input, .mc-main .my-calendar-date-switcher label, .mc-main .my-calendar-date-switcher select {
    margin: 0;
    padding: 0;
}

.mc-main .my-calendar-date-switcher .button {
    font-size: .9em;
}

.mc-main caption, .mc-main .my-calendar-date-switcher, .mc-main .my-calendar-nav li a:hover, .mc-main .category-key {
    border: 1px solid #a9e3ff;
}

.mc-main .list-event .details, .mc-main td {
    border: 1px solid #eee;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    color: #000;
}

.mc-main .my-calendar-nav li a, .mc-main .calendar-event .details, .mc-main .calendar-events {
    border: 1px solid #9b5;
}

.my-calendar-nav {
    text-align: center;
}

.my-calendar-nav ul {
    display: inline-block;
}

.my-calendar-nav li a {
    min-width: 8em;
}

.mc-main .list-event .details {
    background: #fafafa;
}

.mc-main .nextmonth, .mc-main .nextmonth .weekend {
    color: #777;
}

.mc-main .mc-list .odd {
    background: #d3e3e3;
}

.mc-main .odd .list-event .details {
    background: #e3f3f3;
    border: 1px solid #c3d3d3;
}

.mc-main .current-day {
    background: #ffb;
}

.mc-main .current-day .mc-date {
    color: #000;
    background: #eee;
}

.mc-main .weekend .mc-date {
    background: #bd7;
    color: #000;
}

.mc-main .mc-date {
    background: #f6f6f6;
}

.mc-main .my-calendar-nav li a {
    color: #243f82;
    background: #fff;
}

.mc-main .my-calendar-nav li a:hover {
    color: #000;
    border: 1px solid #243f82;
}

.upcoming-events .past-event {
    color: #777;
}

.upcoming-events .today {
    color: #111;
}

.upcoming-events .future-event {
    color: #555;
}

.mc-main caption {
    margin: 2px 0;
    font-weight: 700;
    padding: 2px;
}

.mc-main table, .mc-main.calendar {
    width: 100% !important;
    line-height: 1.2;
    border-collapse: collapse;
}

.mc-main td {
    vertical-align: top;
    text-align: left;
    width: 13%;
    height: 70px;
    padding: 2px !important;
}

.mini td {
    height: auto !important;
}

.mc-main th {
    text-align: center;
    padding: 5px 0 !important;
    letter-spacing: 1px;
}

.mc-main th abbr {
    border-bottom: none;
}

.mc-main h3, .mc-main h3 a {
    display: block;
    border-radius: 2px;
    font-size: 10px !important;
    font-family: Arial, Verdana, sans-serif;
    font-weight: 700;
    margin: 2px 0 !important;
    padding: 1px;
    width: 100%;
    border-radius: 3px;
    clear: none;
    line-height: 1;
    text-transform: none;
    letter-spacing: 100%;
}

.mc-main h3 img {
    vertical-align: middle;
    margin: 0 3px 0 0 !important;
}

.mc-main .mc-list h3 img {
    vertical-align: middle;
}

.mc-main .list-event h3 {
    font-size: 1.2em;
    margin: 0;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
    position: absolute;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 6px #777;
    -webkit-box-shadow: 3px 3px 6px #777;
    box-shadow: 3px 3px 6px #777;
    padding: 5px;
    z-index: 3;
}

.mc-main .details .close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.mc-main.mini .details .close {
    position: absolute;
    top: 8px;
    right: 8px;
}

.mc-main .calendar-events {
    width: 200px !important;
    left: 0px;
}

.mc-main .list-event .details {
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 5px 0;
}

.mc-main .mc-list {
    margin: 0;
    padding: 0;
}

.mc-main .mc-list li {
    padding: 5px;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}

.mc-main .mc-date {
    display: block;
    margin: -2px -2px 2px;
    padding: 2px 4px;
}

.mc-main th {
    font-size: .8em;
    text-transform: uppercase;
    padding: 2px 4px 2px 0;
}

.mc-main .category-key {
    padding: 5px;
    margin: 5px 0;
}

.mc-main .category-key ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.mc-main .category-key li {
    margin: 2px 10px;
}

.mc-main .category-key span {
    margin-right: 5px;
    vertical-align: middle;
}

.mc-main .category-key .no-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 2px;
}

.mc-list li {
    text-indent: 0;
    margin: 0;
    padding: 0;
}


.mc-event-date {
	display: block;
	font-size: .8em;
}

.mc-main .calendar-event .event-time, .mc-main .list-event .event-time {
    height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: .9em;
}

.mc-main p {
    line-height: 1.5;
    margin: 0 0 1em;
    padding: 0;
}

.mc-main .sub-details {
    margin-left: 7em;
}

.mc-main {
    position: relative;
}

.mc-main img {
    border: none;
}

.category-color-sample img {
    margin-right: 5px;
    vertical-align: top;
}

.mc-main .my-calendar-nav ul {
    height: 2.95em;
    margin: 0;
    padding: 0;
}

.mini .my-calendar-nav ul {
    height: 2em !important;
}

.mc-main .my-calendar-nav li {
    float: left;
    list-style-type: none !important;
    list-style-image: none; /* It really is pretty important. */
}

.mc-main .my-calendar-nav li:before {
    content: '';
}

.mc-main .my-calendar-nav li a {
    display: block;
    text-align: center;
    padding: 1px 20px;
}

.mini .my-calendar-nav li a {
    padding: 1px 3px !important;
    font-size: .7em;
}

.mc-main .my-calendar-next {
    margin-left: 4px;
    text-align: right;
}

.mc-main .my-calendar-next a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mc-main .my-calendar-prev a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mc-main.mini .my-calendar-date-switcher label {
    display: block;
    float: left;
    width: 6em;
}

.mc-main.mini .my-calendar-date-switcher {
    padding: 4px;
}

.mc-main.mini td .category-icon {
    display: none;
}

.mc-main.mini h3 {
    font-size: 1.1em;
}

.mc-main.mini .day-with-date span, .mc-main.mini .day-with-date a {
    font-family: Arial, Verdana, sans-serif;
    font-size: .9em;
    padding: 1px;
    text-align: center;
}

.mc-main .mini-event .details span, .mc-main .mini-event .details a {
    text-align: left;
}

.mc-main .mini-event .sub-details {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 0 0;
    margin-bottom: 5px;
}

.mc-main .mini-event .details img {
    width: 100%;
}

.mc-main .list-event .details img {
    width: auto;
    max-width: 100%;
}

.mc-main.mini .day-with-date a {
    display: block;
    margin: -2px;
    font-weight: 700;
    text-decoration: underline;
}

.mc-main .nextmonth {
    background: #f6f6f6;
    color: #888;
}

.mc-main .nextmonth .event-title {
    opacity: .7;
}

.mc-main .nextmonth .mc-date {
    background: #eee;
}

.mc-main .nextmonth .weekend {
    color: #888;
}

.mc-main .vcard, #mc_event .vcard {
    font-size: .9em;
    background: #f9fbff;
    padding: .5em;
    float: right;
    clear: right;
    width: 120px;
}

.screen-reader-text {
    position: absolute;
    left: -999em;
}