/**
 * Transfer Styling
 * @since 0.1
 * @version 1.1
 */
.mycred-transfer-cred-wrapper { display: block; float: none; clear: both; margin: 0; padding: 0; }
.mycred-transfer-cred-wrapper>p { margin-bottom: 6px; }
.mycred-transfer-cred-wrapper ol { margin: 0; padding: 0; float: none; clear: both; }
.mycred-transfer-cred-wrapper ol li { list-style-type: none; float: left; margin: 0; padding: 0; }
.widget .mycred-transfer-cred-wrapper ol li { float: none; }

.mycred-transfer-cred-wrapper ol li.mycred-send-to { width: 40%; }
.mycred-transfer-cred-wrapper ol li.mycred-send-to div.transfer-to { height: 100px; }
.widget .mycred-transfer-cred-wrapper ol li.mycred-send-to { width: 100%; }

.mycred-transfer-cred-wrapper ol li.mycred-send-amount { width: 60%; }
.widget .mycred-transfer-cred-wrapper ol li.mycred-send-amount { width: 100%; }
.mycred-transfer-cred-wrapper ol li.mycred-send-details span:empty { display: none; }
.mycred-transfer-cred-wrapper .mycred-click { float: right; }

.mycred-transfer-cred-wrapper ol li label { display: block; }
.mycred-transfer-cred-wrapper ol li input[type="text"] { width: 90%; }
.mycred-transfer-cred-wrapper ol li input[type="text"].short { width: 40%; }
.mycred-transfer-cred-wrapper ol li input[type="button"] { }

.mycred-transfer-info { margin: 0; padding: 6px 0; display: block; clear: both; float: none; }
.mycred-transfer-info p { font-size: smaller; line-height: 16px; margin: 0; padding: 0; }

ul.ui-autocomplete { border: none; margin: 0; padding: 6px 0 0 0; width: 100%; z-index: 10 !important; }
ul.ui-autocomplete li { background-color: white; padding: 0 4px; display: block; margin: 0; width: 90%; text-align: left; border-bottom: 1px solid silver; list-style-type: none; }
ul.ui-autocomplete li:first-child { border-top: 1px solid silver; }
ul.ui-autocomplete li:hover { background-color: #eee; }
ul.ui-autocomplete li a { display: block; cursor: pointer; width: 100%; margin: 0; padding: 8px 0; }