/* Tabbed navigation */

.woocommerce_page_woo_st h2 .nav-tab {
	font-size: 16px;
	line-height:20px;
	margin-right:0;
}
.woocommerce_page_woo_st h2.nav-tab-wrapper {
	padding-left:7px;
	padding-top:17px;
}

/* Store Toolkit */

.woocommerce_page_woo_st .form-table th {
	width:20%;
}

/* Edit Category */

body.taxonomy-product_cat table.category_data th,
body.taxonomy-product_tag table.tag_data th,
body.taxonomy-product_brand table.brand_data th,
body.user-edit-php table.user_data th,
body.profile-php table.user_data th,
body.user-edit-php table.order_data th,
body.profile-php table.order_data th {
	padding:8px 10px;
}
body.user-edit-php table.order_data,
body.profile-php table.order_data {
	font-size:13px;
}
body.user-edit-php table.order_data td,
body.profile-php table.order_data td {
	vertical-align:top;
}
/* Override for WooCommerce Appointments */
#woocommerce-appointment-data #woo-appointment-post_data h2.hndle {
	display:block;
}

/* Support - Donate / Rate */

.woocommerce_page_woo_st .support-donate_rate {
	display:block;
	float:right;
}
.woocommerce_page_woo_st .support-donate_rate p {
	margin-top:16px;
}
.woocommerce_page_woo_st .support-donate_rate .star {
	vertical-align:bottom;
	display:inline-block;
	width:17px;
	height:17px;
	background:url('images/star.png') no-repeat;
}
.woocommerce_page_woo_st .support-donate_rate span {
	display:none;
}

.woocommerce_page_woo_st p.submit {
	padding:0;
	margin:0;
}
.woocommerce_page_woo_st table.form-table {
	margin-bottom:0.7em;
}
.woocommerce_page_woo_st .form-table th,
.woocommerce_page_woo_st .form-table td {
	padding:0;
}

/* Dashboard widgets */

.woocommerce_right_now p.sub {
	font-style: italic;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	padding: 5px 10px 5px;
	color: #777777;
	font-size: 13px;
}
.woocommerce_right_now td.b a {
	font-size: 18px;
}
.woocommerce_right_now .t a {
	white-space:nowrap;
}
.woocommerce_right_now div.table {
	float:left;
	width:50%;
}
.woocommerce_right_now table td {
	padding:3px 0;
	white-space:nowrap;
}
.woocommerce_right_now .onhold {
	color: red;
}
.woocommerce_right_now .waitingforpayment {
	color: #00d3e6;
}
.woocommerce_right_now .pending {
	color: #e66f00;
}
.woocommerce_right_now .complete {
	color: green;
}
.woocommerce_right_now #wp-version-message {
	margin-bottom:0;
}
.woocommerce_sales_summary .price {
	font-size:15px;
}
.woocommerce_sales_summary .price span {
	font-size:12px;
	padding-left:0.7em;
	color:#999;
}
.woocommerce_sales_summary .price span.up {
	color:green;
}
.woocommerce_sales_summary .price span.down {
	color:red;
}
.woocommerce_sales_summary .price span.line {
	color:#e66f00l;
}