/**
 * 10Web plugins Gutenberg integration
 * version 2.0.3
 */
.tw-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background: rgba(0,0,0,0.7);
}

.tw-container .tw-container-wrap {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    padding-top: 40px;
}

.tw-container .tw-container-wrap-800-540 {
    max-width: 800px;
    max-height: 540px;
}

.tw-container .tw-container-wrap-520-400 {
    max-width: 520px;
    max-height: 400px;
}

.tw-container .tw-container-wrap-420-450 {
    max-width: 420px;
    max-height: 450px;
}

.tw-container .tw-container-wrap  .media-modal-close{
    line-height: 34px;
    text-align: center;
    height: 40px;
    top: 10px;
}

.tw-container .tw-container-wrap iframe {
    height: 100%;
    width: 100%;
}
.tw-gb-select {
    width: 100%;
    height: auto !important;
}
