/**
 * Permalink Manager CSS
 */
#permalink-manager #plugin-name-heading .author-link{color:#959595;font-size:60%;text-decoration:none}
#permalink-manager #permalink-manager-tab-nav .section_upgrade,#permalink-manager #permalink-manager-tab-nav .section_support{background:#555;border-color:#555;color:#fff}
#permalink-manager h4{font-size:18px;margin-bottom:10px}
#permalink-manager h5{font-size:15px;margin-bottom:10px}
#permalink-manager .small{display:block;font-weight:400;color:#888;font-size:80%}
#permalink-manager .mute{color:#888}
#permalink-manager .settings-select{min-width:200px}
#permalink-manager .fixed-table{max-width:100%;table-layout:fixed}
#permalink-manager .margin-top{margin-top:15px}
#permalink-manager .help_tooltip{text-decoration:none;color:#959595}
#permalink-manager .small-select{height:24px;line-height:22px;padding:0 8px 1px;font-size:11px}
#permalink-manager .lead{font-size:125%}
#permalink-manager .licence-info{font-weight:bold}
#permalink-manager p label{font-size:13px;color:#555d66;font-weight:bold}
#permalink-manager a:focus{box-shadow:none}

#permalink-manager .woocommerce-icon:before{font-family:"WooCommerce";font-style:normal}
#permalink-manager .woocommerce-cart:before{content:"\e01d"}
#permalink-manager .woocommerce-logo:before{content:"\e03d"}

#permalink-manager .subsubsub{display:block;width:100%;overflow:hidden;margin-bottom:25px}
#permalink-manager .subsubsub li:before{content:" | "}
#permalink-manager .subsubsub li:first-child:before{content:"";color:#aaa}
#permalink-manager .subsubsub li .dashicons,#permalink-manager .subsubsub li .woocommerce-logo{font-size:100%;line-height:200%;height:auto;width:auto}
#permalink-manager .single-section{clear:both}
#permalink-manager .tablenav{margin:15px 0;height:auto}
#permalink-manager .tablenav.top{margin-top:0}
#permalink-manager .tablenav .actions{padding:0;overflow:visible}
#permalink-manager .tablenav #months-filter{margin-left:10px}
#permalink-manager .search-box{margin-left:1em}
#permalink-manager th#count a{display:inline-block}
#permalink-manager .post_permalink{margin-top:5px;display:block}
#permalink-manager .post_permalink a,#permalink-manager .post_permalink .dashicons,#permalink-manager .uri_locked .dashicons{font-size:13px;color:#aaa;line-height:1.5em;height:auto;width:auto}
#permalink-manager .column-count,#permalink-manager .column-post_lang{width:1%}
#permalink-manager .column-count,#permalink-manager .column-post_lang,#permalink-manager th#count{text-align:right}
#permalink-manager .column-item_uri .uri_locked{font-weight:bold}
#permalink-manager .extra-info span{white-space:nowrap}

#permalink-manager .info{box-shadow:0 1px 1px 0 rgba(0,0,0,.1);display:block;overflow:hidden;clear:both;font-weight:bold;border-left:4px solid #dc3232;}
#permalink-manager .alert,#permalink-manager .info{line-height:19px;padding:11px 15px;margin:15px 0}
#permalink-manager .alert p,#permalink-manager .info p{margin-top:0;line-height:200%}
#permalink-manager .alert ul,#permalink-manager .alert ol{margin-top:0;margin-bottom:0}
#permalink-manager .alert p:last-of-type,#permalink-manager .alert li:last-of-type,#permalink-manager .info p:last-of-type{margin-bottom:0}
#permalink-manager .warning{background:#dc3232}
#permalink-manager .warning,#permalink-manager .warning a{color:#fff}
#permalink-manager .info{background:#f9f9f9}
/*#permalink-manager .section-notes,#permalink-manager .short-pre,#permalink-manager .short-textarea{padding:15px;font-size:13px;margin-top:15px;line-height:20px;background:#e5e5e5;border:1px solid #ccc;color:#555}
#permalink-manager .section-notes a,#permalink-manager .section-notes h3{color:#111}
#permalink-manager .section-notes h3,#permalink-manager .section-notes h4{margin-top:0}*/
#permalink-manager .section-notes h4{font-size:14px}
#permalink-manager .section-notes code{font-size:11px}
#permalink-manager .section-notes ol{margin-top:0;margin-bottom:0}
#permalink-manager .section-notes ol li:last-of-type{margin-bottom:0}
#permalink-manager .short-pre,#permalink-manager .short-textarea{height:150px;overflow:auto;max-width:100%;display:block}
#permalink-manager .structure-tags-list{margin-top:15px}
#permalink-manager .duplicated_uri_alert,.permalink-manager .duplicated_uri_alert{display:block;font-weight:bold;font-size:90%;margin-top:8px;color:#dc3232}

#permalink-manager .settings-tabs,#permalink-manager .settings-tabs form,#permalink-manager .settings-tabs form > div{clear:both;overflow:hidden}
#permalink-manager .settings-tabs .subsubsub{margin-bottom:0}
#permalink-manager .settings-tabs form > div{display:none}
#permalink-manager .settings-tabs form > div.active-tab{display:block}

#permalink-manager .checkbox_actions{padding-top:10px;border-top:1px solid #ddd}
#permalink-manager .extra-links,.permalink-manager-screen-options .extra-links{margin-top:5px;font-size:12px}
#permalink-manager .extra-links a,.permalink-manager-screen-options .extra-links a{color:#666;display:inline-block;text-decoration:none}
#permalink-manager .extra-links a:before,.permalink-manager-screen-options .extra-links a:before{content:" | "}
#permalink-manager .extra-links a:first-child:before,.permalink-manager-screen-options .extra-links a:first-child:before{content:""}
.permalink-manager-screen-options{margin-bottom:15px}
#permalink-manager .checkboxes{margin-left:-15px;margin-right:15px;overflow:hidden;display:block}
#permalink-manager .checkboxes > label{display:inline-block;width:33%;float:left;padding:0 15px;box-sizing:border-box;padding-bottom:5px;overflow:hidden}
#permalink-manager .checkboxes > label:nth-of-type(3n+1){clear:both}
#permalink-manager .checkboxes > p{font-weight:bold;margin-left:15px;display:block;clear:both;margin-bottom:5px}
#permalink-manager .checkboxes > label + p{padding-top:15px}
#permalink-manager .field-description{font-size:12px}
#permalink-manager .appended-row td{padding-left:0;padding-right:0}
#permalink-manager #tools{margin:0 -15px;padding:0 15px 15px}
#permalink-manager #tools select{min-width:60%}
#permalink-manager fieldset label{margin-bottom:0 !important}

#permalink-manager .structure-tags-list{display:block;line-height:175%}
#permalink-manager .structure-tags-list code{}

#permalink-manager .updated-slugs-table .row-title{max-width:400px}

/**
 * Plugins admin page
 */
.plugin_license_info_row{transform:translate(0,-1px)}

/**
 * Columns
 */
#permalink-manager .columns-container{overflow:hidden;margin-left:-15px;margin-right:-15px;clear:both;display:block}
#permalink-manager .columns-container > *{float:left;padding-left:15px;padding-right:15px;box-sizing:border-box;-webkit-box-sizing:border-box;overflow:hidden;display:block}
#permalink-manager .columns-container span a{color:#aaa}
#permalink-manager .columns-container .column-1_2,#permalink-manager .columns-container .column-2_4{width:50%}
#permalink-manager .columns-container .column-1_3{width:33.33%}
#permalink-manager .columns-container .column-1_3:nth-of-type(3n+1){clear:left}
#permalink-manager .columns-container .column-2_3{width:66.67%}
#permalink-manager .columns-container .column-1_4{width:25%}
#permalink-manager .columns-container .column-3_4{width:75%}

#slugdiv #post_name{width:100%}

/**
 * Edit URI & Duplicate box
 */
#permalink-manager.permalink-manager-edit-uri-box{margin:10px -10px}
#permalink-manager.permalink-manager-edit-uri-box h2{border-bottom:1px solid #eee}
#permalink-manager.permalink-manager-edit-uri-box .inside{padding:0 10px 10px 10px;margin-bottom:0}
#permalink-manager.permalink-manager-edit-uri-box .inside > div{font-size:13px;line-height:1.5;margin:1em 0}
#permalink-manager.permalink-manager-edit-uri-box .inside > div:last-child,#permalink-manager.permalink-manager-edit-uri-box .inside p:last-child{margin-bottom:0}
#permalink-manager.permalink-manager-edit-uri-box .strong{display:block;font-weight:bold;margin-bottom:5px}
#permalink-manager.permalink-manager-edit-uri-box .toggle-indicator:before{content:"\f142";display:inline-block;font:400 20px/1 dashicons}
#permalink-manager.permalink-manager-edit-uri-box .columns-container{margin-left:-10px!important;margin-right:-10px!important}
#permalink-manager.permalink-manager-edit-uri-box .columns-container > *{padding-left:10px;padding-right:10px}
#permalink-manager.permalink-manager-edit-uri-box .close-button{float:right;width:36px;height:36px;padding:0;cursor:pointer;display:block}
#permalink-manager.permalink-manager-edit-uri-box .close-icon{margin-top:4px;-webkit-border-radius:50%;border-radius:50%;text-indent:-1px;color:#72777c;line-height:36px;display:block;text-align:center}
#permalink-manager.permalink-manager-edit-uri-box .close-icon:before{content:"\f158";display:inline-block;font:400 20px/1 dashicons;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-decoration:none!important}
#permalink-manager.permalink-manager-edit-uri-box .uri_locked{color:#aaa;font-size:13px}
#permalink-manager .default-permalink-row,#permalink-manager .redirects-row{border-top:1px solid #eee;padding-top:15px}
#permalink-manager .default-permalink-row,#permalink-manager .default-permastruct-row,#permalink-manager .redirects-row{color:#aaa;font-size:90%}
#permalink-manager .restore-default,#permalink-manager .permastruct-toggle-button a{display:inline-block;width:100%;border-radius:0;color:#959595;text-decoration:none}
#permalink-manager .restore-default{text-align:right}
#permalink-manager .widefat,#permalink-manager #redirect-panel-inside,#permalink-manager #redirect-panel-inside table{width:100%!important;max-width:none;min-height:0!important;box-sizing:border-box;height:32px}
#permalink-manager textarea.widefat,#permalink-manager #redirect-panel-inside table{height:auto}
#permalink-manager .heading,#permalink-manager .heading a{margin:0;line-height:1.4;font-weight:600;text-decoration:none;color:#777}
#permalink-manager.permalink-manager-edit-term .permalink-manager-edit-uri-box{display:block!important;margin:0}
#permalink-manager.permalink-manager-edit-term .permalink-manager-edit-uri-box h2,.permalink-manager.postbox .heading{font-size:14px!important;padding:8px 12px;margin:0;line-height:1.4}
#permalink-manager.permalink-manager-edit-term .permalink-manager-edit-uri-box .close-button,#permalink-manager.permalink-manager-edit-term #permalink-manager-toggle{display:none}
#permalink-manager .permalink-manager-duplicate-box table{width:100%;color:#aaa}
#permalink-manager .permalink-manager-duplicate-box table tr td{border-top:1px solid #eee}
#permalink-manager .permalink-manager-duplicate-box table tr:first-child td{border-top:0}
#permalink-manager .permalink-manager-duplicate-box table td{font-size:12px;line-height:1.5em;padding:8px 12px}
#permalink-manager .permalink-manager-duplicate-box table tr td:first-child{width:60%}
#permalink-manager .permalink-manager-duplicate-box table tr td:last-child{text-align:right}
#permalink-manager .permalink-manager-duplicate-box .actions a{text-decoration:none}
#permalink-manager .permalink-manager-duplicate-box .remove-duplicate-link{color:#a00}
.permalink-manager.postbox .heading{border-bottom:3px double #eee}
.permalink-manager.postbox a{color:#444;text-decoration:none;white-space:nowrap}

#permalink-manager .permalink-manager-gutenberg > div{margin-top:15px;}
#permalink-manager .permalink-manager-gutenberg .default-permalink-row > *{width:100%;float:none}
#permalink-manager .permalink-manager-gutenberg .restore-default{text-align:left;margin-top:15px}
#permalink-manager .permalink-manager-gutenberg .redirects-row{padding-top:15px}
#permalink-manager .permalink-manager-gutenberg .redirects-panel .heading{background:#eee;padding:15px 10px;margin-bottom:-15px;width:100%;display:block;font-size:110%}
#permalink-manager #redirect-panel-inside, #permalink-manager #redirect-panel-inside p{margin-top:15px}
#permalink-manager .redirects-panel-description *{font-size:11px}

/**
 * Redirect panel
 */
#permalink-manager #redirect-panel-inside{display:none}
#permalink-manager #redirect-panel-inside,#permalink-manager #redirect-panel-inside p{margin-top:15px;height:auto}
#permalink-manager #redirect-panel-inside table{margin-bottom:10px;margin-top:-5px}
#permalink-manager #redirect-panel-inside table td{padding:5px 0;width:100%}
#permalink-manager #redirect-panel-inside table td a{text-decoration:none;text-align:right}
#permalink-manager #redirect-panel-inside .single-section{margin-left:-10px;margin-right:-10px;padding:10px;border-top:1px dashed #eee}
#permalink-manager #redirect-panel-inside .single-section:last-of-type{padding-bottom:0}
#permalink-manager #redirect-panel-inside .single-section:first-of-type{padding-top:0;border:0}
#permalink-manager #redirect-panel-inside .single-section > p:first-of-type{margin-top:0}
.permalink-manager .sample-row{display:none}
.permalink-manager .redirects-panel-description{margin-bottom:10px}
.permalink-manager .redirects-panel-description *{font-size:12px}

/**
 * Coupon panel
 */
#permalink-manager-coupon-url > p:last-of-type{font-size:13px}

/**
 * Tippy.js custom theme
 */
.tippy-tooltip.tippy-pm-theme{text-align:left;font-size:13px}

/**
 * Permastructures
 */
#permalink-manager .all-permastruct-container{}
#permalink-manager .all-permastruct-container > *{margin-bottom:15px}
#permalink-manager .all-permastruct-container > *:last-child{margin:0}
#permalink-manager .all-permastruct-container .permastruct-toggle{display:none;padding-bottom:15px;border-bottom:1px dashed #ddd}
#permalink-manager .all-permastruct-container h4{font-size:14px}
#permalink-manager .all-permastruct-container p{font-size:13px}
#permalink-manager .all-permastruct-container p.default-permastruct-row{margin-top:15px}
#permalink-manager .all-permastruct-container label{font-weight:600;margin-top:15px!important;font-size:13px;margin-bottom:5px!important;display:block;clear:both}
#permalink-manager .all-permastruct-container .settings-container label{font-weight:400}
#permalink-manager .permastruct-toggle-button a{font-size:90%;font-weight:bold}


/**
 * TagEditor custom theme & "Stop Words"
 */
#permalink-manager .words-editor{font-size:90%;height:400px;overflow-y:auto;border:1px solid #ddd;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.07);box-shadow:inset 0 1px 2px rgba(0,0,0,.07);background-color:#fff;color:#32373c;outline:0;-webkit-transition:50ms border-color ease-in-out;transition:50ms border-color ease-in-out;}
#permalink-manager .words-editor .tag{background:#eee}
#permalink-manager .words-editor .tag a{color:#000}
#permalink-manager .stop-words-buttons{width:100%}
#permalink-manager .stop-words-buttons tr > td:first-child{padding-left:0;width:50%}
#permalink-manager .stop-words-buttons tr > td:last-child{padding-right:0}

/**
 * Breakpoints
 */
@media only screen and (min-width :992px) {
	#permalink-manager #permalink-manager-tab-nav .section_debug,#permalink-manager #permalink-manager-tab-nav .section_upgrade,#permalink-manager #permalink-manager-tab-nav .section_support{float:right}
	#permalink-manager .permastruct-container{display:table;width:100%;table-layout:auto}
	#permalink-manager .permastruct-container > *{display:table-cell}
	#permalink-manager .permastruct-container > span:first-child{width:1%;white-space:nowrap}
	#permalink-manager .permastruct-field{width:100%}

	#permalink-manager .column-item_uri{width:600px;max-width:100%}
	#permalink-manager .column-item_uri input{width:100%}
}
@media only screen and (max-width :782px) {
	#permalink-manager .columns-container .column-1_2,#permalink-manager .columns-container .column-1_3,#permalink-manager .columns-container .column-2_3{width:100%}
	#permalink-manager .permalink-manager-duplicate-box table tr td:first-child{width:40%}
}
