li.feed-item { margin-bottom: 10px; }

.thumbnail-excerpt {
    overflow:hidden;
    margin-bottom: 5px;
}

.thumbnail-excerpt img {
    max-width:100%; float:left; margin-top: 0.5em; margin-right:10px;
}

.green {
    color: #0BD600;
}

.nav-links {
    overflow: hidden;
    margin-bottom: 20px;
}

div.wprss-feed-meta > span {
    font-size: 90%;
    clear: both;
}
div.wprss-feed-meta > span:not(:last-child):after {
    content: ' | ';
}
