@media only screen and (min-width: 900px) {
	#div_person {position: relative;}
	#div_person_image {position:absolute; left:50%; top:0; z-index: 100;}
}
@media only screen and (min-width: 600px) {
	.rightclickhint {
		float: right;
		margin: 0;
	}
}

/* don't show the right-click hint for small screens */
@media only screen and (max-width: 600px) {
	.rightclickhint {display:none;}
	.eme_import_form_img {display:none;}
	.jtable-page-list {display:none !important;}
	.jtable-page-info {display:none !important;}
}

#eme_dyndata_body {
	cursor: move;
}

#person_image_example {
	max-height: 250px;
	max-width: 300px;
}

/* select2 class */
.select2-search__field {
    min-height: unset;
    margin-bottom: 5px;
}

.eme_admin_button_middle {
	vertical-align: middle !important;
}

.eme_smaller {
	font-size: smaller;
	margin-bottom: 0em; margin-top: 0em;
}

table.eme_event_admin_table td {
	vertical-align: top;
}

table.eme_membership_admin_table td {
	vertical-align: top;
}

table#eme-bookings-table tfoot td.booking-result {
	font-weight: bold;
	background:#6D6D6D url("../images/menu-bits.gif") repeat-x scroll left top;
	color: #eee;
}

div#eme_printable_container {
	width: 100%;
	text-align: center;
}

table#eme_printable_table {
	width: 100%;
	border-collapse:collapse;
}

tr#eme_printable_booked-seats td {
	border-top: 2px solid grey;
}

table#eme-bookings-table tfoot th {
	text-align: right;
	padding-right: 1em;
}

table#event_attributes tr {
	vertical-align: top;
}

table.eme-rsvp-form, table.eme-member-form {
	width: 80%;
}
table.eme-rsvp-form th, table.eme-member-form th {
	text-align: right;
	width: 35%;
}

table.eme-rsvp-form td, table.eme-member-form td {
	padding-left: 1em;
	text-align: left;
}

div.eme-noscriptmsg,
div.eme-message-info,
div.eme-message-success,
div.eme-message-error {
	margin-bottom: 1em;
	background-color: #FDDD73;
	padding: 5px;
	border: 2px solid #FF9100;
}

.eme-message-admin {
	background-color: rgb(255, 251, 204);
}

.eme-hidden {
	display: none; /* by default hidden, we'll show it via ajax when needed */
}

/* Printable stuff */
body#printable {
	font-family: Geneva, Helvetica, Arial, sans-serif;
	text-align: center;
}
body#printable #container {
	margin: 0 auto;
	width: 780px;
	text-align: left;
}
table#bookings-table {
	width: 600px;
	border-spacing: 0px;

}
table#bookings-table td {
	padding: 5px 0;
}
table#bookings-table td.seats-number {
	text-align: right;
	padding-right: 20px;
}
table#bookings-table th {
	text-align: left;
	margin-left: 5px;
}
table#bookings-table tr#booked-seats td{
	border-top: 2px solid #999;
}

table#bookings-table td.total-label {
	text-align: right;
}

table#bookings-table tr#booked-seats td.seats-number, table#bookings-table tr#available-seats td.seats-number {
	font-weight: bold;
}

p#recurrence_warning {
	border: 2px solid #FD0000;
	background: #FF7146;
	color: #fff;
	font-weight: bold;
	padding: 5px;
}
input#event_url {
	width: 100%
}
div#icon-events{
	background:url('../images/calendar-32.png') no-repeat center;
}

table#eme-location-data th {
	text-align: right;
	width: 50px;
}
#eme_global_map {
	line-height: 100%;
}
.eme-location-map {
	width: 100%;
	height: 300px;
	line-height: 100%;
}
.eme-location-balloon {
	font-size: 95%;
	line-height: 100%;
	margin-bottom: 1em;
}
/* this one influences the map appearance in the admin backend when editing events */
div#eme-admin-map-not-found {
	width: 400px;
	font-size: 140%;
	text-align: center;
	margin-top: 100px;
	display: none;
}
div#eme-admin-location-map {
	width: 400px;
	height: 300px;
	display: none;
	margin-right: 8px;
}
/* for google maps to work ok in IE, we need at least 690px as max-width for the images */
.eme_global_map img,
.eme-location-map img {
	max-width: none !important;
	background: none !important;
}
.eme_events_list, .eme_locations_list {
	clear:both;
}
.eme_locations_list li {
	cursor:default;
}

table.eme-calendar-table td {
	padding: 2px 4px;
	text-align: center;
}
table.eme-calendar-table tr.days-names {
	font-weight: bold;
}
table.eme-calendar-table td.eventless-pre, table.eme-calendar-table td.eventless-post {
	color: #ccc;
}
table.eme-calendar-table td.eventful a, table.eme-calendar-table td.eventful-today a, div.eventful-today a, div.eventful a {
	font-weight: bold;
	color: #FD7E29;
}
table.eme-calendar-table td span.eme-cal-holidays {
	color: #FD7E29;
}

table.eme-calendar-table td.eventless-today {
	background-color: #CFCFCF;
}
table.eme-calendar-table thead {
	font-size: 120%;
	font-weight: bold;
}
table.eme-calendar-table th.month_name, div.month_name {
	text-align:center;
	vertical-align:middle;
}

/*
.eme-calendar-table {
	background-color:#fff;
}
*/
table.fullcalendar {
	table-layout:fixed;
	border-collapse:collapse;
	width:100%;
}
#content table.fullcalendar td {
	border:1px solid #000;
}
table.fullcalendar td {
	padding:0 !important;
	border:1px solid #000;
	text-align:left;
	vertical-align:top;
}
table.fullcalendar a.prev-month, table.smallcalendar a.prev-month, div.emeDivTableHead a.prev-month {
	float:left;
	padding-left:.7em;
	text-decoration:none;
}
table.fullcalendar a.prev-month img, table.smallcalendar a.prev-month img {
	display: inline;
}
table.fullcalendar a.next-month, table.smallcalendar a.next-month, div.emeDivTableHead a.next-month {
	float:right;
	padding-right:.7em;
	text-decoration:none;
}
table.fullcalendar a.next-month img, table.smallcalendar a.next-month img {
	display: inline;
}
table.fullcalendar tr.days-names td, div.days-names {
	height:1.4em;
	text-align:center;
	vertical-align:middle;
}
table.fullcalendar tbody td {
	height:4em;
	text-align:left;
	overflow:hidden;
}
table.fullcalendar ul {
	padding-left: 10px;
}
table.fullcalendar ul li {
	margin:7px 0 0 0;
	font-size:.7em;
	line-height:normal;
}
table.fullcalendar td.eventless-today, table.fullcalendar td.eventful-today, div.eventless-today, div.eventful-today {
	background-color:#eee;
}

table.eme_mailings_table {
	border-collapse: collapse;
	width: 80%;
}
table.eme_mailings_table table, table.eme_mailings_table th, table.eme_mailings_table td {
	border: 1px solid black;
	padding-left: 5px;
}
table.eme_admin_table {
	border-collapse: collapse;
}
table.eme_admin_table , table.eme_admin_table th , table.eme_admin_table td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

.emeDivTable {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.emeDivTableHead {
	font-weight: bold;
}
.emeDivTableRow {
	display: table-row;
}
.emeDivTableHeading {
	display: table-header-group;
}
.emeDivTableCell {
	height: 4em;
}
.emeDivTableCell, .emeDivTableHead {
	display: table-cell;
	padding: 3px 0px;
	border: 1px solid #999999;
	width: 12%;
}
.emeDivTableCell ul {
	list-style-position: inside;
	padding-left: 3px;
	font-size: 0.7em;
	line-height: normal;
}
.emeDivTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.emeDivTableFoot {
	display: table-footer-group;
	font-weight: bold;
}
.emeDivTableBody {
	display: table-row-group;
}

.events-pagination-top {
	margin-bottom:1em;
}
.locations-pagination-top,.locations-pagination-bottom,.events-pagination-top,.events-pagination-bottom {
	text-align: center;
}
.locations-pagination-top a,.locations-pagination-bottom a,.events-pagination-top a,.events-pagination-bottom a {
	margin: 0 20px 0 20px;
	text-decoration: none;
	padding: 3px 0;
}
.eme_nav_left {
	float: left;
}
.eme_nav_right {
	float: right;
}
/* eliminate the vertical space between the "Your Street Address" text entry box and the "Get Directions" submit button in cases where the button wraps below the text box in the map location balloon */
#saddr {
	margin-bottom:0;
}
/* for the honeypot, render it invisible */
#honeypot_check { display: none; }
/* for the datepicker at the bottom of the edit/new event page, render it invisible */
#ui-datepicker-div { display: none; }
.eme_formfield_date {
	background-image: url("../images/calendar-16.png");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 18px;
}

/* datatable fix so the footer doesn't overlap with the table in some browsers */
.dataTables_wrapper {
	float: left;
	width: 100%;
}
div.dt-buttons {
	float: right;
}

/* jtable fix so the footer doesn't overlap with the table in some browsers */
.jtable-main-container {
	float: left;
	width: 100%;
}

.eme_categories_small {
	font-size:.7em;
}

/* clear X */
.clearable{
	background: url(../images/x.gif) no-repeat right -10px center;
	border: 1px solid #999;
	padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
	border-radius: 3px;
	transition: background 0.4s;
}
.clearable.x  { background: url(../images/x.gif) no-repeat right 5px center !important; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

/* for the map marker on the global map */
.eme-map-marker{
	text-align: center;
	position: absolute;
	overflow: hidden;
	background-color: red;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	width: 28px;
	height: 28px;
	border-radius: 10%;
	line-height: 22pt;
	font-size: 20px;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

/* for the leaflet popup close x, to prevent underlining due to theme boxing */
.leaflet-container a.leaflet-popup-close-button {
	box-shadow: none;
}

.eme_required {
	border: 2px solid red !important;
}

/* for the dyndata table in the admin backend */
.eme_dyndata {
        border-collapse: collapse;
}
.eme_dyndata_body tr {
        border-bottom: 1px solid black;
}

div.eme_notice_unfiltered_html {
    border-width: 1px;
    border-style: solid;
    padding: 0 .6em;
    margin: 5px 0 15px;
    border-radius: 3px;
    background-color: #ffffe0;
    border-color: #e6db55;
    color: #000;
    clear: both;
}
