.swpm_addon_item_canvas{
    background-color:#fff;
    font-family:sans-serif,arial;
    font-size:12px;
    border:1px solid #ccc;
    display:block;
    float:left;
    margin:3px 12px 12px 0;
    padding:10px 0px 10px 10px;
    position:relative;
    width:222px;
    height:340px;
}
.swpm_addon_item_canvas:hover{border-color:#999;}
.swpm_addon_item_thumb img {height: 150px; width: 200px; padding: 5px; border: 1px solid #ccc;}
.swpm_addon_item_thumb a img {border: 1px solid #ccc;}
.swpm_addon_item_body{line-height:22px;height:170px;overflow:hidden;}
.swpm_addon_item_name{font-size:16px;font-weight:bold;text-align: center;margin:10px 10px 10px 0px;}
.swpm_addon_item_description{margin:10px 10px 5px 0px;text-align:justify;overflow:hidden;height:70px;}
.swpm_addon_clear{clear:both;}
.swpm_addon_item_details_link{
    text-align: center;
}
.swpm_addon_item_details_link a{
    border: 3px solid #2d3140;
    color: #2d3140;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none !important;
}
.swpm_addon_item_details_link a:hover{
    background-color: #2d3140;
    color: #FFF;    
}
