/* General CSS */
.swpm-margin-10{
    margin: 10px;
}
.swpm-margin-top-10{
    margin-top: 10px;
}
.swpm-margin-bottom-10{
    margin-bottom: 10px;
}
.swpm-hidden{
    display: none;
}

.swpm-yellow-box{
    margin: 10px 0px;
    padding: 10px;
    background-color: #FFFFE0;
    border-color: #E6DB55;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;    
}

.swpm-red-box {
    margin: 10px 0px;
    padding: 10px;
    background-color: #FFEBE8;
    border-color: #CC0000;
    color: #333333;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

/* Wrap directly with this class (not to be used with a paragraph tag) */
.swpm-orange-box{
    margin: 10px 0px;
    padding: 15px 10px;
    color: #3F2502;
    text-shadow: 1px 1px #FFFFFF;
    background-color: #FFF6D5;
    border-color: #D1B655;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

/* Wrap directly with this class (not to be used with a paragraph tag) */
.swpm-grey-box{
    margin: 10px 0px;
    padding: 15px 10px;
    background-color: #DDDDDD;
    border-color: #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

/* Wrap directly with this class (not to be used with a paragraph tag) */
.swpm-green-box {
    margin: 10px 0px;
    padding: 15px 10px;
    background-color: #CCF4D6;
    border-color: #059B53;
    color: #043B14;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

/* Membership buy buttons */
.swpm-button-wrapper input[type="submit"]{
    width: auto !important;
    height: auto !important;
}
.swpm-button-wrapper input[type="image"]{
    width: auto !important;
    height: auto !important;    
}

/* Login form CSS */
.swpm-login-widget-form input,.swpm-login-widget-form checkbox{
    width: auto;
}
.swpm-username-input, .swpm-password-input{
    margin-bottom: 10px;
}
.swpm-login-submit{
    margin-bottom: 10px;    
}
.swpm-login-widget-action-msg{
    font-weight: bold;    
}
.swpm-logged-label{
    font-weight: bold;
}

/* Password reset form CSS */
.swpm-pw-reset-widget-form table{
    border: none;
}
.swpm-pw-reset-widget-form tr{
    border: none;
}
.swpm-pw-reset-widget-form td{
    border: none;
}
.swpm-reset-pw-error{
    font-weight: bold;
    color: red;
}
.swpm-reset-pw-success-box{
    margin: 10px 0px;
    padding: 15px 10px;
    background-color: #CCF4D6;
    border-color: #059B53;
    color: #043B14;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;    
}

/* Registration form CSS */
.swpm-registration-widget-form td{
    min-width: 100px;
}

.swpm-registration-widget-form input[type="text"], .swpm-registration-widget-form input[type="password"]{
    width: 95%;
    position: relative;
}

/* Edit profile form CSS */
.swpm-edit-profile-form input[type="text"], .swpm-edit-profile-form input[type="password"] {
    width: 95%;
}
.swpm-edit-profile-form select {
    width: 95%;
}
.swpm-edit-profile-submit-section{
    text-align: center;
}

.swpm-profile-account-delete-section{
    text-align: center;
}
.swpm-profile-account-delete-section a{
    color: red !important;
}
.swpm-profile-update-success{
    font-weight: bold;
    color: green;    
}
.swpm-profile-update-error{
    font-weight: bold;
    color: red;    
}
/* Misc CSS */
.swpm-restricted{
    font-weight: bold;
    color:red;
}
.swpm-select-box-left{
    margin: 0;
    padding-bottom: 5px;
}
