#wpua-errors, #wpua-readable-size-error, .wpua-error { color: #c00 !important; font-weight: 700 !important; }
#wpua-readable-size-error, #wpua-cover-readable-size-error, #wpua-undo-button { display: none; }
#wpua-preview, #wpua-preview-existing { margin-right: 10px; }
#wpua-preview, #wpua-preview-existing, #wpua-thumbnail, #wpua-thumbnail-existing { display: inline-block; text-align: center; vertical-align: top; }
#wpua-preview img, #wpua-thumbnail img, #wpua-preview-existing img, #wpua-thumbnail-existing img { max-height: 96px; border: 1px solid #dfdfdf; display: block; }
.widget_wp_user_avatar #wpua-preview img, .widget_wp_user_avatar #wpua-thumbnail img, .widget_wp_user_avatar #wpua-preview-existing img, .widget_wp_user_avatar #wpua-thumbnail-existing img { max-height: 64px; }
.defaultavatarpicker #wpua-preview, .defaultavatarpicker #wpua-preview-existing { width: 32px; height: 32px; margin-right: 0; display: inline-block; overflow: hidden; vertical-align: middle; }
.defaultavatarpicker #wpua-preview img , .defaultavatarpicker #wpua-preview-existing img { width: 32px; height: auto; border: 0; }
#wpua-edit #wpua-remove, #wpua-edit #wpua-undo, #wpua-edit-attachment { margin-left: 10px !important; }
#wpua-slider, #wpua-cover-slider { width: 22.75em; }
#wpua-upload-messages span { display: block; }
.wpua-hide { display: none !important; }
.wpua-no-avatars { display: none; }
