tmp
backups
wordpress/*
!wordpress/wp-content

wordpress/wp-content/*
!wordpress/wp-content/plugins
!wordpress/wp-content/themes

wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/.gitkeep

wordpress/wp-content/themes/*
!wordpress/wp-content/themes/.gitkeep


