
.wrapper > .tutor-wrap{
    padding-top: 150px;
    padding-bottom: 80px;
}


.wrapper > .tutor-wrap:not(.tutor-container){
    background: #fff;
}

.tutor-single-lesson-wrap{
    padding-top: 71px;
    padding-bottom: 80px;
    /*background-color: #fff;*/
}
.tutor-lead-info-btn-group .tutor-course-complete-form-wrap button,
.tutor-single-course-meta ul li.tutor-social-share button{
    box-shadow: none !important;
}

.tutor-single-course-meta ul li.tutor-social-share button:hover{
    color: var(--tutor-primary-color) !important;
}

.tutor-form-group textarea{
    border: 1px solid #E8EFF1 !important;
    box-shadow: none !important;
    background-image: none !important;
}