.acf-photo-gallery-metabox-list li {
    display: inline-table;
    padding: 3px;
    border: 1px solid #ccc;
    margin: 8px;
    position: relative;
    vertical-align: top;
    width: 202px;
    height: 202px;
}

.acf-photo-gallery-metabox-list li img {
    width: 100%;
}

.acf-photo-gallery-metabox-list .acf-photo-gallery-media-box-placeholder {
    width: 150px;
    height: 150px;
    border: 1px dashed #ccc;
}

.acf-photo-gallery-metabox-list .acf-photo-gallery-media-box-placeholder .dashicons-format-image {
    font-size: 150px;
    color: #ccc;
}

.acf-photo-gallery-metabox-list li .dashicons-dismiss {
    position: absolute;
    top: -9px;
    right: -9px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}

.acf-photo-gallery-metabox-list li .dashicons-edit {
    position: absolute;
    top: -9px;
    right: 12px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}

#acf-photo-gallery-metabox-edit .acf-edit-photo-gallery {
    display: none;
    background: #F3F3F3;
    border: 2px solid #ccc;
    width: 308px;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 9999;
    padding: 15px;
}

#acf-photo-gallery-metabox-edit .acf-edit-photo-gallery .save-changes-wrap {
    margin-top: 15px;
}

#acf-photo-gallery-metabox-edit .acf-edit-photo-gallery label {
    margin-top: 10px;
    display: block;
}

#acf-photo-gallery-metabox-edit .acf-edit-photo-gallery textarea {
    min-height: 100px
}

.acf-photo-gallery-metabox-list li.acf-photo-gallery-sortable-placeholder {
    border: 1px dashed #ccc;
    width: 150px;
    height: 150px;
    display: inline-block;
}