.pp-content-reveal-container {
	.pp-content-reveal-content-wrapper {
		overflow: hidden;
	    position: relative;
		.pp-content-reveal-content {
			p {
				margin-bottom: 0;
			}
		}
		.pp-content-reveal-saparator {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
			height: 50px;
		}
	}
	.pp-content-reveal-buttons-wrapper {
		display: flex;
	}
    .pp-content-reveal-button-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 12px 24px;
        overflow: hidden;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .pp-content-reveal-button {
        min-width: 100%;
        &.pp-content-reveal-button-open {
            display: none;
        }
        p {
            margin-bottom: 0;
        }
        .pp-button-icon {
            transition: all 0.4s ease-in-out;
        }
    }
    .pp-content-reveal-button-content {
        min-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .pp-button-icon-after {
        .pp-content-reveal-button-content {
            flex-direction: row-reverse;
        }
    }
}