.pp-instagram-feed {
    position: relative;
    .pp-feed-item {
        float: left;
        position: relative;
        img {
            -webkit-filter: none;
            filter: none;
			vertical-align: middle;
        }
        &:hover {
            img {
                -webkit-filter: none;
                filter: none;
            }
        }
    }
    &-gallery {
        .pp-feed-item {
            width: 20%;
        }
    }
    &-title-wrap {
        background: #fff;
        position: absolute;
        z-index: 2;
        @include center(both);
    }
    &-title-wrap {
        .pp-insta-title-top & {
            top: 0;
            @include center(horizontal);
        }
        .pp-insta-title-bottom & {
            bottom: 0;
            top: auto;
            @include center(horizontal);
        }
    }
    &-title {
        display: block;
        padding: 6px 30px;
        text-align: center;
    }
    .pp-feed-item {
        position: relative;
    }
    .pp-feed-item-inner {
        display: block;
        position: relative;
    }
    &-gray .pp-feed-item img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        @include transition(filter);
    }
    &-hover-gray .pp-feed-item:hover img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        @include transition(filter);
    }
    .pp-overlay-container {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        span {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
            margin: 0 5px;
        }
    }
    &-hover {
        .pp-overlay-container {
            opacity: 0;
        }
        .pp-feed-item:hover {
            .pp-overlay-container {
                opacity: 1;
            }
        }
    }
    .swiper-container {
        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }
}
.pp-instafeed {
    overflow: hidden;
	position: relative;
}
.pp-if-icon {
	margin-right: 5px;
}
.pp-if-square-images {
	.pp-feed-item-inner {
		position: relative;
		padding-bottom: 100%;
		width: 100%;
	}
	.pp-if-img {
    	overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.pp-load-more-button {
    cursor: pointer;
    &[disabled='disabled'] {
        display: none;
    }
}
.pp-button-loading {
    .pp-button-loader {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        margin-right: 8px;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 3px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: pp-dual-ring 1.2s linear infinite;
        }
    }
    @keyframes pp-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
}