.my-calendar-header *, .mc_bottomnav *, .mc-main * {
	line-height: 1.62;
}

.mc-main .my-calendar-header, .mc-main .mc_bottomnav {
	padding: 0;
}

.mc-main a {
	border-bottom: none;
	display: inline;
}

.mc-main .details ul, .mc-main .details ol, .mc-main details li  {
	margin: .25em 0 .5em 3em;
}

.my-calendar-header > div, .mc_bottomnav > div {
	display: inline-block;
	margin-right: 4px;
}

.mc-main .maybe-hide {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.my-calendar-header > div:nth-of-type(1), .mc_bottomnav > div:nth-of-type(1) {
	margin-left: 0;
}

.my-calendar-header > div:nth-of-type(last), .mc_bottomnav > div:nth-of-type(last) {
	margin-right: 0;
}

.mc-main .my-calendar-header input,
.mc-main .my-calendar-header span, .mc-main .my-calendar-header a,
.mc-main .mc_bottomnav span, .mc-main .mc_bottomnav a {
	text-decoration: none;
	-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.mc-main .my-calendar-header span, .mc-main .my-calendar-header a,
.mc-main .mc_bottomnav span, .mc-main .mc_bottomnav a,
.mc-main .my-calendar-header select, .mc-main .my-calendar-header input {
	color: #313233;
	color: var(--primary-dark);
	border: 1px solid #efefef;
	border: 1px solid var(--highlight-light);
	border-radius: 5px;
	padding: 4px 6px;
	font-size: 14px;
	font-family: Arial;
	background: #fff;
	background: var(--secondary-light);
}

.mc-main span.category-color-sample {
	border: none !important;
	box-shadow: none !important;
}

.mc-main .my-calendar-header input,
.mc-main .my-calendar-header a,
.mc-main .mc_bottomnav a {
	background: linear-gradient(to top, rgba( 210, 210, 210, .95 ) 0%, rgba( 230, 230, 230, .95 ) 70%);
}

.mc-main .my-calendar-header input:hover, .mc-main .my-calendar-header input:focus,
.mc-main .my-calendar-header a:hover, .mc-main .mc_bottomnav a:hover,
.mc-main .my-calendar-header a:focus, .mc-main .mc_bottomnav a:focus {
	color: #fff;
	color: var(--primary-light);
	text-decoration: underline;
	background: linear-gradient(to bottom, rgba(125, 125, 125, .95) 0%, rgba( 60, 60, 60, .95) 70%);
}

.mc-main.calendar, .mc-main table {
	width: 100% !important;
}

.mc-main table {
	width: 100%;
	position: relative;
	border-collapse: collapse;
	table-layout: fixed;
}

.mc-main caption, .mc-main.list .my-calendar-month, .mc-main .heading  {
	font-size: 24px;
	color: #666;
	color: var(--highlight-dark);
	text-align: right;
	margin: 0;
}

.mc-main.mini caption {
	font-size: 16px;
}

.mc-main th {
	width: 14.285714%;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 0;
	background: #313233 !important;
	background: var(--primary-dark) !important;
	color: #fff !important;
	color: var(--primary-light) !important;
}

.mc-main th abbr, .mc-main .event-time abbr {
	border-bottom: none;
	text-decoration: none;
}

.mc-main td {
	width: 14.285714%;
	border: 1px solid #efefef;
	border: 1px solid var(--highlight-light);
	padding: 0 !important;
	height: 6em;
}

.mc-main.mini td {
	height: auto;
}

.mc-main td .event-title {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 13px;
}

.mc-main {
	position: relative;
}

.mc-main .event-title {
	margin: 0 !important;
	font-size: 24px;
}

.mc-main .event-title a {
	display: block;
	line-height: 1.5;
	padding: 6px;
	position: relative;
	border-bottom: none;
	box-shadow: none;
}

.mc-main .event-title .has-image {
	padding-left: 24px;
}

.mc-main.mini .event-title {
	padding: 10px 30px 10px 5px;
}

.mc-main.mini .has-events .active-toggle {
	background: #efefef;
	background: var(--highlight-light);
	color: #000;
	color: var(--secondary-dark);
}

.mc-main.mini .event-title img {
	position: relative;
	margin-right: 4px;
	top: 0;
	left: 0;
}

.mc-main .mc-format a:before, .mc-main .mc-format span:before {
	font-family: dashicons;
	margin-right: 3px;
	vertical-align: middle;
}

.mc-main .mc-format .list:before {
	content: "\f163";
}

.mc-main .mc-format .grid:before {
	content: "\f508";
}

.mc-main .event-title img, .mc-main .category-color-sample img {
	position: absolute;
	top: 6px;
	left: 4px;
	box-shadow: none;
	background: transparent;
	display: inline;
	vertical-align: middle;
}

.mc-main .category-key .category-color-sample {
	padding: 4px 4px 4px 0;
}

.mc-main .category-color-sample img {
	position: static;
	top: 0;
	left: 0;
}

.mc-main .calendar-event .details, .mc-main .calendar-events {
	position: absolute;
	left: 5%;
	width: 90%;
	z-index: 3;
	background: #fff;
	background: var(--primary-light);
	box-shadow: 0 0 4px;
	color: #333;
	color: var(--primary-dark);
}

.mc-main .calendar-events {
	width: 110%;
	left: -5%;
}

.mc-main .details {
	padding: 30px;
}

.mc-main .single-event .details {
	padding: 0;
}

.mc-main.mini .details {
	padding: 16px;
	border-top: 1px solid #666;
	border-top: 1px solid var(--highlight-dark);
}

.mc-main .mc-list .details {
	padding: 0;
}

.mc-main .close img {
	width: auto !important;
	height: auto !important;
	padding: 2px 2px 0;
}

.mc-main button.close {
	position: absolute;
	left: -22px;
	top: -22px;
	background: #fff;
	border-radius: 20px;
}

.mc-main button.close, .mc-main button.close * {
	padding: 0;
	line-height: 1;
	background: transparent;
	opacity: 1;
}

.mc-main.mini .close {
	left: auto;
	right: 0;
	font-size: 18px;
}

.mc-main .close:hover, .mc-main .close:focus {
	background: #fff;
	background: var(--primary-light);
}

.mc-main .details .category-icon {
	width: auto;
}

.mc-main .details img.alignleft {
	width: auto;
	float: left;
	margin: 0 20px 10px 0;
}

.mc-main .details img.alignright {
	width: auto;
	float: left;
	margin: 0 0 10px 20px;
}

.mc-main .details img.aligncenter {
	width: auto;
	display: block;
	margin: 0 auto 10px;
}

.mc-main .details p {
	margin: 0 0 20px;
}

/* Date/times */
.mc-main .time-block {
	float: right;
}

.mc-main.mini .time-block {
	float: none;
	font-size: 14px;
}

.mc-main .time-block p {
	color: #000;
	color: var(--secondary-dark);
	display: inline-block;
	margin: 0 !important;
	background: #fff;
	background: var(--primary-light);
	padding: 0 10px !important;
}

.mc-main .time-block:before {
	font-family: dashicons;
	content: "\f469";
	vertical-align: top;
	margin-right: 4px;
}

.mc-main .time-block .mc-event-date {
	display: block;
}

.mc-main .mc-event-date {
	font-weight: 700;
	color: #333;
	color: var(--primary-dark);
}

.mc-main .mc-date {
	display: block;
	padding: 0 8px;
	font-size: 16px;
	background: #fff;
	background: var(--primary-light);
	color: #000;
	color: var(--secondary-dark);
}

.mc-main.mini .mc-date {
	text-align: center;
}

.mc-main .nextmonth .mc-date {
	opacity: .7;
}

.mc-main .has-events .mc-date {
	font-weight: 700;
	background: #333;
	background: var(--primary-dark);
	color: #fff;
	color: var(--primary-light);
}

.mc-main .current-day .mc-date {
	background: #000 !important;
	background: var(--secondary-dark) !important;
	color: #fff !important;
	color: var(--secondary-light) !important;
	box-shadow: inset 0px 0px 0px 2px #666;
	box-shadow: inset 0px 0px 0px 2px var(--highlight-dark);
	font-weight: 700;
	font-style: italic;
}

.mc-main .has-events a.mc-date {
	color: #fff;
	color: var(--primary-light);
	background: #333;
	background: var(--primary-dark);
}

.mc-main .has-events a.mc-date:hover,
.mc-main .has-events a.mc-date:focus {
	color: #333;
	color: var(--primary-dark);
	background: #fff;
	background: var(--primary-light);
}

.mc-main .mc-single {
	font-size: 24px;
	margin: 0 0 .5em;
}

/* Navigation */
.my-calendar-nav ul, .mc-main .category-key ul, .mc-main .mc-export ul, .mc-main .mc-list {
	margin: 0 !important;
	padding: 0 !important;
}

.my-calendar-nav ul li, .mc-main .category-key ul li, .mc-main .mc-export ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0 0 6px;
}

.my-calendar-nav .my-calendar-prev a {
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #bbb;
}

.my-calendar-nav .my-calendar-next a {
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #fff;
}

.mc-main .mc-time .month {
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #bbb;
}

.mc-main .mc-time .week {
	border-radius: 0;
	border-right: 1px solid #bbb;
}

.mc-main .mc-time .day {
	border-radius: 0 5px 5px 0;
}

.my-calendar-prev a:before, .my-calendar-next a:after {
	font-family: 'dashicons';
	vertical-align: middle;
}

.mc-export .rss a:before {
	font-family: 'dashicons';
	vertical-align: middle;
	margin-right: 3px;
	content: '\f303';
}

.mc-export .ics a:before {
	font-family: 'dashicons';
	vertical-align: middle;
	margin-right: 3px;
	content: '\f508';
}

.my-calendar-prev a:before {
	content: '\f341';
	margin-right: 3px;
}

.my-calendar-next a:after {
	content: '\f345';
	margin-left: 3px;
}

/* Category Key */
.mc-main .category-key h3 {
	margin: 0 0 10px 0 !important;
}

.mc-main .category-key li.current a {
	border: 1px solid #000;
	background: #fff;
}

.mc-main .my-calendar-header .no-icon,
.mc-main .mc_bottomnav .no-icon {
	display: inline-block;
	width: 12px;
	height: 15px;
	vertical-align: middle;
	margin-right: .25em;
	border-radius: 12px;
	position: relative;
	top: -2px;
	border: 1px solid #fff;
}

/* hCard */
.mc-main .location {
	clear: right;
}

.mc-main .vcard {
	margin: 0 0 1em 1em;
	float: right;
	padding: 10px;
	width: 250px;
	max-width: 50%;
	font-size: 14px;
	background: rgba( 0, 0, 0, .05 );
}

.mc-main.mini .vcard {
	margin: 15px 0;
	float: none;
	width: 100%;
	max-width: 100%;
}

.mc-main .vcard .street-address {
	display: inline;
}

.mc-main .vcard .street-address:nth-of-type(2):before {
	content: ', ';
}

/* Jumpbox */
.mc-main .my-calendar-date-switcher select {
	width: auto;
	margin: 0;
	height: auto;
}

.mc-main .my-calendar-date-switcher input[type=submit] {
	min-width: 2em;
	width: auto;
	font-size: 14px !important;
	padding: 1px 4px !important;
	line-height: 1.62 !important;
}

/* List View */
.mc-main .mc-list li, #mc-day {
	position: relative;
}

.mc-list .current-day .event-date:before {
	content: "\f345";
	margin-right: 5px;
	font-family: dashicons;
	vertical-align: middle;
	margin-left: -5px;
}

.mc-main .mc-list .mc-events {
	list-style-type: none !important;
	padding: 10px;
	background: rgba(0, 0, 0, .05);
	margin: 0;
}

.mc-main .mc-list .mc-events.odd {
	padding: 10px;
	background: none;
}

.mc-main .list-event .event-title {
	margin: 0 0 1em!important;
	display: inline-block;
}

.mc-main .details .sharing {
	clear: both;
}

.mc-main .sharing p {
	display: inline-block;
	padding: .5em .5em .5em 0;
}

.mc-main.mini .sharing p {
	font-size: 14px;
	padding: 0 .25em 0 0;
	margin-bottom: 10px;
}

.mc-main .sharing .ical a:before, .mc-main .sharing .gcal a:before {
	font-family: 'dashicons';
	content: "\f502";
	margin-right: 3px;
	vertical-align: middle;
}

.mc-main .sharing .mc_details a:before {
	font-family: 'dashicons';
	content: "\f242";
	margin-right: 3px;
	vertical-align: middle;
}

.mc-main .mc-list .event-date {
	font-size: 16px;
	font-weight: 600;
}

.mc-main .list-event {
	border-top: 1px solid #d1d1d1;
	margin: .5em -10px;
	padding: 1em;
}

.mc-main .day .list-event, .mc-main .day .details {
	padding: 0;
	margin: 0;
}

.mc-main .mc-list-extended {
	font-size: 14px;
	font-style: italic;
}

.mc-main .details .mc-image {
	max-width: 100%;
	height: auto;
}

.mc-main .list-event .event-title img {
	margin-right: .5em;
	position: relative;
	top: -1px;
}

/* Single view */
.single-event .event-title {
	padding: .5em;
	font-size: inherit;
}

.single-event .event-title img {
	margin-right: 10px;
	position: static;
}

.mc-list-details.all-events {
	text-align: left;
	display: inline-block;
	text-transform: none;
}