#supsystic-featured-plugins, #supsystic-featured-plugins * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
#supsystic-featured-plugins {    
	font-family: Montserrat, Hind-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    background-color: #ffffff;
    color: #4D4C4C;
	padding-left: 10px;
}
#supsystic-featured-plugins a {
	text-decoration: none !important;
}
.catitem .download-product-item .dp-title a {
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 24px;
	font-style: normal;
	text-align: center;
	padding: 8px 20px;
	background-image: url(img/bg_texture.png);
	color: #ffffff;
	text-decoration: none;
}
.catitem .download-product-item .dp-title a:hover {
	color: #ffffff;
	text-decoration: none;
}
.catitem .download-product-item .dp-excerpt {
	display: block;
	height: 210px;
	min-height: 210px;
	max-height: 210px;
	padding: 15px;
	text-align: center;
	overflow: hidden;
}
.catitem .download-product-item .dp-excerpt .dp-excerpt-wrapper {
	height: 100%;
	column-width: 210px;
	-webkit-column-width: 210px;
}
.catitem .download-product-item .dp-thumb {
	margin: 30px 0;
	height: 190px;
	min-height: 190px;
}
.catitem .download-product-item .dp-thumb img, .all-plugins-item .dp-thumb img {
	width: auto;
	max-height: 100%;
	margin: 0 auto;
}
.catitem .download-product-item .dp-excerpt, .catitem .download-product-item .dp-buttons {
	background: #FAFAFA;
}
.catitem .download-product-item .dp-buttons {
	padding-bottom: 20px;
}
.catitem .download-product-item .dp-buttons a {
	display: inline-block;
	width: 40%;
	padding: 10px 0 !important;
	margin-left: 6%;
}
.catitem .download-product-item .dp-buttons a.btn-info {
	border: none !important;
	color: #ffffff !important;
	font-size: 18px !important;
	padding: 12px 0 !important;
}
.catitem .download-product-item .dp-buttons a.btn-center {
	display: block;
	margin: 0 auto;
}
.catitem .download-product-item .dp-buttons a.dp-full {
	border-color: #e8eded!important;
}
.catitem .download-product-item {
	font-size: 16px;
	border: 2px solid #4D4C4C;
}
.catitem .bottom-buttons a, .catitem .free-product-item p {
	font-weight: 400;
}
.select_version .selecter-item:hover {
	background: #4ae8ea;
	color: #fff;
}
.selecter.open {
	z-index: 99999999!important;
}
.catitem {
	display: block;
	margin-bottom: 30px;
}
.catitem .free-label, .catitem .psd-label, .catitem .responsive-label {
	margin-bottom: 5px;
	display: inline-block;
}
.catitem .labels {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 25px;
	z-index: 0;
}
.catitem .responsive-label {
	width: 21px;
	height: 14px;
	background: url(img/pattern.png) -130px -32px no-repeat;
}
.catitem .free-label {
	width: 17px;
	height: 17px;
	background: url(img/pattern.png) -135px -47px no-repeat;
}
.catitem .psd-label {
	width: 22px;
	height: 8px;
	background: url(img/pattern.png) -80px -32px no-repeat;
}
.catitem .zoom-label {
	width: 13px;
	height: 13px;
	display: inline-block;
	background: url(img/pattern.png) -115px -32px no-repeat;
	position: absolute;
	right: 11px;
	bottom: 10px;
}
.catitem .fpi {
	border: 1px solid #e8eded;
	display: inline-block;
	position: relative;
	z-index: 10;
	margin-bottom: 15px;
}
.catitem .free-product-item {
	display: inline-block;
}
.catitem .free-product-item p {
	font-size: 16px;
	font-style: normal;
	display: inline-block;
}
.catitem .free-product-item .fpi {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
}
.catitem .free-product-item .fpi.hover {
	background: #4ae8ea;
}
.catitem .fpi img {
	border: 3px solid rgba(215, 219, 219, .4);
	margin: -13px 0 0 -35px;
}
.catitem .bottom-buttons a {
	color: #4D4C4C;
	text-align: center;
	display: block;
	padding: 5px 35px 5px 5px;
	font-size: 18px;
	font-style: normal;
}
.btn, .btn-download, .btn-preview, .btn-pro, .btn-extension, .btn-black {
	font-size: 18px!important;
	font-weight: 400!important;
	font-style: normal!important;
}
.supsystic-plugin #supsystic-featured-plugins .btn {
	color: #4D4C4C;
	/*-webkit-transition-timing-function: initial;
	transition-timing-function: initial;*/
}
.btn {
	background: transparent;
	color: #4D4C4C;
	text-align: center;
	border: 2px solid #4D4C4C !important;
	border-radius: 0!important;
	-moz-border-radius: 0!important;
	-webkit-border-radius: 0!important;
	padding: 17px 45px !important;
}
.btn-full {
	width: 100%;
}
.btn-info {
	padding: 12px 38px !important;
	background-color: #4ae8ea !important;
	border: none !important;
	color: #ffffff !important;
	font-size: 18px !important;
}
.btn-revert {
	color: #ffffff !important;
	border-color: #ffffff !important;
}
/* Shutter Out Horizontal Start */
.hvr-shutter-out-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	/*-webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	/*background: #e1e1e1;*/
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2098d1;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
	color: white !important;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/* For blog navigation */
.meta-nav.hvr-shutter-out-horizontal:before, .supsystic-social-button.hvr-shutter-out-horizontal:before {
	border-radius: 100%;
}
/* Shutter Out Horizontal End */
/* Page Bundle Container Styles Start */
.supsysticPageBundleContainer {
	background-color: #56DADC;
	padding-top: 28px;
	padding-bottom: 28px;
	display: table;
	width: 100%;
}
.supsysticPageBundleContainer .bundle-text {
	padding-top: 5px;
	font-size: 25px;
	color: #ffffff;
}
.supsysticPageBundleContainer .bundle-btn a {
	font-size: 15px !important;
	padding: 5px 38px !important;
}
@media only screen and (max-width:991px) {
	.supsysticPageBundleContainer .bundle-btn {
		margin-top: 20px;
	}
}
/* Page Bundle Container Styles End */
