/* CSS for adverts */

.updraft_notice_container {
	height: auto;
	overflow: hidden;
}

.updraft_review_notice_container {
	padding: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.updraft_advert_button_container {
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.updraft_advert_button_container .dashicons {
	margin-left: 10px;
}

.updraft_advert_content_left {
	float: none;
	width: 65px;
}

.updraft_advert_content_left_extra {
	float: none;
	width: 100px;
	padding-right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.updraft_advert_content_right {
	float: none;
	width: auto;
	overflow: hidden;
}

.updraft_advert_bottom {
	margin: 10px 0;
	padding: 10px;
	font-size: 140%;
	background-color: white;
	border-color: #E6DB55;
	border: 1px solid;
	border-radius: 4px;
}

.updraft-advert-dismiss {
	float: right;
	font-size: 13px;
	font-weight: normal;
}

h3.updraft_advert_heading {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

h4.updraft_advert_heading {
	margin-top: 2px !important;
	margin-bottom: 3px !important;
}

.updraft_center_content {
	text-align: center;
	margin-bottom: 5px;
}

.updraft_notice_link {
	padding-left: 5px;
}

.updraft_text_center {
	text-align: center;
}

@media screen and (min-width: 560px) {

	.updraft_advert_content_left, .updraft_advert_content_left_extra {
		float: left;
	}

}
