.cp_cff_natural{background:url("top_bg.png") 0 0 repeat-x #f3f6ea; padding:10px;}
.cp_cff_natural #fbuilder{padding:10px;}
.cp_cff_natural #fbuilder h1{color:rgb(255, 255, 255);font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;margin-bottom:0;font-size:200%;font-weight:normal;font-variant:small-caps;}
.cp_cff_natural #fbuilder .fform span{font-style:italic;font-family:Georgia, 'Times New Roman', Times, serif;}
.cp_cff_natural #fbuilder select,
.cp_cff_natural #fbuilder textarea,
.cp_cff_natural #fbuilder input[type=text],
.cp_cff_natural #fbuilder input[type=file]{border:1px solid rgb(150, 150, 150);padding:5px 0;font-size:14px;background:#FFF;color:#000;}
.cp_cff_natural #fbuilder{color:rgb(64, 63, 61);}
.cp_cff_natural #fbuilder .uh{color:rgb(112, 140, 0);}

.cp_cff_natural #fbuilder legend{background:url("top_bg.png"); border:3px solid #FFF;color:#FFF;font-weight:bold;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.cp_cff_natural #fbuilder fieldset{border:0;padding:0;}
.cp_cff_natural #fbuilder .pbSubmit,
.cp_cff_natural #fbuilder .pbPrevious,
.cp_cff_natural #fbuilder .pbNext{color:#fff;font-variant:small-caps;font-size:14px;font-weight:bold;background:url("top_bg.png");-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}