#fbc_settings_form {
    max-width: 540px;
    padding: 10px 20px;
    margin: 30px 10px 30px 0;
    border: 1px solid #ccc;
    background-color: #fcfcfc;
}
#fbc_settings_form .checkbox {
    margin-left: 20px;
}
#getToken {
    max-width: 112px;
    text-align: center;
}
@font-face {
  font-family: 'icomoon_flight_01';
  src: url('icomoon_flight_01.eot?xm1ff0');
  src: url('icomoon_flight_01.eot?xm1ff0#iefix') format('embedded-opentype'), url('icomoon_flight_01.ttf?xm1ff0') format('truetype'), url('icomoon_flight_01.woff?xm1ff0') format('woff'), url('icomoon_flight_01.svg?xm1ff0#icomoon_flight_01') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon_flight_01';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    max-width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    padding: 0 5px 0 0;
    color: #666;
}
.icon-icn_flight_folder_01:before {
  content: "\192";
}
.icon-icn_flight_folder_open3:before {
    content: "\cf";
}
.icon-icn_album_01:before {
    content: "\5b";
}
.icon-library:before {
    content: "\e638";
    font-size: 15px;
}
.icon-resize:before {
    content: "\3a";
    font-size: 16px;
    color: #fff;
}
.icon-search:before {
    content: "\53";
    margin-left: -22px;
    font-size: 14px;
}
#filterHideShow {
 font-size: 14px;
 color: #333;
 cursor: pointer;
}
.icon-filter:before {
    content: "\35";
    font-size: 14px;
}
.icon-type-all:before {
    content: "\69";
    font-size: 14px;
    margin-left: 5px;
}
.icon-type-image:before {
    content: "\62";
    font-size: 14px;
}
.icon-type-video:before {
    content: "\65";
    font-size: 14px;
}
.icon-type-audio:before {
    content: "\64";
    font-size: 14px;
}
.icon-type-document:before {
    content: "\6b";
    font-size: 14px;
}
.icon-type-presentation:before {
    content: "\74";
    font-size: 14px;
}
.icon-type-other:before {
    content: "\6a";
    font-size: 14px;
}
.icon-icn_checkmark_circle_01:before {
  content: "\e610";
}
.icon-icn_close_circle_x_01:before {
  content: "\e60f";
}

#fbc_settings_form .icon-icn_checkmark_circle_01:before {
    display: block;
    font-size: 72px;
    color: #5cb85c;
    margin: 0 0 20px 0;
}
#fbc_settings_form .icon-icn_close_circle_x_01:before {
    display: block;
    font-size: 72px;
    color: #d9534f;
    margin: 0 0 20px 0;
}


/*

 #loader {
     text-align: center;
     background-color: rgba(50,50,50,0.8);
     border-radius: 10px;
     position: fixed;
     z-index: 999;
     padding: 15px;
     top: 50%;
     left: 50%;
     width: 60px;
     height: 60px;
     margin: -60px;
 }
 #fbc_loadMore_wrap {
   	clear:both;
   	margin: 30px auto;
   	width: 33%;
   padding-top: 20px;
 }
 #fbc_loadMore {
     display: none;
     background-color: #f00046;
     background-image: none;
     color: #fff;
     font-size: 13px;
     padding: 9px 35px;
     border-radius: 25px;
     text-transform: uppercase;
     border: 1px solid #f00046;
     cursor: pointer;
     transition: all 0.2s ease;
     letter-spacing: 1px;
 }
 #fbc_loadMore:hover {
     background-color: rgba(0,0,0,0);
     color: #f00046;
 }
 #fbc-loop .fbc_attachment {
     background-color: #999;
     float: left;
     width: 190px;
     height: 190px;
     margin: 0;
     padding: 0;
     border: 0;
     opacity: 0;
     transition: all 0.6s ease;
 }
 #fbc-react .attachment-preview {
     width: 190px;
     height: 190px;
     float: left;
     display: inline-block;
     margin: 0px;
     overflow: hidden;
     background-color: #666;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     border: 1px solid #fff;
     position: relative;
     -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.1),inset 0 0 0 1px rgba(0,0,0,0.05);
     box-shadow: inset 0 0 15px rgba(0,0,0,0.1),inset 0 0 0 1px rgba(0,0,0,0.05);
     cursor: pointer;
     opacity: 0.8;
     transition: all 0.33s ease;
 }
 #fbc-react .attachment-preview:hover {
     opacity: 1;
 }
 #fbc-react .selected .attachment-preview {
     border:5px solid #1e8cbe
 }

 #__attachments-view-fbc {
     margin: 1px 0 0 0;
 }

 #fbc_media-sidebar {
     display: none;
     position: fixed;
     top: 0;
     right: -310px;
     bottom: 0;
     width: 315px;
 }

 #fbc_media-sidebar.media-sidebar {
     width:315px;
     padding:0 10px 24px;
     z-index:75;
     background:#f3f3f3;
     border-left:1px solid #ddd;
     overflow:auto;
     -webkit-overflow-scrolling:touch
 }

 #library-form {
     position:fixed;
     max-width:350px;
     display:none
 }
 #library-form .button {
     display: inline-block;
     margin-top: 20px;
 }

 .pinkynail,.filename new,.describe-toggle-off {
     display:none
 }
 .attachment-details {
     overflow: auto;
     position: relative;
 }
 .attachment-info .thumbnail-image::after {
     bottom: 0;
     box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
     content: "";
     display: block;
     left: 0;
     overflow: hidden;
     position: absolute;
     right: 0;
     top: 0;
 }
 .attachment-info .thumbnail {
     float: left;
     margin-bottom: 5px;
     margin-right: 10px;
     margin-top: 5px;
     max-height: 120px;
     max-width: 120px;
     position: relative;
 }

 .attachment-info .thumbnail img {
     display: block;
     margin: 0 auto;
     max-height: 120px;
     max-width: 120px;
 }

 h3 {
     color: #23282d;
     font-size: 1.3em;
     margin: 1em 0;
 }
 h1, h2, h3, h4, h5, h6 {
     display: block;
     font-weight: 600;
 }
 .attachment-info {
     border-bottom: 1px solid #ddd;
     color: #666;
     line-height: 18px;
     margin-bottom: 16px;
     min-height: 60px;
     overflow: hidden;
     padding-bottom: 11px;
 }
 .attachment-info .filename {
     word-break: break-all;
 }

 .attachment-details .setting, .media-sidebar .setting {
     display: block;
     float: left;
     margin: 1px 0;
     width: 100%;
 }
 .media-sidebar .setting .name {
     max-width: 80px;
 }
 .media-sidebar .setting .checkbox {
     margin-top: 9px;
 }
 .attachment-details .setting span, .compat-item label span, .media-sidebar .setting span {
     color: #666;
     float: left;
     font-weight: 400;
     line-height: 16px;
     min-height: 22px;
     padding-top: 8px;
 }
 .attachment-details .setting .value, .attachment-details .setting input[type="email"], .attachment-details .setting input[type="number"], .attachment-details .setting input[type="password"], .attachment-details .setting input[type="search"], .attachment-details .setting input[type="tel"], .attachment-details .setting input[type="text"], .attachment-details .setting input[type="url"], .attachment-details .setting textarea, .media-sidebar .setting .value, .media-sidebar .setting input[type="email"], .media-sidebar .setting input[type="number"], .media-sidebar .setting input[type="password"], .media-sidebar .setting input[type="search"], .media-sidebar .setting input[type="tel"], .media-sidebar .setting input[type="text"], .media-sidebar .setting input[type="url"], .media-sidebar .setting textarea {
     box-sizing: border-box;
     float: right;
     margin: 1px;
     width: 65%;
 }
 .media-frame input:disabled, .media-frame input[readonly], .media-frame textarea:disabled, .media-frame textarea[readonly] {
     background-color: #eee;
 }
 .media-frame input[type="email"], .media-frame input[type="number"], .media-frame input[type="password"], .media-frame input[type="search"], .media-frame input[type="text"], .media-frame input[type="url"], .media-frame select, .media-frame textarea {
     border-color: #dfdfdf;
     border-style: solid;
     border-width: 1px;
     font-family: "Open Sans",sans-serif;
     font-size: 12px;
 }
 input.readonly, input[readonly], textarea.readonly, textarea[readonly] {
     background-color: #eee;
 }
 .attachment-details .setting span, .compat-item label span, .media-sidebar .setting span {
     color: #666;
     float: left;
     font-weight: 400;
     line-height: 16px;
     min-height: 22px;
     padding-top: 8px;
 }
 .attachment-details .setting span, .media-sidebar .setting span {
     font-size: 12px;
     margin-right: 4%;
     min-width: 30%;
     text-align: right;
     word-wrap: break-word;
 }

 #hideShow {
 	float:left;
 	margin: 0 0 0 10px;
 	top: 5px;
 	font-size: 14px;
 	color: #333;
 	cursor: pointer;
 	position: relative;
 }
 #fbc-icon {
     margin: 0 5px 0 -20px;
     width: 20px;
 }
 #fbc-tree {
 	width: 250px;
 	left: -250px;
 	height: '100%';
     top: 90px;
 	display: inline-block;
     position: fixed;
 	display: none;
 	transition: all 0.3s ease;
     bottom: 0;
 }
 #fbc-loop {
     margin-top: 90px;
     transition: all 0.3s ease;
 }
 #fbc-tree li {
     margin-left: 20px;
 }
 #fbc-tree li .fa {
 	padding-right: 5px;
 }
 #fbc-tree .parent_li div {
 	display: none;
 }
 #fbc-react {
     padding-left: 0;
 }
 #fbc-react h1 {
     text-align: center;
     font-size: 24px;
     position: fixed;
     top: 0;
     padding: 0;
     text-align: center;
     width: 100%;
     margin-left: -220px;
     left: 0;
     z-index: 9999;
 }
 .fullscreen {
 	position: absolute;
     bottom: 4px;
     right: 4px;
     display: block;
     text-decoration: none;
     border: 1px solid white;
     border-radius: 4px;
     padding: 4px;
     color: white;
     font-size: 14px;
     background-color: rgba(0,0,0,0.7);
     opacity: 0.6;
     visibility: hidden;
 }
 .fullscreen:hover {
 	opacity: 1;
 	color: white !important;
 }
 .attachment-preview:hover>a.fullscreen {
     visibility: visible;
 }
 .featherlight .featherlight-content {
 	padding: 5px 5px !important;
     border-bottom: 0 !important;
 }
 .tree {
     min-height:20px;
     height: 100%;
     overflow-y: scroll;
     padding: 0 10px;
     margin-bottom:20px;
     background-color:#fcfcfc;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     border-width: 1px 1px 1px 0;
     border-style: solid;
     border-color: #ccc;
 }
 .tree::-webkit-scrollbar-track {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 	border-radius: 10px;
 	background-color: #FCFCFC;
 }
 .tree::-webkit-scrollbar {
 	width: 6px;
 	background-color: #FCFCFC;
 }
 .tree::-webkit-scrollbar-thumb {
 	border-radius: 10px;
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 	background-color: #999;
 }
 .tree li {
     list-style-type:none;
     margin: 0;
     padding: 6px 5px 0 5px;
     position: relative
 }
 .tree li a {
     text-decoration: none;
     color: #303030;
 }
 .tree li::before, .tree li::after {
     content:'';
     left:-10px;
     position:absolute;
     right:auto
 }
 .tree li::before {
     border-left:1px solid #e0e0e0;
     bottom:50px;
     height:100%;
     top:0;
     width:1px
 }
 .tree li::after {
     border-top:1px solid #e0e0e0;
     height:20px;
     top:25px;
     width:15px
 }
 .tree li span {
     -moz-border-radius:5px;
     -webkit-border-radius:5px;
     border:1px solid #e0e0e0;
     border-radius:5px;
     display:inline-block;
     padding:3px 8px;
     text-decoration:none
 }
 .tree li.parent_li>span {
     cursor:pointer
 }
 .tree>ul>li::before, .tree>ul>li::after {
     border:0
 }
 .tree li:last-child::before {
     height:30px
 }
 .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
     background:#eee;
     border:1px solid #94a0b4;
     color:#000
 }
 @font-face {
   font-family: 'icomoon_flight_01';
   src: url('icomoon_flight_01.eot?xm1ff0');
   src: url('icomoon_flight_01.eot?xm1ff0#iefix') format('embedded-opentype'), url('icomoon_flight_01.ttf?xm1ff0') format('truetype'), url('icomoon_flight_01.woff?xm1ff0') format('woff'), url('icomoon_flight_01.svg?xm1ff0#icomoon_flight_01') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 [class^="icon-"],
 [class*=" icon-"] {
     font-family: 'icomoon_flight_01';
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
     max-width: 260px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     font-size: 18px;
     padding: 0 5px 0 0;
     color: #666;
 }
 .icon-icn_flight_folder_01:before {
   content: "\192";
 }
 .icon-icn_flight_folder_open3:before {
     content: "\cf";
 }
 .icon-icn_album_01:before {
     content: "\5b";
 }
 .icon-library:before {
     content: "\e638";
     font-size: 15px;
 }
 .icon-resize:before {
     content: "\3a";
     font-size: 16px;
     color: #fff;
 }
 .icon-search:before {
     content: "\53";
     margin-left: -22px;
     font-size: 14px;
 }
 #filterHideShow {
 	font-size: 14px;
 	color: #333;
 	cursor: pointer;
 }
 .icon-filter:before {
     content: "\35";
     font-size: 14px;
 }
 .icon-type-all:before {
     content: "\69";
     font-size: 14px;
     margin-left: 5px;
 }
 .icon-type-image:before {
     content: "\62";
     font-size: 14px;
 }
 .icon-type-video:before {
     content: "\65";
     font-size: 14px;
 }
 .icon-type-audio:before {
     content: "\64";
     font-size: 14px;
 }
 .icon-type-document:before {
     content: "\6b";
     font-size: 14px;
 }
 .icon-type-presentation:before {
     content: "\74";
     font-size: 14px;
 }
 .icon-type-other:before {
     content: "\6a";
     font-size: 14px;
 }
 .icon-icn_checkmark_circle_01:before {
   content: "\e610";
 }
 .icon-icn_close_circle_x_01:before {
   content: "\e60f";
 }

 #flight_by_canto_settings .icon-icn_checkmark_circle_01:before {
     display: block;
     font-size: 72px;
     color: #5cb85c;
     margin: 0 0 20px 0;
 }
 #flight_by_canto_settings .icon-icn_close_circle_x_01:before {
     display: block;
     font-size: 72px;
     color: #d9534f;
     margin: 0 0 20px 0;
 }

 .header {
     background-color: #f0f0f0;
     padding: 15px 0;
 }

 .searchRow {
     padding: 50px 0 15px 10px;
     position: fixed;
     top: 0;
     z-index: 9;
     background: #f3f3f3;
     width: 100%;
     box-shadow: 0 0 5px rgba(0,0,0,0.8);
 }
 .searchRow>div{
 	float: left;
 	margin-left: 20px;
 }
 #searchForm {
     margin: 0 0 0 0;
 }
 #searchForm input {
     width: 220px;
     border: 1px solid #e0e0e0;
     padding: 5px 10px;
 }
 #searchForm button {
     display: none;
 }
 #fbc_settings_form {
     max-width: 540px;
     padding: 10px 20px;
     margin: 30px 10px 30px 0;
     border: 1px solid #ccc;
     background-color: #fcfcfc;
 }
 #getToken {
     max-width: 112px;
     text-align: center;
 }

 */
