.canto-modal {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 25px - 25px);
}
.canto-iframe {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 93%;
  width: 100%;
}

/* Alignments */
img.alignleft {
  float: left;
  margin-right: 1rem;
}

img.alignright {
  float: right;
  margin-left: 1rem;
}

img.aligncenter,
button.aligncenter,
#canto-button {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
