.ewd-upcp-deactivate-survey-modal {
	display: none;
	table-layout: fixed;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 14px;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.ewd-upcp-deactivate-survey-wrap {
	display: table-cell;
	vertical-align: middle;
}
.ewd-upcp-deactivate-survey {
	background-color: #fff;
	max-width: 550px;
	margin: 0 auto;
	padding: 30px;
	text-align: left;
}
.ewd-upcp-deactivate-survey .error {
	display: block;
	color: red;
	margin: 0 0 10px 0;
}
.ewd-upcp-deactivate-survey-title {
	display: block;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
	padding: 0 0 18px 0;
	margin: 0 0 18px 0;
}
.ewd-upcp-deactivate-survey-title span {
	color: #999;
	margin-right: 10px;
}
.ewd-upcp-deactivate-survey-desc {
	display: block;
	font-weight: 600;
	margin: 0 0 18px 0;
}
.ewd-upcp-deactivate-survey-option {
	margin: 0 0 10px 0;
}
.ewd-upcp-deactivate-survey-option-input {
	margin-right: 10px !important;
}
.ewd-upcp-deactivate-survey-option-details {
	display: none;
	width: 90%;
	margin: 10px 0 0 30px;
}
.ewd-upcp-deactivate-survey-footer {
	margin-top: 18px;
}
.ewd-upcp-deactivate-survey-deactivate {
	float: right;
	font-size: 13px;
	color: #ccc;
	text-decoration: none;
	padding-top: 7px;
}