
/*.supsystic-overview .half-page-left {
    float: left;
    margin-left: 20px;
    width: 50%;
    border-right: 1px solid rgba(164, 170, 172, 0.28);
    padding-right: 20px;
}*/
.supsystic-overview .faq-title {
    cursor: pointer;
}

.supsystic-overview .faq-title .description {
    margin-top: 10px;
    border: none !important;
}

.supsystic-overview .faq-list {
    margin-bottom: 10px;
}
.supsystic-overview-news-content {
	padding: 0 10px 10px 0;
}
.supsystic-overview .faq-title,
.supsystic-overview-news-content h3 {
    padding: 10px 20px;
    margin-bottom: 4px;
    background-color: rgba(164, 170, 172, 0.28);
}

.supsystic-overview .supsystic-overview-news-content h3 {
    line-height: 2;
}
.supsystic-overview .video {
    padding: 10px 20px;
    margin-bottom: 10px;
    
}

.supsystic-overview .settings-title {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 5px;
}

.supsystic-overview .supsystic-overview-news {
    margin-right: 10px;
}

.supsystic-overview .supsystic-overview-news-content p,
.supsystic-overview .supsystic-overview-news-content ul {
    white-space: normal !important;
    margin:0 8px;
}

.supsystic-overview .supsystic-overview-news-content p {
    font-size: 14px;
    font-weight: 600;
}

.supsystic-overview .supsystic-overview-news-content ul {
    list-style-type: disc;
}

.supsystic-overview .supsystic-overview-news-content li {
    margin-left: 20px;
}

.supsystic-overview form {
    border: none !important;
    margin-top: 20px;
    text-align: center;
}

.supsystic-overview form label {
    float: left;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
}

.supsystic-overview #form-settings input,
.supsystic-overview #form-settings select,
.supsystic-overview #form-settings textarea {
    float: left;
    /*margin-left: 50px;*/
	width: 100%;
	float: right;
}
.supsystic-overview #form-settings th {
	min-width: 120px;
}
.supsystic-overview .supsistic-half-side-box > div {
	border-bottom: 1px solid rgba(164, 170, 172, 0.28);
	padding-bottom: 20px;
}
.supsystic-overview .supsistic-half-side-box > div:last-child {
	border-bottom: none;
}
.supsystic-overview .text-block {
	margin: 10px 0;
}