#explorer {
  position: absolute;
  top: 70px;
  bottom: 40px;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  width: 100%;
}

#importer_body_wrapper {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  width: 100%;
}


#explorer_header_container .item_name,
#explorer_header_container .item_size,
#explorer_header_container .item_date_modified {
  display: inline-block;
}

#explorer_header_container {
  position: absolute;
  z-index: 1;
  top: 0;
  display: table;
  outline: solid 1px #E8E9EA;
  background-color: #FFFFFF;
  width: 100%;
  color: #585858;
  padding: 0 0 0 5px;
}

#explorer_header {
  display: table-row;
}

#explorer_header span {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
}

#explorer_body_container,
#importer_body_container {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

#explorer_body_container,
#importer_body_container {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  overflow-y: scroll;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.explorer_item,
.importer_item {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}

.explorer_item_hover,
.importer_item_hover {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #70C0E7;
  background-color: #E5F3FB;
}

.explorer_item_select,
.importer_item_select {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #66A7E8;
  background-color: #D1E8FF;
}

.item_thumb {
  display: table-cell;
  padding: 2px;
  width: 116px;
  height: 76px;
  vertical-align: middle;
}

.item_numbering {
  display: none;
}

.item_thumb img {
  max-width: 116px;
  max-height: 76px;
}

.item_icon {
  display: none;
}

.item_name {
  display: block;
  margin: 0 4px;
  height: 20px;
  overflow: hidden;
}

.item_size {
  display: none;
}

.item_date_modified {
  display: none;
}