.wps-equal-postbox {
    display: flex;
}

.wps-postbox-half {
  width: calc((100% / 2) - 20px);
  margin-right: 10px;

  .title-center {
    text-align: center;
    margin: 25px auto;
    color: #828282;
  }

  .inside {
      padding: 5px 10px !important;
      margin: 5px 0 5px 0 !important;
  }
}

.wps-title-group {
  margin: 15px 0 20px 0;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 13px;
  width: 98%;
}
