/*2.0.0*/

@font-face {
  font-family: 'twbb-icons';
  src: url('fonts/twbb-icons.eot');
  src: url('fonts/twbb-icons.eot') format('embedded-opentype'),
  url('fonts/twbb-icons.ttf') format('truetype'),
  url('fonts/twbb-icons.woff') format('woff'),
  url('fonts/twbb-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.twbb-widget-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'twbb-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.twbb-widget-icon:before {
  color: #556068;
}

.elementor-element:hover .twbb-widget-icon:before {
  color: #d30c5c;
}

/*ICONS*/
.twbb-calendar.twbb-widget-icon:before {
  content: "\e900";
}
.twbb-call-to-action.twbb-widget-icon:before {
  content: "\e901";
}
.twbb-countdown.twbb-widget-icon:before {
  content: "\e902";
}
.twbb-featured-image.twbb-widget-icon:before {
  content: "\e903";
}
.twbb-flip-box.twbb-widget-icon:before {
  content: "\e904";
}
.twbb-form-maker.twbb-widget-icon:before {
  content: "\e905";
}
.twbb-map.twbb-widget-icon:before {
  content: "\e906";
}
.twbb-menu.twbb-widget-icon:before {
  content: "\e907";
}
.twbb-photo-gallery.twbb-widget-icon:before {
  content: "\e908";
}
.twbb-post-comments.twbb-widget-icon:before {
  content: "\e909";
}
.twbb-post-content.twbb-widget-icon:before {
  content: "\e90a";
}
.twbb-post-excerpt.twbb-widget-icon:before {
  content: "\e90b";
}
.twbb-post-info.twbb-widget-icon:before {
  content: "\e90c";
}
.twbb-post-navigation.twbb-widget-icon:before {
  content: "\e90d";
}
.twbb-posts.twbb-widget-icon:before {
  content: "\e90e";
}
.twbb-posts-archive.twbb-widget-icon:before {
  content: "\e90f";
}
.twbb-post-title.twbb-widget-icon:before {
  content: "\e910";
}
.twbb-pricing-table.twbb-widget-icon:before {
  content: "\e911";
}
.twbb-share-buttons.twbb-widget-icon:before {
  content: "\e912";
}
.twbb-site-logo.twbb-widget-icon:before {
  content: "\e913";
}
.twbb-site-title.twbb-widget-icon:before {
  content: "\e914";
}
.twbb-slider-wd.twbb-widget-icon:before {
  content: "\e915";
}
.twbb-testimonial-carousel.twbb-widget-icon:before {
  content: "\e916";
}
.twbb-wd-facebook-feed.twbb-widget-icon:before {
  content: "\e917";
}
.twbb-wd-instagram-feed.twbb-widget-icon:before {
  content: "\e918";
}