.iris-picker.iris-border {
    z-index: 9;
}

.customize-control.customize-control-vi_wot_shipment_icon .vi_wot_radio_button_img.ui-buttonset {
    /*margin: 5px 5px;*/
    border-radius: 0;
    border: none;
    background: transparent;
    float: left;
    padding: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.customize-control.customize-control-vi_wot_shipment_icon .vi_wot_radio_button_img.ui-buttonset {

    /*margin: 5px 5px;*/

    border-radius: 0;

    border: none;

    background: transparent;

    float: left;

    padding: 5px;

    width: 35px;

    height: 35px;

    line-height: 35px;

}


.customize-control.customize-control-vi_wot_shipment_icon .vi_wot_radio_button_img.ui-buttonset label {


    border-radius: 0;

    border: none;

    background: transparent;

    box-shadow: none;

}

.customize-control.customize-control-vi_wot_shipment_icon .vi_wot_radio_button_img .ui-button-text {
    padding: 0;
}

.customize-control.customize-control-vi_wot_shipment_icon svg,
.customize-control.customize-control-vi_wot_shipment_icon img,
.customize-control.customize-control-vi_wot_shipment_icon i {
    max-width: 100%;
    opacity: .57;
}

#customize-control-vi_woocommerce_orders_tracking_params-shipment_template_one_icon_delivered i:before {
    font-size: 35px;
    margin: 0;
}

.customize-control.customize-control-vi_wot_shipment_icon .ui-state-active svg,
.customize-control.customize-control-vi_wot_shipment_icon .ui-state-active img,
.customize-control.customize-control-vi_wot_shipment_icon .ui-state-active i {
    opacity: 1 !important;
}