/*message*/
.villatheme-admin-show-message-message-container {
    position: fixed;
    left: 0;
    bottom: 100px;
    max-height: 50%;
    /*overflow: auto;*/
    line-height: 1.5;
    font-family: Helvetica;
    z-index: 999999;
    box-sizing: border-box;
    font-size: 14px;
}

.villatheme-admin-show-message-message-container * {
    box-sizing: border-box;
}
.villatheme-admin-show-message-message-container a {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.villatheme-admin-show-message-message-item .villatheme-admin-show-message-message-item-close {
    position: absolute;
    overflow: hidden;
    height: auto;
    width: auto;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    transition: background 300ms;
    top: 0;
    right: -30px;
    font-weight: 100;
    color: #212121;
}

.villatheme-admin-show-message-message-item .villatheme-admin-show-message-message-item-close:hover {
    color: rgb(255, 71, 71);
}

span.villatheme-admin-show-message-message-item-close:before {
    font-size: 30px;
}

.villatheme-admin-show-message-message-item {
    width: 300px;
    color: #fff;
    margin: 10px;
    transition: margin 600ms ease;
    position: relative;
    border: 1px solid rgba(1, 1, 1, .1);
    box-shadow: rgba(51, 51, 51, 0.3) 0 3px 5px 0;
}

.villatheme-admin-show-message-message-item .villatheme-admin-show-message-message-title {
    background: rgba(0, 140, 195, 1);
    color: #ffffff;
    padding: 20px 25px;
}

.villatheme-admin-show-message-message-item .villatheme-admin-show-message-message-title.villatheme-admin-show-message-message-product-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.villatheme-admin-show-message-message-item.villatheme-admin-show-message-message-error .villatheme-admin-show-message-message-title {
    background: rgba(255, 71, 71, 1);
    padding: 20px 25px !important;
}

.villatheme-admin-show-message-message-item.villatheme-admin-show-message-message-success .villatheme-admin-show-message-message-title {
    background: rgba(97, 195, 105, 1);
}

.villatheme-admin-show-message-message-item.villatheme-admin-show-message-message-new-added-item {
    margin-left: -350px;
}

.villatheme-admin-show-message-message-item .villatheme-admin-show-message-message-content a {
    color: #000;
}

.villatheme-admin-show-message-message-item .villatheme-admin-show-message-message-content {
    overflow: hidden;
    color: #000000;
    padding: 10px 25px !important;
    line-height: 1.5;
    background: rgba(255, 255, 255, 1);
}