/* Admin Notifications ====================================================== */
.wprss_admin-notice {
    position: relative;
}

.wprss_admin-notice .notice-content {
    margin-right: 200px;
}

.wprss_admin-notice .notice-inside {
    margin-right: 200px;
}

.wprss_admin-notice .btn-close {
    position: absolute;
    right: 15px;
    top: 10px;
    text-decoration: none;
}
