.oxi-addons-container [class^='oxi-image-fold'],
.oxi-addons-container [class*=' oxi-image-fold'],
.oxi-addons-container [class^='oxi-image-fold'] .oxi-image-hover-figure,
.oxi-addons-container [class*=' oxi-image-fold'] .oxi-image-hover-figure {
    background: transparent !important;
}

.oxi-addons-container [class^='oxi-image-fold'],
.oxi-addons-container [class*=' oxi-image-fold'] {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

.oxi-addons-container [class^='oxi-image-fold'] .oxi-image-hover-image,
.oxi-addons-container [class*=' oxi-image-fold'] .oxi-image-hover-image {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.oxi-addons-container [class^='oxi-image-fold'] .oxi-image-hover-figure-caption,
.oxi-addons-container [class*=' oxi-image-fold'] .oxi-image-hover-figure-caption {
    z-index: 1;
    opacity: 0;
}

.oxi-addons-container [class^='oxi-image-fold']:hover .oxi-image-hover-image,
.oxi-addons-container [class*=' oxi-image-fold']:hover .oxi-image-hover-image,
.oxi-addons-container [class^='oxi-image-fold'].oxi-touch .oxi-image-hover-image,
.oxi-addons-container [class*=' oxi-image-fold'].oxi-touch .oxi-image-hover-image {
    opacity: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
}

.oxi-addons-container [class^='oxi-image-fold']:hover .oxi-image-hover-figure-caption,
.oxi-addons-container [class*=' oxi-image-fold']:hover .oxi-image-hover-figure-caption,
.oxi-addons-container [class^='oxi-image-fold'].oxi-touch .oxi-image-hover-figure-caption,
.oxi-addons-container [class*=' oxi-image-fold'].oxi-touch .oxi-image-hover-figure-caption {
    -webkit-transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    -moz-transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    -o-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

.oxi-addons-container .oxi-image-fold-up .oxi-image-hover-image {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.oxi-addons-container .oxi-image-fold-up .oxi-image-hover-figure-caption {
    -webkit-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    -moz-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.oxi-addons-container .oxi-image-fold-up:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-fold-up.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateX(90deg) scale(0.6) translateY(50%);
    -moz-transform: rotateX(90deg) scale(0.6) translateY(50%);
    transform: rotateX(90deg) scale(0.6) translateY(50%);
}

.oxi-addons-container .oxi-image-fold-down .oxi-image-hover-image {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.oxi-addons-container .oxi-image-fold-down .oxi-image-hover-figure-caption {
    -webkit-transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    -moz-transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.oxi-addons-container .oxi-image-fold-down:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-fold-down.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
    -moz-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
    transform: rotateX(-90deg) scale(0.6) translateY(-50%);
}

.oxi-addons-container .oxi-image-fold-left .oxi-image-hover-image {
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.oxi-addons-container .oxi-image-fold-left .oxi-image-hover-figure-caption {
    -webkit-transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    -moz-transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.oxi-addons-container .oxi-image-fold-left:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-fold-left.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateY(-90deg) scale(0.6) translateX(50%);
    -moz-transform: rotateY(-90deg) scale(0.6) translateX(50%);
    transform: rotateY(-90deg) scale(0.6) translateX(50%);
}

.oxi-addons-container .oxi-image-fold-right .oxi-image-hover-image {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.oxi-addons-container .oxi-image-fold-right .oxi-image-hover-figure-caption {
    -webkit-transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    -moz-transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.oxi-addons-container .oxi-image-fold-right:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-fold-right.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateY(90deg) scale(0.6) translateX(-50%);
    -moz-transform: rotateY(90deg) scale(0.6) translateX(-50%);
    transform: rotateY(90deg) scale(0.6) translateX(-50%);
}