.oxi-addons-container [class^='oxi-image-hinge-'],
.oxi-addons-container [class*=' oxi-image-hinge-'] {
    overflow: hidden;
}

.oxi-addons-container [class^='oxi-image-hinge-'],
.oxi-addons-container [class*=' oxi-image-hinge-'],
.oxi-addons-container [class^='oxi-image-hinge-'] *,
.oxi-addons-container [class*=' oxi-image-hinge-'] * {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

.oxi-addons-container [class^='oxi-image-hinge-'] .oxi-image-hover-figure-caption,
.oxi-addons-container [class*=' oxi-image-hinge-'] .oxi-image-hover-figure-caption {
    opacity: 0;
    z-index: 1;
}

.oxi-addons-container [class^='oxi-image-hinge-']:hover .oxi-image-hover-image,
.oxi-addons-container [class*=' oxi-image-hinge-']:hover .oxi-image-hover-image,
.oxi-addons-container [class^='oxi-image-hinge-'].oxi-touch .oxi-image-hover-image,
.oxi-addons-container [class*=' oxi-image-hinge-'].oxi-touch .oxi-image-hover-image {
    opacity: 0;
}

.oxi-addons-container [class^='oxi-image-hinge-']:hover .oxi-image-hover-figure-caption,
.oxi-addons-container [class*=' oxi-image-hinge-']:hover .oxi-image-hover-figure-caption,
.oxi-addons-container [class^='oxi-image-hinge-'].oxi-touch .oxi-image-hover-figure-caption,
.oxi-addons-container [class*=' oxi-image-hinge-'].oxi-touch .oxi-image-hover-figure-caption {
    opacity: 1;
    -webkit-transition-delay: 0.31s;
    -moz-transition-delay: 0.31s;
    -o-transition-delay: 0.31s;
    transition-delay: 0.31s;
}

.oxi-addons-container .oxi-image-hinge-up .oxi-image-hover-image {
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.oxi-addons-container .oxi-image-hinge-up .oxi-image-hover-figure-caption {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.oxi-addons-container .oxi-image-hinge-up:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-hinge-up.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.oxi-addons-container .oxi-image-hinge-up.oxi-touch .oxi-image-hover-figure-caption,
.oxi-addons-container .oxi-image-hinge-up:hover .oxi-image-hover-figure-caption {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
}

.oxi-addons-container .oxi-image-hinge-down .oxi-image-hover-image {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.oxi-addons-container .oxi-image-hinge-down .oxi-image-hover-figure-caption {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% -50%;
    -moz-transform-origin: 50% -50%;
    -ms-transform-origin: 50% -50%;
    -o-transform-origin: 50% -50%;
    transform-origin: 50% -50%;
}

.oxi-addons-container .oxi-image-hinge-down:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-hinge-down.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
}

.oxi-addons-container .oxi-image-hinge-down:hover .oxi-image-hover-figure-caption,
.oxi-addons-container .oxi-image-hinge-down.oxi-touch .oxi-image-hover-figure-caption {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    transform: rotateX(0);
}

.oxi-addons-container .oxi-image-hinge-left .oxi-image-hover-image {
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.oxi-addons-container .oxi-image-hinge-left .oxi-image-hover-figure-caption {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.oxi-addons-container .oxi-image-hinge-left:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-hinge-left.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

.oxi-addons-container .oxi-image-hinge-left:hover .oxi-image-hover-figure-caption,
.oxi-addons-container .oxi-image-hinge-left.oxi-touch .oxi-image-hover-figure-caption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

.oxi-addons-container .oxi-image-hinge-right .oxi-image-hover-image {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.oxi-addons-container .oxi-image-hinge-right .oxi-image-hover-figure-caption {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.oxi-addons-container .oxi-image-hinge-right:hover .oxi-image-hover-image,
.oxi-addons-container .oxi-image-hinge-right.oxi-touch .oxi-image-hover-image {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

.oxi-addons-container .oxi-image-hinge-right:hover .oxi-image-hover-figure-caption,
.oxi-addons-container .oxi-image-hinge-right.oxi-touch .oxi-image-hover-figure-caption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}