 .oxi-addons-container  [class^='oxi-image-switch-'], .oxi-addons-container  
[class*=' oxi-image-switch-']{
    overflow: hidden;
} .oxi-addons-container 
[class^='oxi-image-switch-'] , .oxi-addons-container  
[class*=' oxi-image-switch-'], .oxi-addons-container 
[class^='oxi-image-switch-'] .oxi-image-hover-figure, .oxi-addons-container  
[class*=' oxi-image-switch-'] .oxi-image-hover-figure{
 background: transparent !important;   
} .oxi-addons-container 

[class^='oxi-image-switch-']  .oxi-image-hover-image, .oxi-addons-container 
[class^='oxi-image-switch-'] .oxi-image-hover-figure-caption, .oxi-addons-container  
[class*=' oxi-image-switch-']  .oxi-image-hover-image, .oxi-addons-container 
[class*=' oxi-image-switch-'] .oxi-image-hover-figure-caption {
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
} .oxi-addons-container 
[class^='oxi-image-switch-']:hover .oxi-image-hover-figure-caption, .oxi-addons-container 
[class*=' oxi-image-switch-']:hover .oxi-image-hover-figure-caption, .oxi-addons-container 
[class^='oxi-image-switch-'].oxi-touch .oxi-image-hover-figure-caption, .oxi-addons-container 
[class*=' oxi-image-switch-'].oxi-touch .oxi-image-hover-figure-caption {
    -webkit-transform: translate(0 0);
    -moz-transform: translate(0 0);
    -ms-transform: translate(0 0);
    -o-transform: translate(0 0);
    transform: translate(0 0);
} .oxi-addons-container 
.oxi-image-switch-up .oxi-image-hover-figure-caption {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
} .oxi-addons-container 
.oxi-image-switch-up:hover  .oxi-image-hover-image, .oxi-addons-container 
.oxi-image-switch-up.oxi-touch  .oxi-image-hover-image{
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
} .oxi-addons-container 
.oxi-image-switch-up:hover  .oxi-image-hover-figure-caption, .oxi-addons-container 
.oxi-image-switch-up.oxi-touch  .oxi-image-hover-figure-caption {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
} .oxi-addons-container  .oxi-image-switch-down .oxi-image-hover-figure-caption {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
} .oxi-addons-container 
.oxi-image-switch-down:hover  .oxi-image-hover-image, .oxi-addons-container 
.oxi-image-switch-down.oxi-touch  .oxi-image-hover-image {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
} .oxi-addons-container 
.oxi-image-switch-down:hover  .oxi-image-hover-figure-caption, .oxi-addons-container 
.oxi-image-switch-down.oxi-touch  .oxi-image-hover-figure-caption {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
} .oxi-addons-container  .oxi-image-switch-left .oxi-image-hover-figure-caption {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
} .oxi-addons-container 
.oxi-image-switch-left:hover  .oxi-image-hover-image, .oxi-addons-container 
.oxi-image-switch-left.oxi-touch  .oxi-image-hover-image {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
} .oxi-addons-container 
.oxi-image-switch-left:hover  .oxi-image-hover-figure-caption, .oxi-addons-container 
.oxi-image-switch-left.oxi-touch  .oxi-image-hover-figure-caption{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
} .oxi-addons-container  .oxi-image-switch-right .oxi-image-hover-figure-caption {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
} .oxi-addons-container 
.oxi-image-switch-right:hover  .oxi-image-hover-image, .oxi-addons-container 
.oxi-image-switch-right.oxi-touch  .oxi-image-hover-image{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
} .oxi-addons-container 
.oxi-image-switch-right:hover  .oxi-image-hover-figure-caption, .oxi-addons-container 
.oxi-image-switch-right.oxi-touch  .oxi-image-hover-figure-caption {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
