 .oxi-addons-container [class^='oxi-image-throw'],
 .oxi-addons-container [class*=' oxi-image-throw'] {
     overflow: hidden;
 }

 .oxi-addons-container [class^='oxi-image-throw-in']:hover .oxi-image-hover-figure-caption,
 .oxi-addons-container [class*=' oxi-image-throw-in']:hover .oxi-image-hover-figure-caption,
 .oxi-addons-container [class^='oxi-image-throw-in'].oxi-touch .oxi-image-hover-figure-caption,
 .oxi-addons-container [class*=' oxi-image-throw-in'].oxi-touch .oxi-image-hover-figure-caption {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
 }

 .oxi-addons-container .oxi-image-throw-in-up .oxi-image-hover-figure-caption {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
     -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
     -ms-transform-origin: 0 100%;
     -o-transform-origin: 0 100%;
     transform-origin: 0 100%;
 }

 .oxi-addons-container .oxi-image-throw-in-up:hover .oxi-image-hover-figure-caption,
 .oxi-addons-container .oxi-image-throw-in-up.oxi-touch .oxi-image-hover-figure-caption {
     -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
     -ms-transform-origin: 100% 0;
     -o-transform-origin: 100% 0;
     transform-origin: 100% 0;
 }

 .oxi-addons-container .oxi-image-throw-in-down .oxi-image-hover-figure-caption {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
     -webkit-transform-origin: 100% 0%;
     -moz-transform-origin: 100% 0%;
     -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
     transform-origin: 100% 0%;
 }

 .oxi-addons-container .oxi-image-throw-in-down:hover .oxi-image-hover-figure-caption,
 .oxi-addons-container .oxi-image-throw-in-down.oxi-touch .oxi-image-hover-figure-caption {
     -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
     -ms-transform-origin: 0 100%;
     -o-transform-origin: 0 100%;
     transform-origin: 0 100%;
 }

 .oxi-addons-container .oxi-image-throw-in-left .oxi-image-hover-figure-caption {
     -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
     transform: rotate(-90deg);
     -webkit-transform-origin: 100% 0%;
     -moz-transform-origin: 100% 0%;
     -ms-transform-origin: 100% 0%;
     -o-transform-origin: 100% 0%;
     transform-origin: 100% 0%;
 }

 .oxi-addons-container .oxi-image-throw-in-left:hover .oxi-image-hover-figure-caption,
 .oxi-addons-container .oxi-image-throw-in-left.oxi-touch .oxi-image-hover-figure-caption {
     -webkit-transform-origin: 0% 100%;
     -moz-transform-origin: 0% 100%;
     -ms-transform-origin: 0% 100%;
     -o-transform-origin: 0% 100%;
     transform-origin: 0% 100%;
 }

 .oxi-addons-container .oxi-image-throw-in-right .oxi-image-hover-figure-caption {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
     -webkit-transform-origin: 0 0%;
     -moz-transform-origin: 0 0%;
     -ms-transform-origin: 0 0%;
     -o-transform-origin: 0 0%;
     transform-origin: 0 0%;
 }

 .oxi-addons-container .oxi-image-throw-in-right:hover .oxi-image-hover-figure-caption,
 .oxi-addons-container .oxi-image-throw-in-right.oxi-touch .oxi-image-hover-figure-caption {
     -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
     -o-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
 }

 .oxi-addons-container [class^='oxi-image-throw-out'] .oxi-image-hover-image,
 .oxi-addons-container [class*=' oxi-image-throw-out'] .oxi-image-hover-image {
     z-index: 2;
     -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
     -ms-transform: rotate(0);
     -o-transform: rotate(0);
     transform: rotate(0);
 }

 .oxi-addons-container [class^='oxi-image-throw-out'] .oxi-image-hover-figure-caption,
 .oxi-addons-container [class*=' oxi-image-throw-out'] .oxi-image-hover-figure-caption {
     z-index: 1;
 }

 .oxi-addons-container .oxi-image-throw-out-up .oxi-image-hover-image {
     -webkit-transform-origin: 0% 100%;
     -moz-transform-origin: 0% 100%;
     -ms-transform-origin: 0% 100%;
     -o-transform-origin: 0% 100%;
     transform-origin: 0% 100%;
 }

 .oxi-addons-container .oxi-image-throw-out-up:hover .oxi-image-hover-image,
 .oxi-addons-container .oxi-image-throw-out-up.oxi-touch .oxi-image-hover-image {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
     -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
     -ms-transform-origin: 100% 0;
     -o-transform-origin: 100% 0;
     transform-origin: 100% 0;
 }

 .oxi-addons-container .oxi-image-throw-out-down .oxi-image-hover-image {
     -webkit-transform-origin: 0% 100%;
     -moz-transform-origin: 0% 100%;
     -ms-transform-origin: 0% 100%;
     -o-transform-origin: 0% 100%;
     transform-origin: 0% 100%;
 }

 .oxi-addons-container .oxi-image-throw-out-down:hover .oxi-image-hover-image,
 .oxi-addons-container .oxi-image-throw-out-down.oxi-touch .oxi-image-hover-image {
     -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
     transform: rotate(-90deg);
     -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
     -o-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
 }

 .oxi-addons-container .oxi-image-throw-out-left .oxi-image-hover-image {
     -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
     -ms-transform-origin: 100% 0;
     -o-transform-origin: 100% 0;
     transform-origin: 100% 0;
 }

 .oxi-addons-container .oxi-image-throw-out-left:hover .oxi-image-hover-image,
 .oxi-addons-container .oxi-image-throw-out-left.oxi-touch .oxi-image-hover-image {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     transform: rotate(90deg);
     -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
     -ms-transform-origin: 0 0;
     -o-transform-origin: 0 0;
     transform-origin: 0 0;
 }

 .oxi-addons-container .oxi-image-throw-out-right .oxi-image-hover-image {
     -webkit-transform-origin: 0% 0;
     -moz-transform-origin: 0% 0;
     -ms-transform-origin: 0% 0;
     -o-transform-origin: 0% 0;
     transform-origin: 0% 0;
 }

 .oxi-addons-container .oxi-image-throw-out-right:hover .oxi-image-hover-image,
 .oxi-addons-container .oxi-image-throw-out-right.oxi-touch .oxi-image-hover-image {
     -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
     transform: rotate(-90deg);
     -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
     -ms-transform-origin: 100% 0;
     -o-transform-origin: 100% 0;
     transform-origin: 100% 0;
 }