@font-face {
  font-family: 'icons-font';
  src: url('../fonts/icons-font.eot?h86drr');
  src: url('../fonts/icons-font.eot?h86drr#iefix') format('embedded-opentype'), url('../fonts/icons-font.ttf?h86drr') format('truetype'), url('../fonts/icons-font.woff?h86drr') format('woff'), url('../fonts/icons-font.svg?h86drr#icons-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wpbs-icon-"], [class*=" wpbs-icon-"] {
  font-family: 'icons-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpbs-icon-close:before {
  content: "\e90a";
}

.wpbs-icon-down-arrow:before {
  content: "\e90b";
}

.wpbs-icon-sort:before {
  content: "\e909";
}

.wpbs-icon-dropdown:before,
.wpbs-icon-product_dropdown:before {
  content: "\e900";
}

.wpbs-icon-email:before {
  content: "\e901";
}

.wpbs-icon-hidden:before {
  content: "\e902";
}

.wpbs-icon-html:before {
  content: "\e903";
}

.wpbs-icon-radio:before,
.wpbs-icon-product_radio:before {
  content: "\e904";
}

.wpbs-icon-text:before {
  content: "\e905";
}

.wpbs-icon-textarea:before {
  content: "\e906";
}

.wpbs-icon-captcha:before {
  content: "\e907";
}

.wpbs-icon-checkbox:before,
.wpbs-icon-product_checkbox:before {
  content: "\e908";
}

.wpbs-icon-print:before {
  content: "\e90c";
}

.wpbs-icon-calendar:before {
  content: "\e90d";
}

.wpbs-icon-check-out:before {
  content: "\e90e";
}

.wpbs-icon-check-in:before {
  content: "\e90f";
}

.wpbs-icon-payment_method:before {
  content: "\e910";
}

.wpbs-icon-total:before {
  content: "\e911";
}