
/******************************************************************************************/
/* Form Default Theme
/******************************************************************************************/
.wpbs-main-wrapper .wpbs-form-container {padding: 30px 0 20px 0 !important; max-width: 450px !important; margin: 0 !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field {padding-bottom: 20px !important;}


/* Label */
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field label {display: block !important; padding: 0 0 5px 0 !important; margin: 0 !important; font-size: 16px !important; line-height: 22px !important; font-weight: bold !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left !important;}


/* Asterisk */
.wpbs-main-wrapper .wpbs-form-container .wpbs-field-required-asterisk {color: #ff2300 !important; position: relative; top: auto !important; bottom: auto !important;}


/* Text & Email */
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field input[type="text"],
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field input[type="email"] {width: 100% !important; padding: 0 0 0 14px !important; margin: 0 !important; font-size: 16px !important; height: 38px !important; line-height: 38px !important; font-family: inherit !important; background-color: #ffffff !important; border: 1px solid #cccccc !important; box-shadow: none !important; border-radius: 2px !important; outline: none !important; -webkit-appearance: none !important; appearance: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -moz-transition: border-color 0.2s ease; -webkit-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease; transition: border-color 0.2s ease;}


/* Select */
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field select {width: 100% !important; padding: 0 0 0 14px !important; margin: 0 !important; font-size: 16px !important; height: 39px !important; line-height: 39px !important; font-family: inherit !important; background-color: #ffffff !important; background-image: none !important; border: 1px solid #cccccc !important; box-shadow: none !important; border-radius: 2px !important; outline: none !important; -webkit-appearance: none !important; appearance: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -moz-transition: border-color 0.2s ease; -webkit-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease; transition: border-color 0.2s ease;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field .wpbs-form-field-input {position: relative !important; line-height: 30px !important; text-align: left !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-dropdown .wpbs-form-field-input:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_dropdown .wpbs-form-field-input:after {content:""; display: block; position: absolute; right: 15px; top: 12px; border: solid #7f7f7f; border-width: 0 2px 2px 0; display: inline-block; padding: 4px !important; transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-dropdown select::-ms-expand,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_dropdown select::-ms-expand {display: none !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field-description {font-size: 14px !important; line-height: 20px !important; padding-top: 5px !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field-description small {font-size: 14px !important; line-height: 20px !important; padding: 0 !important; margin: 0 !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field-error {font-size: 14px !important; line-height: 20px !important; padding-top: 5px !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field-error small {font-size: 14px !important; line-height: 20px !important; padding: 0 !important; margin: 0 !important;}

/* Textarea */
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field textarea {width: 100% !important; padding: 6px 0 0 14px !important; margin: 0 !important; font-size: 16px !important; height: 120px !important; line-height: 24px !important; font-family: inherit !important; background-color: #ffffff !important; border: 1px solid #cccccc !important; box-shadow: none !important; border-radius: 2px !important; outline: none !important; -webkit-appearance: none !important; appearance: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -moz-transition: border-color 0.2s ease; -webkit-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease; transition: border-color 0.2s ease;}


/* Checkbox & Radio */
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label, 
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label, 
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label, 
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label {font-size: 16px !important; font-weight: normal !important; width: auto !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label {display: inline-block !important; margin: 0 25px 5px 0 !important; padding: 0 !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field .wpbs-form-field-input label input[type="radio"],
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field .wpbs-form-field-input label input[type="checkbox"] {padding: 0 !important; margin: 0 !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label {display: inline-block !important; position: relative !important; padding-left: 30px !important; cursor: pointer !important; -webkit-user-select: none !important; -moz-user-select: none !important; -ms-user-select: none !important; user-select: none !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label input,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label input,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label input,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label input,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label input {position: absolute !important; opacity: 0 !important; cursor: pointer !important; left: 5px !important; top: 10px !important; width: 1px !important; height: 1px !important; padding: 0 !important; margin: 0 !important; border: none !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label span {position: absolute !important; top: 2px !important; left: 0 !important; height: 21px !important; width: 21px !important; background-color: #e2e2e2 !important; -moz-transition: background-color 0.2s ease; -webkit-transition: background-color 0.2s ease; -o-transition: background-color 0.2s ease; transition: background-color 0.2s ease;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label span {border-radius: 50% !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label:hover input ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label:hover input ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label:hover input ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label:hover input ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label:hover input ~ span {background-color: #aaaaaa !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label input:checked ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label input:checked ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label input:checked ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label input:checked ~ span,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label input:checked ~ span {background-color: #7f7f7f !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label span:after {content: ""; position: absolute !important; display: none !important; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label input:checked ~ span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label input:checked ~ span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label input:checked ~ span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label input:checked ~ span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label input:checked ~ span:after {display: block !important;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-radio .wpbs-form-field-input label span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_radio .wpbs-form-field-input label span:after {top: 6px !important; left: 6px !important; width: 9px !important; height: 9px !important; border-radius: 50% !important; background: #ffffff !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-checkbox .wpbs-form-field-input label span:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_checkbox .wpbs-form-field-input label span:after {left: 7px !important; top: 3px !important; width: 7px !important; height: 12px !important; border: solid #ffffff !important; border-width: 0 3px 3px 0 !important; -webkit-transform: rotate(45deg) !important; -ms-transform: rotate(45deg) !important; transform: rotate(45deg) !important;}


/* Focus */
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field input[type="text"]:focus,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field input[type="email"]:focus,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field select:focus {border-color: #7f7f7f !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-dropdown .wpbs-form-field-input:focus-within:after,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-product_dropdown .wpbs-form-field-input:focus-within:after {border-color: #7f7f7f !important;}

/* Payment Methods */

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-payment-method-description {display:none; margin: 10px 0 !important; padding:7px 10px !important; background: #f7f7f7 !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-payment-method-description-open {display: block;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field.wpbs-form-field-payment_method .wpbs-form-field-input label {display:block !important;}


/* Total Field */
.wpbs-main-wrapper table.wpbs-pricing-table {border:none !important; border-spacing: 1px !important; margin:0 !important; width:100% !important; border-radius:2px !important; overflow:hidden !important; text-align: left !important;}
.wpbs-main-wrapper table.wpbs-pricing-table thead th,
.wpbs-main-wrapper table.wpbs-pricing-table tfoot th {font-weight:bold !important; background: #f7f7f7 !important;}
.wpbs-main-wrapper table.wpbs-pricing-table th, 
.wpbs-main-wrapper table.wpbs-pricing-table td {border:none !important; border-bottom:1px solid #f7f7f7 !important; background:transparent !important; margin:1px; padding:6px 10px;}

.wpbs-main-wrapper table.wpbs-pricing-table th:first-child, 
.wpbs-main-wrapper table.wpbs-pricing-table td:first-child {border-right:1px solid #fff !important;}
.wpbs-main-wrapper table.wpbs-pricing-table tr:last-child td {border-bottom:none !important;}

/* Payment Confirmation */
.wpbs-main-wrapper .wpbs-payment-confirmation {max-width: 450px !important;}
.wpbs-main-wrapper .wpbs-payment-confirmation table.wpbs-pricing-table {margin-bottom:20px !important;}


/* Submit */
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field button[type="submit"],
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field input[type="submit"] {width: auto !important; padding: 10px 15px 10px 15px !important; margin: 0 !important; font-size: 18px !important; height: auto !important; line-height: 24px !important; font-family: inherit !important; font-weight: bold !important; color: #ffffff !important; background-color: #aaaaaa !important; border: none !important; box-shadow: none !important; border-radius: 2px !important; outline: none !important; -webkit-appearance: none !important; appearance: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease;}

.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field button[type="submit"]:hover,
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field input[type="submit"]:hover {background-color: #7f7f7f !important; color: #ffffff !important; cursor: pointer !important;}


/* Errors */
.wpbs-main-wrapper .wpbs-form-general-error {padding: 0 0 15px 0 !important; font-size: 16px !important; line-height: 26px !important; color:#ff2300 !important; font-weight: bold !important;}
.wpbs-main-wrapper .wpbs-form-container .wpbs-form-field-error {padding: 4px 0 0 0 !important; font-size: 14px !important; line-height: 14px !important; color:#ff2300 !important;}

.wpbs-main-wrapper .wpbs-payment-test-mode-enabled {padding: 10px 20px !important; border-left: 5px solid #ff2300; margin: 10px 0 !important; font-size: 16px !important; line-height: 26px !important; font-weight: bold !important; background: #f7f7f7 !important;}