
.th-notice-slide-wrapper{
     background: #ffff;
    border: 1px solid #c3c4c7;
    border-left-color: #4f94d4;
    border-inline-start-width: 4px;
    -webkit-box-shadow: var(--e-notice-box-shadow);
    box-shadow: var(--e-notice-box-shadow);
    margin: 5px 20px 5px 2px;
}


.th-notice-slide-wrap .thunk-notice {
    padding: 1rem;
    display: flex;
}
.th-notice-slide-wrap .thunk-review-thumbnail img{
    width:500px;
    vertical-align: middle;
}
.th-notice-slide-wrap .thunk-review-thumbnail {
    float: left;
    text-align: center;
    position: relative;
    display: block;
    margin-right:20px;
}
.th-notice-slide-wrap .thunk-review-ul li {
    display: inline-block;
margin-right:10px;
}
.th-notice-slide-wrap .thunk-notice-text{
    position: relative;
}
.th-notice-slide-wrap .thunk-notice-text h3 {
    font-size: 24px;
    margin: 0 0 5px;
    font-weight: 400;
    line-height: 1.3;
}
.th-notice-slide-wrap .thunk-notice-text p{
font-size:15px;
line-height:27px;
}