.mc-main .details .mc_edit_links {
    font-size: 12px;
	font-family: sans-serif;
	line-height: 1;
    margin: 5px;
    padding: 5px;
    clear: both;
    border-top: 1px solid #ddd;
}

.mc-main .details .mc_edit_links p {
	padding: 0;
	margin: 0;
}

.mc-main .mc_edit_links a {
	display: inline !important;
}
