/**
*	Plugin Name: Modern Events Calendar
*	Plugin URI: http://webnus.net/modern-events-calendar/
*	Description: An awesome plugin for events calendar
*	Author: Webnus Team
*	Author URI: http://webnus.net
**/

	/*	Base
	====================================================*/
	.mec-col-1, .mec-col-2, .mec-col-3, .mec-col-4, .mec-col-5, .mec-col-6, .mec-col-7, .mec-col-8, .mec-col-9, .mec-col-10, .mec-col-11, .mec-col-12 { float: right; margin: 0 0 0 1%;}

	
	/*	margin-left 0
	====================================================*/



	/*	custom-margin-left 0
	====================================================*/



	/*	margin-right 0
	====================================================*/



	/*	custom-margin-right 0
	====================================================*/



	/*	padding-left 0
	====================================================*/



	/*	custom-padding-left 0
	====================================================*/



	/*	padding-right 0
	====================================================*/



	/*	custom-padding-right 0
	====================================================*/


	/*	border-left 0
	====================================================*/


	/*	custom-border-left 
	====================================================*/



	/*	border-right 0
	====================================================*/



	/*	custom-border-right 
	====================================================*/



	/*	custom-border-right 
	====================================================*/



	/*	left 0
	====================================================*/



	/*	left auto
	====================================================*/



	/*	custom left 
	====================================================*/



	/*	right 0
	====================================================*/



	/*	right auto
	====================================================*/



	/*	custom right 
	====================================================*/



	/*	float left
	====================================================*/



	/*	float right
	====================================================*/

	

	/*	Text align right
	====================================================*/

	

	/*	Text align left
	====================================================*/