/*FixIn: 8.7.11.10  */
/*   S T R U C T U R E   **********************************************************************************************/
.wpbc_row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 1em;
}
.wpbc_col {
	flex: 0 1 1px;
	margin-right: 4.1em;
}
.wpbc_col.wpbc_cal {
	flex: 0 1 auto;
	margin-right: 3em;
}
@media (max-width: 782px) {
	.wpbc_col {
		flex: 0 1 auto;
		margin-right: 0;
		min-width: 100%;
	}
}
.wpbc_col.wpbc_times {
	flex: 1 1 1px;
}
/**********************************************************************************************************************/
/* Group */
.wpbc_times_selector {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	white-space: nowrap;
	word-wrap: normal;
	width: 100%;
}
/* Button */
.wpbc_times_selector div {
	flex: 0 0 150px;
	margin: 7px 15px 0 0;
	padding: 5px 1em;
	cursor: pointer;
	width: auto;
}


/* All times booked message *******************************************************************************************/
.wpbc_times_selector span.wpbc_no_time_pickers {
	flex: 1 0 auto;
	margin: 10px 15px 0 0;
	padding: 5px 0;
	cursor: pointer;
	width: 130px;

	text-align: center;
	color: #959595;
	font-weight: 400;
	background: #f6f6f6;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}

/*.booking_form_garbage {*/
/*	display: block !important;*/
/*}*/