.clear{
	clear:both;
}
#lp_generalid{
padding:5px 20px 20px 20px;
width:800px;
float:left;
}
#lp_generalid_right{
	float:left;
	width:280px;
	margin-left:20px;
	margin-top:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding-bottom:10px;
}

#lp_generalid p{
font-size:16px;
}
#lp_generalid input[type=text]{
	width:800px;
	height:30px;
	color:#666;
	font-size:20px;
	padding:3px 4px;
}
#lp_generalid input[type=submit]{
	width:100px;
	height:30px;
	color:#000;
	cursor:pointer;
	font-size:20px;
	padding:3px 4px;
}
#lp_generalid_right li{
	list-style:square;
	line-height:20px;
	list-style-position:inside;
	padding-left:10px;
}
#lp_generalid_right li span{
	font-size:16px;
	cursor:pointer;
}
#lp_generalid p a{
text-decoration:none;
}
#content p{
	width:800px;
}
a{text-decoration:none;}

.hndle {cursor:pointer; padding:7px 10px; font-size:20px;}

#lp_admin_generalid{
padding:5px 20px 20px 20px;
}
#lp_admin_generalid td{
padding:5px;
height:20px;
font-size: 14px;
}
#lp_admin_generalid input[type=text]{
	width:300px;
	height:30px;
	font-size:14px;
	color:#666;
}
#lp_admin_generalid p{
font-size:16px;
}
#lp_admin_generalid p a{
text-decoration:none;
}
