/* Tabbed navigation */

#woo-ce h2 .nav-tab {
	font-size:16px;
	margin-right:0;
}
#woo-ce h2.nav-tab-wrapper {
	padding-left:7px;
	margin-bottom:0.5em;
}

/* Overview */

#woo-ce .overview-left {
	float:left;
	width:73%;
}
#woo-ce .overview-right {
	float:left;
	width:24%;
}
	#woo-ce .overview-right h3 {
		font-size:16px;
	}
		#woo-ce .overview-right h3 span {
			float:right;
			font-size:11px;
			font-weight:normal;
		}
	#woo-ce .overview-right p {
		color:#333;
		line-height:1.6em;
	}
	#woo-ce .overview-right ul {
		font-size:12px;
		line-height:1.6em;
	}

/* Export */

#woo-ce #export-type th {
	line-height:1.4em;
	padding:9px 7px;
}
#woo-ce #export-type td {
	line-height:2em;
	padding:9px 7px;
}
#woo-ce #export-type td.sort {
	padding:0 7px 0 14px;
}
#woo-ce #export-type td.actions {
	padding:0 7px 0 7px;
}
#woo-ce #export-type td.name {
	font-weight:700;
}
#woo-ce #export-type tr.type-disabled td {
	color:#999;
}
#woo-ce #export-type th.column_records {
	width:25%;
}
#woo-ce .export-types table.ui-sortable {
	width:100%;
}
#woo-ce .export-types table.ui-sortable td {
	padding:0.25em;
}
#woo-ce .export-types table.ui-sortable td label {
	cursor:move;
	display:inline-block;
	width:100%;
}
#woo-ce .export-types table.ui-sortable td label span.field_title,
#woo-ce .export-types table.ui-sortable td label span.field_hover {
	display:inline-block;
	width:48%;
}
#woo-ce .export-types table.ui-sortable td label span.field_hover {
	color:#888;
}
#woo-ce .export-types table.ui-sortable td label input[type=checkbox] {
	vertical-align:top;
	margin-top:0.2em;
}
#woo-ce .postbox {
	max-width:none;
}
#woo-ce .postbox .submit {
	padding:0.3em 0;
}
#woo-ce textarea#export_log {
	font:12px Consolas, Monaco, Courier, monospace;
	width:100%;
	height:200px;
}
#woo-ce #export_sheet {
	overflow: scroll;
	margin-bottom:1em;
}
#woo-ce #export_sheet table {
	width:100%;
}
#woo-ce div.woocommerce-message p {
	max-width:none;
}
#woo-ce div#message-quick_export,
#woo-ce div#message-max_input_vars,
body.post-type-export_template div#message-max_input_vars {
	display:none;
}

#woo-ce .separator {
	border-bottom:1px solid #dfdfdf;
}
#woo-ce .woo_vm_version_table .export_module {
	background-color:#fff;
	padding:0.2em 0 0 0.5em;
}
#woo-ce .woo_vm_version_table .dashicons {
	color:#666;
}
#woo-ce .woo_vm_version_table .status {
	width:80px;
}

/* Settings */

#woo-ce p.warning {
	color:red;
}
#woo-ce .advanced-settings {
	display:none;
}
#woo-ce .advanced-settings ul {
	list-style-type:disc;
}
#woo-ce .export_method_options li.ftp-options label {
	display:inline-block;
	width:120px;
}
#woo-ce .export_method_options li.ftp-options select {
  width: 25em;
}

/* Support - Donate / Rate */

#woo-ce .support-donate_rate {
	display:block;
	float:right;
	width:auto;
	text-align:right;
}
#woo-ce .support-donate_rate p {
	margin:0;
}
#woo-ce .support-donate_rate .star {
	vertical-align:bottom;
	display:inline-block;
	width:17px;
	height:17px;
	background:url('images/star.png') no-repeat;
}
#woo-ce .support-donate_rate span {
	display:none;
}
