.CodeMirror {
	border: 1px solid #ccc;
}

.wow-plugin .submit-bottom {
	margin: 25px 0px;
	display: block;	
	width:400px;
}
.wow-plugin .add-item {
	width: 128px;
	height: 32px;
	background: #1f9ef8;	
	line-height: 32px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border: 0px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	transition-timing-function: ease-in-out;
	transition-duration: .05s;
	transition-property: all;
}
.wow-plugin .additem:hover, .wow-plugin .additem:active {
	background: #128be0;
}
.wow-plugin .delete-item {
	width: 128px;
	height: 32px;
	background: #797979;		
	line-height: 32px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border: 0px;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	transition-timing-function: ease-in-out;
	transition-duration: .05s;
	transition-property: all;
	margin-left: 2px;
}
.wow-plugin .delete-item:hover, .wow-plugin .delete-item:active {
	background: #656565;
}