.ll-grid-item {
	width: 300px !important;
	border: 1px solid black;
	border-radius: 5px;
	padding: 12px;
	margin: 8px;
}

.cattoggle {
	margin: 10px;
	padding: 10px;
	float: left;
	border-radius: 5px;
}

.catactive {
	background-color: #228B22;
	color: #FFF;
}

.catinactive {
	background-color: #8B0000;	
	color: #FFF;
}

.linktable {margin-top: 15px;}

.linktable a {text-decoration:none}

.linktable td { vertical-align: top; }

a.featured {
    font-weight: bold;
}

table.linklisttable {
	width:100%;
	border-width: 0px 0px 0px 0px;
	border-spacing: 5px;
	/* border-style: outset outset outset outset;
	border-color: gray gray gray gray; */
	border-collapse: separate;
}
table.linklisttable th {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	background-color: #f4f5f3;
	/* border-style: none none none none;
	border-color: gray gray gray gray;
	-moz-border-radius: 3px 3px 3px 3px; */
}
table.linklisttable td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	background-color: #dee1d8;
	/* border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	-moz-border-radius: 3px 3px 3px 3px; */
}

.linklistcatname{
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	border: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}

.linklistcatnamedesc{
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	border: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}


.linklistcolumnheader{
	font-weight: bold;
}

div.rsscontent{color: #333333; font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;font-size: 11px;line-height: 1.25em;
vertical-align: baseline;letter-spacing: normal;word-spacing: normal;font-weight: normal;font-style: normal;font-variant: normal;text-transform: none;
text-decoration: none;text-align: left;text-indent: 0px;max-width:500px;}

#ll_rss_results { border-style:solid;border-width:1px;margin-left:10px;margin-top:10px;padding-top:3px;background-color:#f4f5f3;}
.rsstitle{font-weight:400;font-size:0.8em;color:#33352C;font-family:Georgia,"Times New Roman",Times,serif;}
.rsstitle a{color:#33352C}

#ll_rss_results img {
    max-width: 400px; /* Adjust this value according to your content area size*/
    height: auto;
}

.rsselements {float: right;}

.highlight_word {background-color: #FFFF00}

.previouspage {float:left;margin-top:10px;font-weight:bold}

.nextpage {float: right;margin-top:10px;font-weight:bold}

.resulttitle {padding-top:10px;}

.catdropdown { width: 300px; }

#llsearch {padding-top:10px;}

.lladdlink {
	margin-top: 16px;
}

.lladdlink #lladdlinktitle {
	font-weight: bold;
}

.lladdlink table {
	margin-top: 5px;
	margin-bottom: 8px;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.lladdlink table td {
	border: 0;
	height: 30px;
}

.lladdlink table th {
	border: 0;
	text-align: left;
	font-weight: normal;
	width: 400px;
}

.lladdlink input[type="text"] {
	width: 300px;
}

.lladdlink select {
	width: 300px;
}

.llmessage {
	margin: 8px;
	border: 1px solid #ddd;
	background-color: #ff0;
}

.pageselector {
	margin-top: 20px;
	text-align: center;
}

.selectedpage {
	margin: 0px 4px 0px 4px;
	border: 1px solid #000;
	padding: 7px;
	background-color: #f4f5f3;
}

.unselectedpage {
	margin: 0px 4px 0px 4px;
	border: 1px solid #000;
	padding: 7px;
	background-color: #dee1d8;
}

.previousnextactive {
	margin: 0px 4px 0px 4px;
	border: 1px solid #000;
	padding: 7px;
	background-color: #dee1d8;
}

.previousnextinactive {
	margin: 0px 4px 0px 4px;
	border: 1px solid #000;
	padding: 7px;
	background-color: #dddddd;
	color: #cccccc;
}

.LinksInCat {
    display:none;
}

.SubCategories {
  display:none;
}

.allcatalphafilterlinkedletter, .catalphafilterlinkedletter, .catalphafilteremptyletter, .catalphafilterselectedletter, .allcatalphafilterselectedletter {
	width: 16px;
	height: 30px;
	float:left;
	margin-right: 6px;
	text-align: center;
}

.allcatalphafilterlinkedletter, .allcatalphafilterselectedletter {
	width: 40px;
}

.catalphafilterlinkedletter {
	background-color: #aaa;
	color: #444;
}

.catalphafilteremptyletter {
	background-color: #ddd;
	color: #fff;
}

.catalphafilterselectedletter {
	background-color: #558C89;
	color: #fff;
}

.catalphafilter {
	padding-bottom: 30px;
}

.recently_updated {
	padding: 8px;
	margin: 14px;
	color: #FFF;
	background-color: #F00;
}

.emptycat {
	color: #ccc;
}

.level1 {
	margin-left: 20px;
}

.level2 {
	margin-left: 40px;
}

.level3 {
	margin-left: 60px;
}

.level4 {
	margin-left: 80px;
}

.level5 {
	margin-left: 100px;
}

.level6 {
	margin-left: 120px;
}

.nolinksfoundincat {
  display:none;
}

@media only screen and (max-width: 600px) {
  .lladdlink table td {
    height: 60px;
    display: block;
  }

  .lladdlink table {
    margin-bottom: 20px
  }

  .lladdlink table th {
    display: block;
  }
}

.LinkLibraryCat {
	clear: both;
	width: 100%;         
	border-spacing: 5px;
}

.tablerow {
	width: auto;
	clear: both;
}

.tablecell {
	float: left;
	max-width: 400px; 
	height: 300px;
	padding:20px;
	margin: 5px;
	border: 2px solid #000;
}
