/* admin-styles.css
*
* wp-photo-album-plus
* version 7.3.05
*/
#files_list, #files_list2
{
	margin: 10px 0;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1em;
	border: 1px #ccc solid;
	padding: 5px;
}

#files_list2 thead {
	font-size: 1.25em;
	font-weight: normal;
}

#files_list h3, #files_list2 h3
{
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	border-bottom: 2px #e5f3ff solid;
	font-weight: normal;
	font-size: 1.2em;
}

.wppa-help-ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 2em;
}

.wppa-help-ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 2em;
}

.wppa-help-ol li, .wppa-help-ul li {
	line-height: 100%;
	padding-bottom: 0px;
}

ul.wppa_nav
{
	margin: 15px 0 0 60px;
	background: red;
	padding: 0;
	list-style: none;
}

.wppa_nav li
{
	margin: 0 0 0 0px;
	padding: 0;
	list-style: none;
	display: inline;
}

.wppa_nav li a
{
	color: #333;
	font-size: 0.8em;
	display: block;
	float: left;
	padding: 0 3px;
	margin: 0 7px 0 0;
	border: 1px #ccc solid;
	border-bottom: none;
	text-decoration: none;
}

.wppa_nav li a:hover, .wppa_nav li a.active { background-color: #dfdfdf; }

.table_wrapper {
	max-height: 400px;
	overflow: auto;
}

.wppa-table-wrap {
	border: 1px solid #ccc;
}
.wppa-table {
	padding: 5px;
	margin: 0 0 7px 0;
	font-size: 13px;
	line-height: 15px;
}
.wppa-table tr {

}
.wppa-table th {
	font-weight: bold;
	padding:3px 5px !important;
	vertical-align: middle !important;
	float: left;
	text-align: left;
	font-size: 13px;
	line-height: 15px;
}

.wppa-table td {
	padding:3px 5px !important;
	vertical-align: middle !important;
	font-size: 13px;
	line-height: 15px;
	height: 20px;
}
.wppa-table input, .wppa-table textarea, .wppa-table select {
	vertical-align: middle !important;
	border: 1px solid #DDDDDD;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07) inset !important;
 	font-size: 13px !important;
	line-height: 15px !important;
}
.wppa-table input,  {
	height: 20px !important;
	padding:0 !important;
}
.wppa-table textarea {
	padding:0 !important;
}
.wppa-table select, .wppa-photo-table select, .wppa-album-table select {
	height: 20px !important;
	padding:0 24px 1px 4px !important;
}
.wppa-table a {
	cursor: pointer;
}
.wppa-table thead td, .wppa-table tfoot td {
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}
.wppa-photo-table {
	float: left;
}
.wppa-photo-table th {
	max-width: 150px;
}
.wppa-photo-table input, .wppa-photo-table textarea, .wppa-album-table input, .wppa-album-table textarea {
	padding:0 4px 1px !important;
}
.wppa-setting-table td{
	border-bottom: 1px solid #ddd;
	font-size: 13px;
	line-height: 15px;
}
.wppa-subtable td {
	padding: 0 2px;
	font-size: 13px;
	line-height: 15px;
}

.photoitem, .albumtable, .table_wrapper {
	margin: 7px 0;
	padding: 5px;
	border: 1px #ccc solid;
}

.photoitem .deletelink
{
	text-decoration: none;
	border: none;
	color: red;
	font-weight: bold;
	float: left;
}

.photoitem .copylink
{
	text-decoration: none;
	border: none;
	color: blue;
	font-weight: bold;
	float: left;
}

.photoselect {
	position: relative;
	margin: 7px;
	padding: 5px;
	border: 1px #ccc solid;
	display: block;
	float: left;
}

.photoselect input {
	float: right;
}

tt {
    font-weight: bold;
    font-family: Consolas,Monaco,"Courier New",Courier,monospace;
    background-color: #e0e0e0;
}

.wppaedit {
	font-weight: bold;
	color: green;
}

.wppadelete {
	font-weight: bold;
	color: red;
}

.wppacreate {
	font-weight: bold;
	color: blue;
	cursor: pointer;
}

.alternate {
	background-color: #f5f5f5;
}

h4 {
	margin: 0;
}

h6 {
	margin: 0;
	font-size: 1em;
}

hr {
	height: 0px;
	border-color: #ccc;
	color: #ccc;
	margin: 0;
	border-width: 1px;
	background-color: #f7f6f1;
}

.updatedok {
	margin: 5px 0 15px;
	background-color: #e0ffe0;
	border: 1px solid #55ff55;
	padding: 0 20px;
}

.wp-menu-image a:link {
background-color:transparent;
}
#wppa-err-table {
border:1px solid black;
	border-collapse:collapse;
}
#wppa-err-table td {
	font-size:16px;
	border:1px solid black;
	padding:1px 6px;
}
#wppa-err-table tbody td {
	font-weight:normal;
}
.wppa-none {
	display:none !important;
}
/* phpinfo */
#phpinfo {background-color: #ffffff; color: #000000;}
#phpinfo, #phpinfo td, #phpinfo th, #phpinfo h1, #phpinfo h2 {font-family: sans-serif;}
#phpinfo pre {margin: 0px; font-family: monospace;}
#phpinfo a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
#phpinfo a:hover {text-decoration: underline;}
#phpinfo table {border-collapse: collapse;}
#phpinfo .center {text-align: center;}
#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left; width:600px;}
#phpinfo .center th { text-align: center !important; }
#phpinfo td, #phpinfo th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
#phpinfo h1 {font-size: 150%;}
#phpinfo h2 {font-size: 125%;}
#phpinfo .p {text-align: left;}
#phpinfo .e {background-color: #ccccff; font-weight: bold; color: #000000;}
#phpinfo .h {background-color: #9999cc; font-weight: bold; color: #000000;}
#phpinfo .v {background-color: #cccccc; color: #000000;}
#phpinfo .vr {background-color: #cccccc; text-align: right; color: #000000;}
#phpinfo img {float: right; border: 0px;}
#phpinfo hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}

/*.wppa-links table { border-top:1px solid #ccc; margin:0; padding:0; }*/
.wppa-links td { margin:0 !important; padding:0 10px !important; }

