.field_title { font-size: 14px; }

.nxsSellItSmall {max-width: 100px; width: 100px;}

.nxs_terms_leftPanel, .nxs_metas_leftPanel{ display: inline-block; width: 100px; vertical-align: top; }
.nxs_terms_rightPanel, .nxs_metas_rightPanel{display: inline-block; clear: both; vertical-align: top;}
.nxs_terms_leftPanel .nxs_remove_term_compare, .nxs_metas_leftPanel .nxs_remove_meta_compare{ margin-top: 16px; height: 30px; }

div.nxs_short_field {
    display: inline-block;
    width: 100px;
    min-width: 100px !important;
    vertical-align: top;
    margin-right: 10px;
}

div.nxs_shortXL_field {
    display: inline-block;
    width: 150px;
    min-width: 100px !important;
    vertical-align: top;
    margin-right: 10px;
}

div.nxs_medium_field {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    min-width: 200px !important;
    margin-right: 20px;
}

div.nxs_medium_field_txn {
    display: inline-block;
    vertical-align: top;
    width: 205px;
    min-width: 200px !important;
    margin-right: 20px;
}
div.nxs_mediumXL_field_txn {
    display: inline-block;
    vertical-align: top;
    width: 305px;
    min-width: 300px !important;
    margin-right: 20px;
}
div.nxs_medium_field_txnNL {
    display: block;
    vertical-align: top;
    width: 80%;
    min-width: 300px !important;
    margin-right: 20px;
}


div.nxs_medium_field_txn select {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    min-width: 200px !important;
    margin-right: 20px;
}

div.nxs_small_field {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-right: 10px;
}

div.nxs_checkbox_field {
    padding-top: 25px;
}

.nxs_add_term_compare, button.nxs_remove_term_compare, .nxs_add_meta_compare, button.nxs_remove_meta_compare, button#nxs_add_date_period, button.nxs_remove_date_period, button#nxs_add_date_abs_period, button.nxs_remove_date_abs_period {
    height: 37px;
    margin-top: 19px;
}

#nxs_date_metabox .nxs_checkbox_field .nxs-checkbox{
    width: 35px;
    height: 35px;
}

#nxs_date_metabox .nxs_checkbox_field .nxs-checkbox::before{
    margin: -4px 0 0 -8px;
    font-size: 45px;
}


#nxs_date_metabox h2 {
    background-color: rgba(141, 141, 137, 0.21);
}

#poststuffPopup h3 {
/*    background-color: #dbff8a; */ font-size: 18px;

background: rgba(211,245,178,1);
background: -moz-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(211,245,178,1)), color-stop(100%, rgba(247,255,224,1)));
background: -webkit-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: -o-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
background: linear-gradient(135deg, rgba(211,245,178,1) 0%, rgba(247,255,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3f5b2', endColorstr='#f7ffe0', GradientType=1 );
}

#poststuffPopup h4 {
    font-size: 15px;
}


.nxsSelIt {min-width: 400px;}



/* iCheck plugin Line skin, blue
----------------------------------- */
.icheckbox_line-blue,
.iradio_line-blue {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 15px 5px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #2489c5;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
    .icheckbox_line-blue .icheck_line-icon,
    .iradio_line-blue .icheck_line-icon {
        position: absolute;
        top: 50%;
        left: 13px;
        width: 13px;
        height: 11px;
        margin: -5px 0 0 0;
        padding: 0;
        overflow: hidden;
        background: url(images/line.png) no-repeat;
        border: none;
    }
    .icheckbox_line-blue.hover,
    .icheckbox_line-blue.checked.hover,
    .iradio_line-blue.hover {
        background: #3DA0DB;
    }
    .icheckbox_line-blue.checked,
    .iradio_line-blue.checked {
        background: #2489c5;
    }
        .icheckbox_line-blue.checked .icheck_line-icon,
        .iradio_line-blue.checked .icheck_line-icon {
            background-position: -15px 0;
        }
    .icheckbox_line-blue.disabled,
    .iradio_line-blue.disabled {
        background: #ADD7F0;
        cursor: default;
    }
        .icheckbox_line-blue.disabled .icheck_line-icon,
        .iradio_line-blue.disabled .icheck_line-icon {
            background-position: -30px 0;
        }
    .icheckbox_line-blue.checked.disabled,
    .iradio_line-blue.checked.disabled {
        background: #ADD7F0;
    }
        .icheckbox_line-blue.checked.disabled .icheck_line-icon,
        .iradio_line-blue.checked.disabled .icheck_line-icon {
            background-position: -45px 0;
        }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_line-blue .icheck_line-icon,
    .iradio_line-blue .icheck_line-icon {
        background-image: url(images/line@2x.png);
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}



/* iCheck plugin Minimal skin, blue
----------------------------------- */
.icheckbox_minimal-blue,
.iradio_minimal-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(images/blueX.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal-blue {
    background-position: 0 0;
}
    .icheckbox_minimal-blue.hover {
        background-position: -20px 0;
    }
    .icheckbox_minimal-blue.checked {
        background-position: -40px 0;
    }
    .icheckbox_minimal-blue.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox_minimal-blue.checked.disabled {
        background-position: -80px 0;
    }

.iradio_minimal-blue {
    background-position: -100px 0;
}
    .iradio_minimal-blue.hover {
        background-position: -120px 0;
    }
    .iradio_minimal-blue.checked {
        background-position: -140px 0;
    }
    .iradio_minimal-blue.disabled {
        background-position: -160px 0;
        cursor: default;
    }
    .iradio_minimal-blue.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_minimal-blue,
    .iradio_minimal-blue {
        background-image: url(images/blue@2x.png);
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
}

.manualPostBtn{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.manualPostBtn::-moz-focus-inner{padding:0;border:0}.manualPostBtn{font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px}.manualPostBtn-hover,.manualPostBtn:hover,.manualPostBtn:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}.manualPostBtn:focus{outline:0}.manualPostBtn-active,.manualPostBtn:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;border-color:#000\9}.manualPostBtn[disabled],.manualPostBtn-disabled,.manualPostBtn-disabled:hover,.manualPostBtn-disabled:focus,.manualPostBtn-disabled:active{border:0;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:alpha(opacity=40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4;cursor:not-allowed;box-shadow:none}.manualPostBtn-hidden{display:none}.manualPostBtn::-moz-focus-inner{padding:0;border:0}.manualPostBtn-primary,.manualPostBtn-selected,a.manualPostBtn-primary,a.manualPostBtn-selected{background-color:#0078e7;color:#fff}

.manualPostBtn{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.manualPostBtn::-moz-focus-inner{padding:0;border:0}

.manualPostBtn{
    color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); font-size: 11px; background: #9D9D9D; padding-top: 3px;
}

.nxsShowQmark {cursor: help; position: relative; bottom: -3px;}

.dd-container {display:inline-block;}
.dd-selected {color:black;}
.dd-selected-text {line-height: 20px; color:black;}
.dd-options {max-height: 500px;}

#nxs_spFltPopupX,  #nxs_spFltPopup .postbox{
  /*  background-image: url('http://www.nextscripts.com/imgs/ptbg2.png'); background-repeat: no-repeat; background-position: right bottom; */
  border-color: #b5ea7c;    
}

.nxsHiLightBorder {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.nxs_ldos {color: #0073aa; cursor: pointer;}

.nxs_authPopup {display: block; position: absolute;top: 25px;left: 25px; width: 50%; height: 540px; max-width: 960px; padding: 0px; border: 6px solid #008000; background-color: white; z-index: 1002;}
.nxs_authPopupIn {z-index: 1003; height: 475px; overflow: auto; padding: 10px;}
.nxs_authPopupHdr { background-color: #008000; color: white; height: 24px; padding: 10px;}
.nxs_authPopupClose { background-color: white; color: #008000; height: 24px; float: right; padding: 4px;}

.nxsTeal {color:#008080}
.nxsBlue {color:#025294}
.nxsGreen {color:#005800}
.nxsOrange {color:#FF8800}
.nxsDarkRed {color:#800000}
.nxsDarkOrange {color:#884900}

pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }