.wpuf-post-form{
    list-style: none;
    margin: 0;
    padding: 0;
}
.wpuf-post-form li{
    margin: 5px 0;
    padding: 0;
}

.wpuf-post-form label {
    float: left;
    font-weight: bold;
    height: 20px;
    margin: 0;
    min-width: 130px;
    padding: 0 10px 0 0;
    font-size: 12px;
    cursor: pointer;
}

.wpuf-post-form input, .wpuf-post-form textarea, .wpuf-post-form select{
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wpuf-post-form input:focus, .wpuf-post-form textarea:focus, .wpuf-post-form select:focus{
    background: #F2F2F2;
}

.wpuf-post-form .childCategory {
    padding-top: 5px;
}

.wpuf-post-form input[type=text]{
    width: 50%;
}

.wpuf-post-form textarea{
    width: 70%;
}

.wpuf-post-form .wpuf-check-container {
    float: left;
    width: 70%;
}

.wpuf-post-form input[type=submit], .wpuf-submit, .wpuf-button{
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-shadow: 0 1px 0 #FFFFFF;
    background: #eeeeee; /* old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* webkit */
    cursor: pointer;
}

.wpuf-post-form input[type=submit]:active, .wpuf-submit:active, .wpuf-button:active{
    background: #ddd;
}

.wpuf-post-form input[type=submit]:hover, .wpuf-submit:hover, .wpuf-button:hover{
    background: #ddd; /* old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* webkit */
}

.wpuf-post-form p.description {
    color: #868686;
    margin: 0;
    padding: 3px 0 3px 140px;
    font-size: 12px;
}

.wpuf-post-form #wp-new-post-desc-wrap tr td {
    padding: 0;
}

.clear{
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.success {
    background-color: #DFF2BF;
    border: 1px solid #BCDF7D;
    color: #4F8A10;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 13px;
}


.error {
    margin: 0 10px 10px 10px;
    padding: 3px 10px;
    color: #D8000C;
    background-color: #FFBABA;
    border: solid 1px #dd3c10;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 13px;
}

.info {
    background-color: #fef5be;
    border: 2px solid #fdd425;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    font-size: 13px;
}

#content .wpuf-profile table, .wpuf-profile table{
    border: none;
}

#content .wpuf-profile legend, .wpuf-profile legend{
    border: 1px solid #eee;
    padding: 5px 10px;
}

#content .wpuf-profile th, #content .wpuf-profile td, .wpuf-profile th, .wpuf-profile td{
    vertical-align: top;
    border-top: 1px solid #eee;
    border: none;
}

#content .wpuf-profile input, .wpuf-profile input, .wpuf-profile textarea{
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 5px;
}

.wpuf-profile h3, #content .wpuf-profile h3{
    margin: 0;
}

.wpuf-profile table, #content .wpuf-profile table{
    margin: 0 0 5px 0;
}

#content #editorcontainer tr td, #content #editorcontainer table {
    padding: 0;
    margin: 0;
}

#wpuf-post-area li{
    list-style: none;
}

span.required {
    color: red;
}

table.wpuf-table {
    border: 1px solid #E7E7E7;
    margin: 0 opx 10px 0;
    text-align: left;
    width: 100%;
}

table.wpuf-table thead th, table.wpuf-table th {
    color: #888888;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}

table.wpuf-table td {
    border-top: 1px solid #E7E7E7;
    padding: 6px 24px;
}

.post_count {
    border: 1px solid #E7E7E7;
    margin: 5px 0;
    padding: 5px;
}

.post_count span {
    font-weight: bold;
}

.wpuf-pagination {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/** author info **/
.wpuf-author {
    clear: both;
    margin: 10px 0;
}
.wpuf-author h3{
    margin: 0 !important;
    background: #CFCFCF;
    text-align: left;
    padding: 3px 10px;
}
.wpuf-author-inside {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 2px solid #DDDDDD;
    height: 90px;
    padding-left: 10px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.wpuf-author-inside .wpuf-user-image {
    float: left;
    padding-right: 15px;
}
.wpuf-author-body p {
    margin-bottom: 10px !important;
}

.wpuf-author-body p.wpuf-user-name a {
    color: #335160;
    font-size: 1.2em;
    font-weight: bold;
}

.wpuf-author-inside p.wpuf-author-info {
    padding-top: 8px;
}

.invalid {
    border: 1px solid #FF7272 !important;
}


#pass-strength-result {
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 12px 5px 5px 1px;
    padding: 7px;
    text-align: center;
    width: 248px;
}
#pass-strength-result.good {
    background-color: #FFEC8B;
    border-color: #FFCC00 !important;
}
#pass-strength-result {
    background-color: #EEEEEE;
    border-color: #DDDDDD !important;
}
#pass-strength-result.bad {
    background-color: #FFB78C;
    border-color: #FF853C !important;
}
#pass-strength-result.strong {
    background-color: #C3FF88;
    border-color: #8DFF1C !important;
}
#pass-strength-result.short {
    background-color: #FFA0A0;
    border-color: #F04040 !important;
}

.timestamp-wrap input {
    width: 40px !important;
}

.wpuf_sub_info {
    padding: 0;
    margin: 10px 5px;
    border: 1px solid green;
    border-radius: 5px;
}

.wpuf_sub_info h3{
    margin: 0 0 5px 0 !important;
    background: green;
    color: #fff !important;
    padding: 3px 10px !important;
    font-weight: bold;
}

.wpuf_sub_info .text{
    padding: 5px 10px;
}


ul.wpuf_packs {
    overflow: hidden;
    margin: 35px 0 15px;
}

ul.wpuf_packs li {
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    float: left;
    list-style: none outside none;
    margin: 25px 25px 10px 0;
    padding: 5px;
    position: relative;
    width: 200px;
}

ul.wpuf_packs h3 {
    padding: 10px !important;
    font-size: 14px;
    font-weight: bold;
}

ul.wpuf_packs p {
    padding: 0 10px;
    margin-bottom: 8px;
}

.wpuf_packs .cost {
    background: red;
    border-radius: 30px 30px 30px 30px;
    color: #FFFFFF;
    margin: -16px -12px 0 0;
    padding: 10px 8px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.wpuf-loading {
    height: 16px;
    width: 16px;
    background: url('../images/wpspin_light.gif') no-repeat;
    padding: 0;
    margin: 5px 10px;
    right: -40px;
    top: 0;
    float: left;
}

.wpuf-pagination div.pagination{
    text-align:center;
    padding:7px;
    margin:3px;
}

.wpuf-pagination .page-numbers{
    padding:2px 8px;
    margin:2px;
    border:1px solid #4A5154;
    text-decoration:none;
    color:#4A5154;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.wpuf-pagination .page-numbers:hover,
.wpuf-pagination .page-numbers:active{
    border:1px solid #4A5154;
    background-color:#4A5154;
    color:#fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.wpuf-pagination .page-numbers.current{
    padding:2px 8px;
    margin:2px;
    border:1px solid #4A5154;
    font-weight:bold;
    background-color:#4A5154;
    color:#FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#wpuf-ft-upload-filelist img {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    float: left;
}

#wpuf-ft-upload-filelist .button {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #5F5F5F;
}

ul.wpuf-category-checklist {
    margin: 0;
    list-style: none;
}
.wpuf-post-form .category-wrap {
    position: relative;
}

.wpuf-post-form .category-wrap select {
    display: block;
    margin: 0 0 5px 0;
}

#wpuf-attachment-upload-filelist .wpuf-attachment {
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #eee;
}

#wpuf-attachment-upload-filelist .wpuf-attachment .attachment-name {
    font-size: 12px;
    margin: 0 0 0 15px;
}

#wpuf-attachment-upload-filelist .wpuf-attachment .button {
    padding: 3px 8px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    color: #333;
    font-size: 12px;
    margin: 0 0 0 15px;
    border-radius: 5px;
}

#wpuf-attachment-upload-pickfiles {
    font-weight: bold;
    color: #333;
    padding: 3px 8px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    margin: 5px 0 15px 0;
    border-radius: 5px;
}

#wpuf-attachment-upload-filelist .handle {
    background: url('../images/arrow-move.png') no-repeat;
    cursor: move;
    display: inline-block;
    height: 16px;
    margin: 0 10px 0 0;
    padding: 0;
    text-indent: -9999px;
    width: 16px;
}