.wd-admin-notice {
  background: #fff;
  border: 4px;
  display: block;
  min-height: 68px;
  padding: 10px 40px 10px 125px;
  position: relative;
}
.wd-admin-notice a {
  color: #10738B;
}
.wd-notice-logo {
  clear: both;
  content: "";
  display: block;
  background-size: 108px auto;
  background-repeat: no-repeat;
  background-position: 0 45%;
  width: 125px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
}
.wd-admin-notice > .dashicons {
  color: #424242;
  position: absolute;
  right: 20px;
  top: 40%;
}
.wd-notice-title {
  font-size: 24px;
  margin: 0;
}
.wd-notice-body {
  font-weight: normal;
  margin: 5px 0;
}
.wd-notice-body:after {
  clear: both;
  content: "";
  display: block;
}
.wd-notice-body li {
  float: left;
  margin-right: 20px;
}
.wd-notice-body .dashicons {
  font-size: 17px;
}
.wd-blue {
  color: #10738B;
}

.admin-notice-promo {
  background: #fff;
  border-top: 4px;
  display: block;
  min-height: 68px;
  padding: 10px 40px 0px 10px;
  margin: 10px 0;
  position: relative;
}

.admin-notice-promo:after {
  content: '';
  display: table;
  clear: both;
}

.close-promo {
  position: absolute;
  top: 5px;
  right: 5px;
}

.promo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 972px 200px;
  height: 200px;
  max-width: 100%;
}

.promo a {
  display: block;
  height: 100%;
}