#wpfooter {
    display: none;
}
#wpbody-content > div:not(.tenweb_overview){
    display:none;
}
#wpbody-content {
    padding-bottom: 0;
}

.tenweb_overview .tenweb_header{
    background:url(../img/slide-1366.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.tenweb_overview .tenweb_footer.without_demo,
.tenweb_overview .tenweb_how_it_works{
    background:url(../img/how_it_works.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.tenweb_overview {
    margin-left: -20px;
}
.tenweb_overview .tenweb_plugin_features,
.tenweb_overview .tenweb_footer{
    background:#ffffff;
}
.tenweb_overview .tenweb_plugin_features *,
.tenweb_overview .tenweb_footer *{
    color:#2c3144;
}
.tenweb_overview .tenweb_how_it_works .container{
    padding:60px 0 52px;
}
.tenweb_overview .tenweb_footer.without_demo *,
.tenweb_overview .tenweb_how_it_works *,
.tenweb_overview .tenweb_header *{
    color:#fff;
}
.tenweb_overview h2 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    margin:0;
    padding: 0 0 20px;
    line-height: 1.4em;
}
h3.more_features {
    font-size: 21px;
    text-transform: uppercase;
}
img.plugin_logo {
    margin-bottom: 18px;
}

.tenweb_overview .and {
    font-size: 50px;
    margin: 17px 14px 19px;
    line-height: 1;
    font-weight: lighter;
}
.tenweb_overview .and.circle {
    font-size: 50px;
    margin: 15px 14px;
    line-height: 1.3;
    font-weight: lighter;
    display: inline-block;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    border-radius: 35px;
}
.tenweb_plugin_features .container {
    padding: 30px 0;
}
.tenweb_overview a.more {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}
.tenweb_overview a.more:not(.blue) {
    margin-top: 23px;
}
.tenweb_overview a.more.blue {
    color:#397cf1;
}
.tenweb_clear:after{
    content:"";
    display:table;
    clear:both;
}
.tenweb_overview .container{
    width:1190px;
    max-width:100%;
    margin:0 auto;
    text-align:center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.plan_features.tenweb_clear {
    font-size: 0;
}
.tenweb_overview .plan_feature {
    width: 24%;
    display: inline-block;
    margin: 0 .5% 30px;
}
.tenweb_overview .plan_feature h3 {
    font-size: 17px;
    text-transform: uppercase;
    margin: 18px 0;
}
.tenweb_overview .plan_feature p {
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.4em;
}
.tenweb_overview .plan_feature .logo {
    background: url(../img/header.svg);
    margin:0 auto;
}
.tenweb_overview .plan_feature.image_optimizer .logo {
    background-size: 191px;
    background-position: 0px -55px;
    width: 68px;
    height: 51px;
    margin: 0 auto 35px;
}
.tenweb_overview .plan_feature.pro_plugins .logo {
    background-size: 194px;
    background-position: 0px -118px;
    width: 55px;
    height: 68px;
}
.tenweb_overview .plan_feature.dashboard .logo {
    background-size: 195px;
    background-position: 0px -196px;

    width: 68px;
    height: 56px;
    margin: 0 auto 30px;
}
.tenweb_overview .plan_feature.pro_themes .logo {
    background-size: 190px;
    background-position: 0px -254px;

    width: 57px;
    height: 58px;
    margin: 0 auto 28px;
}
.tenweb_overview .plan_feature.seo .logo {
    background-size: 200px;
    background-position: 0px -338px;

    width: 61px;
    height: 63px;
    margin: 0 auto 23px;
}
.tenweb_overview .plan_feature.security .logo {
    background-size: 194px;
    background-position: 0px -398px;

    width: 55px;
    height: 62px;
    margin: 0 auto 24px;
}
.tenweb_overview .plan_feature.backup .logo {
    background-size: 250px;
    background-position: 0px -602px;

    width: 100px;
    height: 60px;
    margin: 0 auto 26px;
}
.tenweb_overview .plan_feature.hosting .logo {
    background-size: 196px;
    background-position: 0px -527px;

    width: 64px;
    height: 64px;
    margin: 0 auto 22px;
}
.tenweb_overview a.button {
    background: #367bf2;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 16px 30px;
    line-height: 1;
    border-radius: 2px;
    display: inline-block;
    border: 0 !important;
    box-shadow: none;
    height: auto;
}
.tenweb_overview a.button.transparent {
    background: transparent !important;
    color: #ffffff;
    border: 1px solid #ffffff !important;
    width: 160px;
    margin: 0 5px;
}
.tenweb_overview a.button:hover {
    background: #367bf2;
    color: #ffffff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
.tenweb_overview .tenweb_header .container_top a.button {
    font-size: 18px;
    padding: 13px 30px;
    display:table-cell;
}
.tenweb_overview .tenweb_logo {
    float: left;
    width: 197px;
}
.tenweb_overview .tenweb_logo a div {
    background: url(../img/header.svg);
    height: 53px;
    background-size: 196px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.tenweb_overview .tenweb_header_right {
    float: right;
    text-align: right;
    display: table;
}

.tenweb_overview .inline-block.header_text {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.5;
    padding-right: 10px;
    letter-spacing: 0;
    margin-top: 2px;
    width: calc(100% - 180px);
    display:table-cell;
    vertical-align:middle;
}
.tenweb_overview .tenweb_header_divider {
    height:18px;
    background:#fff;
}
.tenweb_overview .container_top {
    padding:24px 15px;
}
.tenweb_overview .container_bottom {
    padding: 50px 0 40px;
}
.tenweb_overview .plugin_features.tenweb_clear {
    margin-top: 40px;
}
.plugin_features .plugin_feature_logo{
    height:54px;
}
.plugin_features .plugin_feature{
    width: 31%;
    margin: 0 1% 20px;
    /*float: left;*/
    display: inline-block;
}

.plugin_features .plugin_feature h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.plugin_features .plugin_feature p {
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.4em;
    min-height: 63px;
}
.tenweb_how_it_works a.button {
    margin-top: 12px;
}
.plugin_features .plugin_feature img{
    width:54px;
    max-height: 100%;
}
.tenweb_footer {
    padding: 70px 0 80px;
}

.tenweb_footer p {
    font-size: 22px;
    font-weight: lighter;
    margin: 8px 0 20px;
}
.tenweb_footer h2 {
    font-size: 31px;
}
.tenweb_overview img.plugin_logo {
    width: 100px;
}
@media only screen and (min-width: 1620px){
    .plugin_features .plugin_feature p {
        font-size: 17px;
    }
    .tenweb_overview img.plugin_logo {
        width: 130px;
    }
    .tenweb_overview .container{
        width:1600px;
    }
    .tenweb_overview .inline-block.header_text{
        font-size: 19px;
        line-height: 1.2;
        padding-right: 18px;
        letter-spacing: .8px;
        width: calc(100% - 193px);
        margin-top: 0;
    }
    .tenweb_overview h2 {
        font-size: 28px;
        padding: 10px 0 20px;
    }
    .tenweb_overview .and {
        font-size: 60px;
        margin: 18px 14px;
    }
    .tenweb_overview .and.circle {
        font-size: 60px;
        margin: 20px 14px;
        line-height: 1.4;
        width: 90px;
        height: 90px;
        border-radius: 45px;
    }
    .tenweb_overview .plan_feature {
        width: 23%;
        display:inline-block;
        margin: 0 1% 40px;
    }
    .tenweb_overview .plan_feature h3 {
        font-size:20px;
    }
    .tenweb_overview .plan_feature p {
        height: 72px;
        font-size:16px;
    }
    .plugin_features .plugin_feature p{
        font-size:18px;
        height: 75px;
    }
    .plugin_features .plugin_feature h3{
        font-size:20px;
    }
    .tenweb_footer h2{
        font-size:37px;
    }
    .tenweb_footer p {
        font-size: 24px;
    }
    .tenweb_overview .container_top {
        padding: 29px 0;
    }
}
@media only screen and (max-width: 1320px){
    .plugin_features .plugin_feature,
    .tenweb_overview .plan_feature {
        width: 46%;
        display: inline-block;
        margin: 0 1.5% 10px;
    }
    .tenweb_footer h2 {
        font-size: 26px;
    }
    .tenweb_footer p {
        font-size: 20px;
        line-height: 1.4em;
    }
    .tenweb_overview .container {
        width: 99%;
    }
    .tenweb_overview .inline-block.header_text {
        text-transform: uppercase;
        font-size: 13px;
    }
}
@media only screen and (max-width: 1200px){

    .tenweb_overview .tenweb_header_right {
        float: right;
        text-align: right;
        display: table;
        width: calc(100% - 267px);
    }
}
@media only screen and (max-width: 840px){
    .tenweb_overview .inline-block.header_text {
        display:block;
        padding-right: 0;
        margin-top: 10px;
        width: 100%;
        clear:both;
    }
    .tenweb_overview .tenweb_header .container_top a.button {
        display:inline-block;
    }
    .tenweb_overview .tenweb_logo a div {
        height: 37px;
        background-size: 145px;
        background-position: 0 0px;
    }
    .tenweb_overview .tenweb_logo {
        float: left;
        width: 150px;
    }
    .tenweb_overview {
        margin-left: -10px;
    }
    .plugin_features .plugin_feature,
    .tenweb_overview .plan_feature {
        width: 88%;
        margin: 0 auto 10px;
        float: none;
    }
    .tenweb_overview .plan_feature p,
    .plugin_features .plugin_feature p	{
        overflow: visible;
        -webkit-line-clamp: none;
        height: auto;
    }
    .tenweb_footer h2 {
        font-size: 23px;
    }
    .tenweb_footer p {
        font-size: 18px;
        line-height: 1.4em;
    }
    .tenweb_overview .plugin_features.tenweb_clear {
        margin-top: 20px;
    }
    .tenweb_footer {
        padding: 50px 0 60px;
    }
    .tenweb_overview .tenweb_logo {
        float: none;
        width: 150px;
        margin: 0 auto 10px;
    }
    .tenweb_overview .tenweb_header_right {
        float: none;
        width: 100%;
        text-align: center;
    }
    .tenweb_overview .tenweb_header_right a.button {
        float: none;
    }
    .tenweb_overview .inline-block.header_text {
        float: none;
        margin-top: 10px;
    }
    .tenweb_overview h2 {
        font-size: 21px;
    }
}
