.link_full_page_editor {
	margin-bottom: 0 !important;
}

.post-type-link_library_links .wp-editor-tools {
	padding-top: 0px !important;
}

#wp-content-editor-tools {
	background-color: #fff;
}

.wp-list-table #link_library_rating {
	width: 80px;
}

.wp-list-table #link_library_visits {
	width: 60px;
}

#ll-usage table.widefat td {
	padding: 2px 4px 2px 10px;
}

.link-library-cat-override select, .link-library-cat-exclude-override select, .link-library-tag-override select {
	height: 100px !important;
}

.link-library-cat-override .components-input-control__suffix, .link-library-cat-exclude-override .components-input-control__suffix, .link-library-tag-override .components-input-control__suffix {
	display: none;
}

.ll_preset {
	text-align: center;
	float: left;
	padding: 16px;
	min-height: 340px;
}

.ll-block-warning {
	font-size: 14px !important;
	padding: 8px !important;
	border: solid 1px red !important;
}