
.oxi-image-hover-style-square{
   
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.oxi-image-hover-style-square:after {
    padding-bottom: 100%;
    content: "";
    display: block;
}
.oxi-image-hover-style-square .oxi-image-general-hover,
.oxi-image-hover-style-square .oxi-image-hover-figure{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}


.oxi-image-hover-style-square .oxi-image-hover-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    pointer-events: none;
}
.oxi-image-hover-style-square .oxi-image-hover-figure:before{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    content: "";
    display: block;
    pointer-events: none;
    z-index: 11;
}
.oxi-image-hover-style-square .oxi-image-hover-image:before{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    content: "";
    pointer-events: none;
    z-index: 11;
    display: block;
}
.oxi-image-hover-style-square .oxi-image-hover-image img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 
.oxi-image-hover-style-square  .oxi-image-hover-figure-caption{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}
.oxi-image-hover-style-square  .oxi-image-hover-figure-caption:before{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    content: "";
    display: block;
    z-index: 11;
    pointer-events: none;
}
.oxi-image-hover-style-square  .oxi-image-hover-figure-caption:after{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    content: "";
    display: block;
    pointer-events: none;

}
.oxi-image-square-hover .oxi-image-hover-caption-tab{
    overflow: hidden;
    z-index: 1;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;

}
.oxi-image-hover-caption-tab{
    display: flex;
    align-items: center;
    justify-content: center;
}


.oxi-image-hover-figure-heading{
    width: 100%;
}

.oxi-image-square-hover .oxi-image-hover-heading{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0px;
    color: #ffffff;
    width: 100%;
    position: relative;
}
.oxi-image-square-hover .oxi-image-hover-heading.oxi-image-hover-heading-underline{
    position: relative;
}
.oxi-image-square-hover .oxi-image-hover-heading.oxi-image-hover-heading-underline:before{
    position: absolute;
    content: "";
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;    
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.oxi-image-square-hover .oxi-image-hover-content{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
    color: #ffffff;
    width: 100%;
}
.oxi-image-square-hover .oxi-image-hover-button{
    position: relative;
    width: 100%;
    display: block;
}
.oxi-image-square-hover a.oxi-image-btn{
    display: inline-block;
    font-size: 12px;
    color: #00a88f;
    background: #fafafa;
    font-weight: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 10px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}