
.oxi-image-square-hover-style-12 .oxi-image-hover-figure .oxi-image-hover-figure-caption{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.35s ease 0.2s;
    -moz-transition: all 0.35s ease 0.2s;
    transition: all 0.35s ease 0.2s;
}

.oxi-image-square-hover-style-12.oxi-image-hover:hover .oxi-image-hover-figure .oxi-image-hover-figure-caption,
.oxi-image-square-hover-style-12.oxi-image-hover.oxi-touch .oxi-image-hover-figure .oxi-image-hover-figure-caption{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.oxi-image-square-hover-style-12.oxi-image-hover:hover .oxi-image-hover-figure .oxi-image-hover-image,
.oxi-image-square-hover-style-12.oxi-image-hover.oxi-touch .oxi-image-hover-figure .oxi-image-hover-image{
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
.oxi-image-square-hover-style-12 .oxi-image-hover-figure.left_to_right .oxi-image-hover-image {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    -o-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
}
.oxi-image-square-hover-style-12.oxi-image-hover:hover .oxi-image-hover-figure.left_to_right .oxi-image-hover-image,
.oxi-image-square-hover-style-12.oxi-image-hover.oxi-touch .oxi-image-hover-figure.left_to_right .oxi-image-hover-image{
    -webkit-transform: translateX(100%) rotate(180deg);
    -moz-transform: translateX(100%) rotate(180deg);
    -ms-transform: translateX(100%) rotate(180deg);
    -o-transform: translateX(100%) rotate(180deg);
    transform: translateX(100%) rotate(180deg);
}
.oxi-image-square-hover-style-12 .oxi-image-hover-figure.right_to_left .oxi-image-hover-image {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    -o-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
}
.oxi-image-square-hover-style-12.oxi-image-hover:hover .oxi-image-hover-figure.right_to_left .oxi-image-hover-image,
.oxi-image-square-hover-style-12.oxi-image-hover.oxi-touch .oxi-image-hover-figure.right_to_left .oxi-image-hover-image{
    -webkit-transform: translateX(-100%) rotate(-180deg);
    -moz-transform: translateX(-100%) rotate(-180deg);
    -ms-transform: translateX(-100%) rotate(-180deg);
    -o-transform: translateX(-100%) rotate(-180deg);
    transform: translateX(-100%) rotate(-180deg);
}
.oxi-image-square-hover-style-12 .oxi-image-hover-figure.top_to_bottom .oxi-image-hover-image {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.oxi-image-square-hover-style-12.oxi-image-hover:hover .oxi-image-hover-figure.top_to_bottom .oxi-image-hover-image,
.oxi-image-square-hover-style-12.oxi-image-hover.oxi-touch .oxi-image-hover-figure.top_to_bottom .oxi-image-hover-image{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.oxi-image-square-hover-style-12 .oxi-image-hover-figure.bottom_to_top .oxi-image-hover-image {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.oxi-image-square-hover-style-12.oxi-image-hover:hover .oxi-image-hover-figure.bottom_to_top .oxi-image-hover-image,
.oxi-image-square-hover-style-12.oxi-image-hover.oxi-touch .oxi-image-hover-figure.bottom_to_top .oxi-image-hover-image{
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}