.x-color-palette {cursor: pointer;background-color:#ffffff;border:solid 1px #999;padding:0px;}
.x-color-palette a {border-top: 1px solid #fff;border-left: 1px solid #fff;float: left;text-decoration: none;-moz-outline: 0 none;outline: 0 none;cursor: pointer;margin:0px;padding:0px;}
.x-color-palette a:hover {border-top: 1px solid #555;border-left: 1px solid #555;}
.x-color-palette a em span{padding:0px;cursor: pointer;display: block;height: 13px;line-height: 11px;width: 13px;}
.x-color-palette em {display: block;}
.containtdiv{border:solid 1px #3C7FB1;background:#ffffff url("images/dropdown.png") no-repeat 35px center;cursor:pointer;overflow:hidden;float:left;width:48px;height:19px;margin-top:1px;margin-right:2px;}
.leftdiv{width :25px;height:13px;margin:2px 2px 0px 2px;font-size:1px;}