.image-hover-filter-style-1 {
    width: 100%;
    float: left;
    padding: 10px 10px 10px 10px
}

.image-hover-filter-style-1 .image-hover-category-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image-hover-filter-style-1 .image-hover-category-menu-item {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    color: #8d8d8d;
    background: rgba(71, 201, 229, 0.00);
    border-style: solid;
    border-width: 0px;
    font-weight: 200;
    font-style: normal;
    line-height: 1.3;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    padding: 6px 18px 6px 18px;
    margin: 8px 8px 8px 8px;
    box-shadow: 0px 0px 0px 0px rgba(138, 138, 138, 1)
}

.image-hover-filter-style-1 .image-hover-category-menu-item:hover,
.image-hover-filter-style-1 .image-hover-category-menu-item.oxi-active {
    color: #ffffff;
    background: rgba(71, 201, 229, 1.00);
    box-shadow: 0px 10px 25px 0px rgba(69, 200, 230, 0.55)
}

.image-hover-filter-style-1 .image-hover-category,
.image-hover-filter-style-1 .image-hover-category-data{
    width: 100%;
    float: left;
}




